@import 'variables';
@import 'helper';

:host{

	@include mx-d-grid;
	grid-template-columns		: 1fr;
	gap							: $page-padding;

	@include mx-md() {

		// todo : repeat(auto-fit, minmax(360px, 1fr)); what's the difference
		// todo : use rem
		grid-template-columns	: repeat(auto-fill, minmax(360px, 1fr));

	}

	.empty {

		grid-column				: 1 / 5;

	}

}
