@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	@include mx-overlay-content;

	form {

		@include mx-flex-column;
		padding			: var(--gap-xs);
		gap				: var(--gap-sm);

		& > [task_status_row] {

			display					: grid;
			grid-template-columns	: 1fr 1fr 1fr;
			gap						: var(--gap-sm);

		}

		& > [task_date_row] {

			display					: grid;
			grid-template-columns	: 1fr 1fr;
			gap						: var(--gap-sm);

		}

	}

}
