<w-overlay-container>

	<ng-container card_title>@if (isEdit()) { Edit Task } @else { Add Task }</ng-container>
	<ng-container card_buttons>

		<button
			class="icon-only rounded"
			(click)="onClose()"
			title="Close">
			<span class="material-symbols-outlined">close</span>
		</button>

	</ng-container>

	<form>

		<!-- PROJECT ID -->
		<h4>
			<small>{{ form.project.value?.id }}</small>
			{{ form.project.value?.name }}
		</h4>

		@if (isEdit()) {

			<!-- ID -->
			<div>
				<w-input [control]="form.id" name="ID" [readonly]="true"/>
			</div>

		}

		<!-- NAME -->
		<div>
			<w-input [control]="form.name" name="Name"/>
		</div>

		<!-- DESCRIPTION -->
		<div>
			<w-textarea [control]="form.description" name="Description" [rows]="3"/>
		</div>

		<!-- STATUS -->
		<div>
			<w-select [control]="form.status" name="Status" [nodes]="TASK_STATE"/>
		</div>

		<!-- PRIORITY -->
		<div>
			<w-select [control]="form.priority" name="Priority" [nodes]="TASK_PRIORITIES"/>
		</div>

		<!-- TAGS -->
		<div>
			<w-input-tag
				[control]="form.tags"
				id="taskForm"
				name="Tags"
				class="input-element"
				(tagInput)="onTagInput($event)"
				[suggestions]="tagSuggestions()"/>
		</div>

		<!-- START -->
		<div>
			<w-input [control]="form.start" name="Start" type="date"/>
		</div>

		@if (isEdit()) {

			<!-- END -->
			<div>
				<w-input [control]="form.end" name="End" type="date"/>
			</div>

		}

	</form>

	<ng-container card_footer>

		<div class="footer one_one">

			@if (task(); as t) {

				<button type="button" (click)="onCancel(t.id)" class="icon-only"><span class="material-symbols-outlined">cancel</span> Cancel</button>

			}
			<button type="button" (click)="onSave()"><span class="material-symbols-outlined">save</span> Save</button>

		</div>

	</ng-container>

</w-overlay-container>
