<w-overlay-container>

	<ng-container card_title>@if (isEdit()) { Edit Task } @else { Add Task }</ng-container>
	<ng-container card_buttons>

		<button
			class="icon-only rounded"
			(click)="onClose()"
			title="Close">
			<span class="material-symbols-outlined">close</span>
		</button>

	</ng-container>

	<!-- PROJECT ID -->
	@let project = form.project.valueChanges | async;
	@if (project) {

		<h4>
			<small>{{ project.id }}</small>
			{{ project.name }}
		</h4>

	}

	<form>

		@if (isEdit()) {

			<!-- ID -->
			<div>
				<w-input [formControl]="form.id" label="ID" [readonly]="true"/>
			</div>

		}

		<!-- NAME -->
		<div>
			<w-input [formControl]="form.name" label="Name"/>
		</div>

		<!-- DESCRIPTION -->
		<div>
			<w-textarea [control]="form.description" name="Description" [rows]="3"/>
		</div>

		<!-- TAGS -->
		<div task_row>
			<w-input-tag
				[formControl]="form.tags"
				label="Tags"
				class="input-element"
				(tagInput)="onTagInput($event)"
				[suggestions]="tagSuggestions()"/>
			<button type="button" class="icon-only" [title]="'Toggle \''+TAG_OPTIONAL+'\''" (click)="onToggleOptional()"><span class="material-symbols-outlined" [class.filled]="((form.tags.valueChanges | async) ?? []).includes(TAG_OPTIONAL)">preliminary</span></button>
		</div>

		<div task_status_row>

			<!-- STATUS -->
			<div>
				<w-select [control]="form.status" name="Status" [nodes]="TASK_STATE"/>
			</div>

			<!-- PRIORITY -->
			<div>
				<w-select [control]="form.priority" name="Priority" [nodes]="TASK_PRIORITIES"/>
			</div>

			<!-- CATEGORY -->
			<div>
				<w-select [control]="form.category" name="Category" [nodes]="TASK_CATEGORIES"/>
			</div>

		</div>

		<div task_date_row>

			<!-- START -->
			<div>
				<w-input [formControl]="form.start" label="Start" type="date" [labelUp]="true"/>
			</div>

			<!-- END -->
			<div>
				<w-input [formControl]="form.end" label="End" type="date" [labelUp]="true"/>
			</div>

		</div>

	</form>

	<ng-container card_footer>

		<div class="footer one_one">

			@if (task(); as t) {

				<button type="button" (click)="onCancel(t.id)" class="icon-only"><span class="material-symbols-outlined">cancel</span> Cancel</button>

			}
			<button type="button" (click)="onSave()"><span class="material-symbols-outlined">save</span> Save</button>

		</div>

	</ng-container>

</w-overlay-container>
