<app-portal outletName="portal-outlet-right">

	<button
		pButton
		pRipple
		type="button"
		label="Refresh"
		icon="pi pi-cloud-download"
		class="p-button-text p-button-sm"
		(click)="onDownloadRemoteIds()">
	</button>

</app-portal>

<!-- Conflict Dialog -->
<p-dialog
	*ngIf="isConflictDialogVisible$ | async"
	[header]="dialogTitle$ | async | noData:'View'"
	[draggable]="false"
	[visible]="(isConflictDialogVisible$ | async) ?? false"
	(visibleChange)="closeConflictDialog()"
	[closeOnEscape]="true"
	[closable]="true"
	[modal]="true"
	[dismissableMask]="true"
	[maximizable]="(isBigScreen$ | async) || false"
	styleClass="statsConflictContainerComponent">

	<app-stats-conflict-container></app-stats-conflict-container>

</p-dialog>

<p-messages severity="warn" *ngIf="isFirestoreConfigMissing$ | async">
    <ng-template pTemplate>
		<span>Firestore configuration missing</span>
		<button
			pButton
			pRipple
			type="button"
			label="Configure"
			class="p-button-text p-button-sm"
			routerLink="/settings">
		</button>
    </ng-template>
</p-messages>

<p-card>
	<app-stats-summary-container></app-stats-summary-container>
</p-card>