@import 'variables';
@import 'core/helper';
@import 'core/variables';
@import 'z-index';
@import 'mixins/responsive';

:host {

	display				: grid;
	grid-template-rows	: $header-height 1fr;
	background-color	: hsl(var(--col-bg-body-hue) var(--col-bg-body-sat) var(--col-bg-body-lig) / var(--col-bg-body-alp));
	transition			: $bg-transition;

	&>header {

		display					: flex;
		height					: $header-height;
		background-color		: hsl(var(--col-bg-header-hue) var(--col-bg-header-sat) var(--col-bg-header-lig) / var(--col-bg-header-alp));
		transition				: $bg-transition;
		padding					: var(--gap) var(--gap);
		padding-left			: 0;

	}

	&>section {

		display					: flex;
		position				: relative;

		&>nav {

			@extend %flex-column;
			position			: absolute;
			height				: calc(100vh - $header-height);
			width				: $nav-width;
			margin-left			: -$nav-width;
			transition			: margin-left 0.6s cubic-bezier(0.25, 1, 0.25, 1), $bg-transition;
			z-index				: $z-index-nav-overlay;
			background-color	: hsl(var(--col-bg-nav-hue) var(--col-bg-nav-sat) var(--col-bg-nav-lig) / var(--col-bg-nav-alp));
			padding				: var(--gap) var(--gap);

			@include md() {

				position		: relative;
				z-index			: unset;

			}

		}

		&>main {

			flex				: 1;
			position			: relative;

			padding				: var(--gap-sm);
			height				: calc(100vh - 6rem);
			overflow-y			: auto;

			background-color	: var(--background);
			transition			: $bg-transition;

		}

	}

	&.navVisible {

		&>section {

			&>nav {

				margin-left		: -0;

			}

		}

	}

}



// @keyframes fadeIn {
// 	from	{ opacity : 0; }
// 	to		{ opacity : 1; }
// }

// app-core-page {

// 	@extend %flex-column;
// 	height	: 100vh;

// 	header {

// 		@extend %padded-container;

// 		display					: flex;
// 		background-color		: var(--background-1);
// 		height					: $header-height;

// 		& #section-logo {

// 			@extend %flex-center-center;
// 			min-width			: $header-height;

// 		}

// 		& #portal-outlet {

// 			flex		: 1;
// 			@extend %flex-end-center;

// 		}

// 	}

// 	main {

// 		@extend %padded-container;
// 		padding-left: 0;
// 		padding-top	: 0;
// 		flex		: 1;
// 		position	: relative;
// 		display		: flex;
// 		height		: calc(100vh - #{$header-height});

// 		nav {

// 			@extend %padded-container;
// 			@extend %flex-column;
// 			position			: absolute;
// 			z-index				: 10;
// 			width				: $nav-width;
// 			height				: 100%;
// 			background-color	: var(--surface-b);
// 			//transition			: margin-left $animation-duration $animation-ease;
// 			// padding				: $default-padding;

// 			& > div[bottom-buttons] {

// 				@extend %flex-row;
// 				margin-top		: auto;
// 				align-items		: center;
// 				width			: 100%;
// 				padding-top		: 0.5rem;
// 				padding-bottom	: 0.5rem;
// 				gap				: 0.3rem;

// 				& > button:last-child {

// 					margin-left	: auto;

// 				}

// 			}

// 			& > div[bottom-version] {

// 				font-size		: xx-small;
// 				font-style		: italic;
// 				color			: var(--text-color-secondary);

// 			}

// 		}

// 		article {

// 			@extend %w359-scrollbar;
// 			flex		: 1;
// 			padding		: $default-padding;
// 			overflow-y	: auto;

// 		}

// 	}

// 	#nav-overlay {

// 		display				: block;
// 		position			: absolute;
// 		z-index				: 5;
// 		left				: 0;
// 		top					: 0;
// 		right				: 0;
// 		bottom				: 0;
// 		// animation			: fadeIn $animation-duration $animation-ease;
// 		background-color	: var(--maskbg);

// 	}

// 	&.navCollapsed {

// 		#nav-overlay {

// 			display	: none;

// 		}

// 		nav {

// 			margin-left	: -$nav-width;

// 		}

// 	}

// 	&.bigScreen {

// 		nav {

// 			position	: relative;
// 			z-index		: initial;

// 		}

// 	}

// 	.navButtonBadge {

// 		position			: absolute;
// 		color				: var(--orange-600) !important;
// 		background-color	: var(--orange-600) !important;
// 		min-width			: 10px !important;
// 		height				: 10px !important;
// 		width				: 10px !important;
// 		line-height			: 0 !important;
// 		bottom				: 8px;
// 		right				: 10px;

// 		&.red {

// 			background-color: var(--red-600) !important;
// 			color			: var(--red-600) !important;

// 		}

// 	}

// 	.cloudButtonBadge {

// 		@extend %flex-center-center;
// 		position			: absolute;
// 		color				: var(--text-color) !important;
// 		background-color	: var(--orange-600) !important;
// 		min-width			: 20px !important;
// 		height				: 20px !important;
// 		width				: 20px !important;
// 		line-height			: 0 !important;
// 		bottom				: 0px;
// 		right				: 0px;

// 		&.red {

// 			background-color: var(--red-600) !important;

// 		}

// 	}

// 	.cloudButton {

// 		overflow			: visible !important;

// 		&.orange {

// 			background-color: var(--orange-600);

// 		}

// 		&.red {

// 			background-color: var(--red-600);

// 		}

// 	}

// }
