<w-card>
	<ng-container card-title>Edit Bookmark</ng-container>
	<ng-container card-buttons>

		<button
			class="icon-only rounded"
			(click)="onClose()"
			title="Switch Theme"><span class="material-symbols-outlined">close</span></button>

	</ng-container>

	<app-bookmark-form
		[bookmark]="bookmark$ | async"
		[tagSuggestions]="tagSuggestions$ | async"
		[titleLookupUrl]="titleLookup$ | async"
		(create)="onCreate($event)"
		(update)="onUpdate($event.id, $event.bookmark)"
		(delete)="onDelete($event)"
		(tagInput)="onTagInput($event)"
		(titleLookup)="onTitleLookup($event)"></app-bookmark-form>

</w-card>
