@import 'core/helper';
@import 'mixins/responsive';

:host {

	display	: contents;

	&>w-card {

		width				: 100vw;
		height				: 100vh;

		background-color	: hsl(var(--col-bg-panel-hue) var(--col-bg-panel-sat) var(--col-bg-panel-lig) / var(--col-bg-panel-alp));
		border-radius		: var(--border-radius);

		@include bigScreen {

			width		: 80vw;
			height		: 90vh;

		}

		& app-bookmark-form {

			flex		: 1;

		}

	}

}
