@if (note()) {

	<div class="comp-dark p-4 comp">

		<!-- note_parents -->
		<div>

			<a	[routerLink]="['/notes']"
				class="flex gap-1 focus-visible:bg-component-dark-hover mb-1 comp-dark comp-dark-active comp-dark-hover p-2 rounded-lg focus-visible:ring-4 focus-visible:ring-outline text-sm focus-visible:outline-none"
				tabindex="0">
				<svg wGlyph="note_stack" class="text-[1.2em]"></svg>
				Notes
			</a>

			@if (parents().length > 0) {

				@for (note of parents(); track $index) {

					<a	[routerLink]="['/notes', note.id]"
						[style.margin-left.px]="($index + 1) * 15"
						class="flex gap-1 focus-visible:bg-component-dark-hover mb-1 comp-dark comp-dark-active comp-dark-hover p-2 rounded-lg focus-visible:ring-4 focus-visible:ring-outline text-sm focus-visible:outline-none"
						tabindex="0">

						<svg wGlyph="down_right" class="text-[1.2em]"></svg>
						{{ note.name | hideEnum }}

					</a>

				}

			}

		</div>

		<!-- note title -->
		<div class="my-8 comp-title">{{ note().name | hideEnum }}</div>

		@if (note().tags; as tags) {

			<!-- note_tags -->
			<div class="flex justify-end gap-1">

				@for (tag of tags; track $index) {

					<button	class="tag tag-sm"
							[routerLink]="['/notes']"
							[queryParams]="{ 'tags': tag }">{{ tag }}</button>

				}

			</div>

		}

		<!-- note_info -->
		<div class="flex justify-end gap-1 mt-1 text-secondary text-sm">

			<small [title]="note().modified | date:'EEEE dd.MM.yyyy hh:mm'">Last edited: {{ note().modified | timePast:false }}</small>

		</div>

	</div>

}

@if (children().length > 0) {

	<!-- note_children -->
	<div class="comp-dark p-4 comp">

		<div><strong>Child Notes</strong></div>
		@for (note of children(); track $index) {

			<a	[routerLink]="['/notes', note.id]"
				class="flex items-center gap-1 focus-visible:bg-component-dark-hover my-1 ml-4 comp-dark comp-dark-active comp-dark-hover p-2 rounded-lg focus-visible:ring-4 focus-visible:ring-outline text-sm focus-visible:outline-none"
				tabindex="0">

				<svg wGlyph="down_right" class="flex-shrink-0"></svg>
				{{ note.name | hideEnum }}

			</a>

		}

	</div>

}

@if (note().urls.length > 0) {

	<!-- note_children -->
	<div class="comp-dark p-4 comp">

		<div><strong>URLs</strong></div>
		@for (url of note().urls; track $index) {

			<a	[href]="url"
				target="_blank"
				class="flex items-center gap-1 focus-visible:bg-component-dark-hover my-1 ml-4 comp-dark comp-dark-active comp-dark-hover p-2 rounded-lg focus-visible:ring-4 focus-visible:ring-outline text-sm hover:underline hover:underline-offset-1 group focus-visible:outline-none"
				tabindex="0">

				<svg wGlyph="down_right" class="flex-shrink-0"></svg>
				{{ url }}
				<sup class="opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100 transition-opacity duration-500"><svg wGlyph="open_in_new"></svg></sup>

			</a>

		}

	</div>

}
