<form [formGroup]="form" (ngSubmit)="onSave()">

	<w-input formControlName="id" label="ID" [readonly]="true" />
	<w-textarea formControlName="name" label="Quote" [rows]="3" />
	<w-input formControlName="author" label="Author" />
	<w-input formControlName="context" label="Context" />

	<footer class="footer-buttons one_two">

		<button type="button" (click)="onReset()">
			<span class="material-symbols-outlined">clear_all</span> Clear
		</button>

		<button type="button" class="error" (click)="onDelete(form.controls.id.value)" [disabled]="!form.controls.id.value">
			<span class="material-symbols-outlined">delete</span> Delete
		</button>

		<button type="submit" [disabled]="this.form.pristine || this.form.invalid">
			<span class="material-symbols-outlined">save</span> {{ isUpdate() ? 'Update' : 'Create'}}
		</button>

	</footer>

</form>
