@let e = entity();

@if (e) {

	<header class="mb-8 comp-title">
		{{storeName()}}
		<small class="block text-secondary text-sm">{{e.id}}</small>
		@if (entityName(); as entityName) {
			<small class="block text-secondary text-sm">{{entityName}}</small>
		}
	</header>

	<div class="overflow-auto scrollbar scrollbar-blue">
		<w-markdown-viewer [markdown]="'```json\n' + (e | json) + '\n```'"/>
	</div>
	<div class="flex justify-end mt-2">
		<button type="button" (click)="onDelete()" class="btn btn-error">
			<svg wGlyph="delete"></svg> Delete
		</button>
	</div>

} @else {

	<div class="flex flex-col justify-center items-center p-4">
		No entity id selected
		<button routerLink="/" class="mx-auto btn btn-ghost">
			<svg wGlyph="home"></svg> Home
		</button>
	</div>

}
