<header class="flex items-center shadow-component comp-dark p-3 rounded-lg min-h-14">

	<svg wGlyph="bookmarks"></svg>

	@for(tag of tags(); track tag) {

		<button
			type="button"
			class="sm tag"
			[routerLink]="['/bookmarks']"
			[queryParams]="{'tags': tag}">{{ tag }}</button>

	}

</header>
<section class="gap-2 grid @2xl:grid-cols-2">

	@for(bookmark of bookmarks(); track bookmark) {

		<app-compact-bookmark
			class="compact"
			[bookmark]="bookmark"
			(linkClick)="onClick($event)"
			[editable]="false"
			[popularButton]="false"></app-compact-bookmark>

	}

</section>
