<section class="flex place-content-center">

	@if (cloudTasks(); as cloudTasks) {

		<button
			class="relative px-2 h-button-height-sm btn btn-ghost ms-2"
			(click)="toggleNav()">
			<svg wGlyph="menu" class="stroke-2"></svg>
			@if (cloudTasks.length > 0) {

				<span class="right-1 bottom-1 absolute flex size-3">
					<span class="inline-flex absolute bg-focus opacity-75 rounded-full w-full h-full animate-ping"></span>
					<span class="inline-flex relative bg-focus rounded-full size-3"></span>
				</span>

			}
		</button>

	}

</section>
<section id="portal-outlet" class="flex flex-1 justify-end pe-2">
	<!-- content will be placed dynamically via Cdk Portal -->
</section>

@if (ribbonText) {

	<div class="top-0 right-0 absolute pointer-events-none select-none">
		<svg wGlyph="ribbon" class="text-6xl fill-focus stroke-focus"></svg>
		<div class="top-3 right-2 absolute font-bold text-xs rotate-45">{{ribbonText}}</div>
	</div>

}
