<section class="flex place-content-center">

	@if (cloudTasks(); as cloudTasks) {

		<button
			class="inline-flex place-content-center border-ghost bg-ghost hover:bg-ghost-hover active:bg-ghost-active ml-2 p-2 border rounded-lg focus-visible:ring-4 focus-visible:ring-outline font-bold text-center text-lg focus-visible:outline-none"
			(click)="toggleNav()">
			<svg wGlyph="menu"></svg>
			@if (cloudTasks.length > 0) {

				<!-- <span class="badge">{{cloudTasks.length}}</span> -->

			}
		</button>

	}

</section>
<section id="portal-outlet" class="flex flex-1 justify-end">
	<!-- content will be placed dynamically via Cdk Portal -->
</section>
