<section class="flex place-content-center">

	@if (cloudTasks(); as cloudTasks) {

		<button
			class="inline-flex place-content-center border-ghost bg-ghost hover:bg-ghost-hover active:bg-ghost-active ml-2 p-2 border rounded-lg focus-visible:ring-4 focus-visible:ring-outline font-bold text-center text-lg focus-visible:outline-none"
			(click)="toggleNav()">
			<svg wGlyph="menu"></svg>
			@if (cloudTasks.length > 0) {

				<!-- <span class="badge">{{cloudTasks.length}}</span> -->

			}
		</button>
		<span class="relative flex w-3 h-3">
			<span class="inline-flex absolute bg-focus opacity-75 rounded-full w-full h-full animate-ping"></span>
			<span class="inline-flex relative bg-focus rounded-full w-3 h-3"></span>
		</span>

	}

</section>
<section id="portal-outlet" class="flex flex-1 justify-end pe-2">
	<!-- content will be placed dynamically via Cdk Portal -->
</section>

@if (isDev) {

	<div class="top-0 right-0 absolute pointer-events-none select-none">
		<svg wGlyph="ribbon" class="text-6xl fill-focus stroke-focus"></svg>
		<div class="top-3 right-2 absolute font-bold text-xs rotate-45">[dev]</div>
	</div>

}
