:root {

	--font-size		: 1.4rem;
	--font-family	: 'Nunito Sans', serif;

}

html {

	font-size: 62.5%;

}

body {

	display				: grid;
	height				: 100vh;

	font-family			: var(--font-family);
	font-size			: var(--font-size);
	color				: var(--text-color);
	background-color	: var(--background);

	padding				: 0;
	margin				: 0;

}
