a {

	text-decoration : none;

}

.material-symbols-outlined {

	font-size			: 2.2rem;

	&.filled {

		font-variation-settings:	'FILL' 1;

	}

	&.bold {

		font-variation-settings:	'wght' 700;

	}

}

.cr-slider-wrap {

	width	: initial !important;

	& > input:focus,
	& > input:focus-visible {

		outline		: none;
		box-shadow	: none;

	}

}

.toastui-editor-toolbar-icons {

	min-width	: auto !important;

}
