.p-panelmenu .p-panelmenu-icon {

	margin-right	: 0;
	order			: 1;
	margin-left		: auto;

}

.toast-container .ngx-toastr {

	box-shadow: none !important;

}

.fieldset-right {

	display			: block;
	float			: right;
	margin-top		: -4.5rem;
	margin-right	: -1rem;
	padding			: 0.5rem !important;

}

.p-menuitem-link-active {

	color			: var(--primary-color) !important;

}

.padded-table {

	td {

		padding: 0.8rem;

	}

}

.p-dialog-content {

	display: grid;

}

p-breadcrumb {

	// @include styleclass('mb-2');
	display	: block;

}

// p-tag[severity="disabled"] .p-tag {

// 	background-color: transparent;
// 	color			: var(--surface-900) !important;

// }

a {

	text-decoration : none;

}

// h1, h2, h3, h4, h5 {

// 	margin	: 0.1rem;

// }

p-confirmdialog {

	position: absolute;

}

.p-dialog-content {

	padding: 0 !important;

}

span.p-menuitem-badge {

	margin-left: auto !important;

	&.red {

		background-color: var(--red-600) !important;
		color			: var(--text-color) !important;

	}

	&.orange {

		background-color: var(--orange-600) !important;
		color			: var(--text-color) !important;

	}

}

.material-symbols-outlined {

	font-size			: 2.2rem;

}

.cr-slider-wrap {

	width	: initial !important;

	& > input:focus,
	& > input:focus-visible {

		outline		: none;
		box-shadow	: none;

	}

}
