@let bm = bookmark();

<!-- compact bookmark -->
<app-compact-bookmark
	[bookmark]="bm"
	class="group-hover/bookmark:w-[calc(100%-35px)] group-focus-within/bookmark:w-[calc(100%-35px)] inline-block z-20 w-full transition-[width] duration-500"
	(linkClick)="onLinkClick($event)"/>

<!-- glyphs -->
<div class="inline-flex right-0 z-10 absolute flex-col justify-between items-center px-1 py-[2px] max-h-24 peer">

	<button class="btn btn-2xs btn-glyph" (click)="onPopular()">
		@if(bm.tags.includes(TAG_POPULAR)){

			<svg wGlyph="heart_filled"></svg>

		} @else {


			<svg wGlyph="heart"></svg>
		}
	</button>
	<button class="btn btn-2xs btn-glyph" (click)="onEdit()">
		<svg wGlyph="edit"></svg>
	</button>
	<button class="btn btn-2xs btn-glyph">
		<svg wGlyph="stat_minus_2"></svg>
	</button>

</div>






<!-- @if (bookmark(); as bm) {

	@if(disabled()) {
		<div bookmark-overlay></div>
	}
	<div bookmark-image>

		<img
			id="bookmark-image"
			src="{{ bm.image || 'assets/placeholder.svg' }}"
			title="{{ bm.id }} : {{ bm.title + '\r\n' + bm.urls + '\r\n' }} #{{ bm.clicks }}">

	</div>
	<div bookmark-right>

		<div bookmark-top>

			<a [tabindex]="disabled() ? -1 : 0" href="{{ bm.urls[0] }}" target="_blank" (click)="onLinkClick()">

				<span bookmark-name>{{ bm.name }}
					<sup>
						<w-glyph name="open_in_new" class="bold" />
					</sup>
				</span>
				<span bookmark-title>{{ bm.title }}</span>

			</a>

		</div>
		@if (showDetails()) {

			<div bookmark-bottom>

				!-- <ng-container *ngFor="let url of bm.urls">
					<div bookmark-url *ngIf="!!url">{{ url }}</div>
				</ng-container> --

				@if (bm.tags) {
					<div bookmark-tags>

						@for (tag of bm.tags; track tag) {

							<button [disabled]="disabled()"
									class="tag xs"
									[routerLink]="['/bookmarks']"
									[queryParams]="{ 'tags': tag }">{{ tag }}</button>

						}

					</div>
				}

			</div>

		}

	</div>

	@if (popularButton()) {

		<a href="javascript:void(0)" id="popularButton" title="Toggle 'popular'" (click)="onPopular()">

			@if (bm.tags.includes('popular')) {

				<w-glyph name="heart_filled" />

			} @else {

				<w-glyph name="heart" />

			}

		</a>

	}
	@if (editable()) {

		<a href="javascript:void(0)" id="editButton" title="Edit" (click)="onEdit()">
			<w-glyph name="edit" />
		</a>

	}

} -->
