<div class="group/bookmark relative flex gap-1 comp comp-hover p-4">
	<div class="">
	  <span class="inline-flex items-center justify-center rounded-full bg-indigo-500 p-10 shadow-lg">
		<svg class="h-6 w-6 text-white" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true"><!-- ... --></svg>
	  </span>
	</div>
	<div class="flex flex-1 flex-col justify-center p-2">
	  <div class="flex ring-slate-500">
		<a class="group" href="https://www.abc.com">
		  <h3 class="relative text-base font-medium tracking-tight text-white">
			Writes Upside-Down
			<sup class="absolute">
			  <svg class="fill-transparent text-xs text-slate-500 transition-all duration-500 group-hover:visible group-hover:fill-sky-100" width="12" height="12" viewBox="0 0 16 16">
				<path d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
				<path d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
			  </svg>
			</sup>
			<small class="block text-sm text-slate-500 dark:text-slate-400"> The Zero Gravity</small>
		  </h3>
		</a>
		<div class="flex-1"></div>
	  </div>
	  <p class="mt-auto flex gap-1">
		<button class="btn-tag">tags</button>
		<button class="btn-tag">tags</button>
		<button class="btn-tag">tags</button>
	  </p>
	  <svg class="top-4 right-4 absolute fill-transparent text-xs text-slate-500 transition-all duration-500 group-hover/bookmark:visible group-hover/bookmark:fill-sky-100" width="12" height="12" viewBox="0 0 16 16">
		<path d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
		<path d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
	  </svg>
	  <svg class="bottom-4 right-4 absolute fill-transparent text-xs text-slate-500 transition-all duration-500 group-hover/bookmark:visible group-hover/bookmark:fill-sky-100" width="12" height="12" viewBox="0 0 16 16">
		<path d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
		<path d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
	  </svg>
	</div>
  </div>
<!-- @if (bookmark(); as bm) {

	@if(disabled()) {
		<div bookmark-overlay></div>
	}
	<div bookmark-image>

		<img
			id="bookmark-image"
			src="{{ bm.image || 'assets/placeholder.svg' }}"
			title="{{ bm.id }} : {{ bm.title + '\r\n' + bm.urls + '\r\n' }} #{{ bm.clicks }}">

	</div>
	<div bookmark-right>

		<div bookmark-top>

			<a [tabindex]="disabled() ? -1 : 0" href="{{ bm.urls[0] }}" target="_blank" (click)="onLinkClick()">

				<span bookmark-name>{{ bm.name }}
					<sup>
						<w-glyph name="open_in_new" class="bold" />
					</sup>
				</span>
				<span bookmark-title>{{ bm.title }}</span>

			</a>

		</div>
		@if (showDetails()) {

			<div bookmark-bottom>

				!-- <ng-container *ngFor="let url of bm.urls">
					<div bookmark-url *ngIf="!!url">{{ url }}</div>
				</ng-container> --

				@if (bm.tags) {
					<div bookmark-tags>

						@for (tag of bm.tags; track tag) {

							<button [disabled]="disabled()"
									class="tag xs"
									[routerLink]="['/bookmarks']"
									[queryParams]="{ 'tags': tag }">{{ tag }}</button>

						}

					</div>
				}

			</div>

		}

	</div>

	@if (popularButton()) {

		<a href="javascript:void(0)" id="popularButton" title="Toggle 'popular'" (click)="onPopular()">

			@if (bm.tags.includes('popular')) {

				<w-glyph name="heart_filled" />

			} @else {

				<w-glyph name="heart" />

			}

		</a>

	}
	@if (editable()) {

		<a href="javascript:void(0)" id="editButton" title="Edit" (click)="onEdit()">
			<w-glyph name="edit" />
		</a>

	}

} -->
