@let bm = bookmark();

<!-- compact bookmark -->
<app-compact-bookmark
	[bookmark]="bm"
	(linkClick)="onLinkClick($event)"/>

<!-- details -->
<div class="flex flex-col flex-1 p-2 pb-1 w-full">

	<div class="flex items-center gap-1 md:gap-2">

		<small class="text-2xs">{{bm.clicks}} click@if (bm.clicks !== 1) {s}</small>
		<button class="btn btn-2xs btn-glyph ms-auto" (click)="onPopular()" title="Toggle Popular Tag">
			@if(bm.tags.includes(TAG_POPULAR)){

				<svg wGlyph="heart_filled"></svg>

			} @else {

				<svg wGlyph="heart"></svg>

			}
		</button>
		<button class="btn btn-2xs btn-glyph" (click)="onEdit()" title="Edit">
			<svg wGlyph="edit"></svg>
		</button>

	</div>

	@if (detailed()) {

		<div [@slideUpDown]="detailed() ? 'opened' : 'closed'" class="flex flex-col flex-1 overflow-hidden">

			<div class="text-2xs text-secondary">{{bm.id}}</div>
			<div class="flex flex-col flex-1 justify-between pb-2 overflow-x-auto pe-2 scrollbar">

				<div class="py-2 text-secondary text-xs">
					@for (url of bm.urls; track $index) {

						<li class="text-nowrap" [class.list-none]="bm.urls.length === 1"><a [href]="url" target="_blank" class="text-base-color">{{url}}</a><sup><svg wGlyph="open_in_new" class="inline-block ms-1"></svg></sup></li>

					}
				</div>
				<div class="flex items-center gap-1 mt-2">
					@for (tag of bm.tags; track $index) {

						<button type="button" class="bg-accent-active tag tag-sm" (click)="onTagClicked(tag)">{{tag}}</button>

					}
				</div>

			</div>

		</div>

	}

</div>
