@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host{

	@include mx-flex-column;
	gap	: var(--gap-sm);

	& > fieldset {

		@include mx-component;
		@include mx-flex-column;
		gap		: var(--gap-sm);

		& > legend:first-child {

			display			: flex;
			flex-direction	: row;
			align-items		: baseline;
			gap				: var(--gap-xs);

		}

		& > [query_params] {

			@include mx-flex-center-y;

		}

		& > [task_list] {

			@include mx-flex-column;
			gap		: var(--gap-sm);

		}

	}

}
