@if (project(); as project) {

	<w-portal>

		<button
			class="link"
			[cdkMenuTriggerFor]="menu">
			<w-glyph name="menu_open" />
		</button>

		<ng-template #menu>

			<div class="menu" cdkMenu>

				<button
					cdkMenuItem
					class="link align-left"
					[routerLink]="['/projects', project.id, 'edit' ]">
					<w-glyph name="edit" /> Edit Project
				</button>

				<hr>

				<button
					cdkMenuItem
					class="link align-left"
					[routerLink]="['/logs', project.id]">
					<w-glyph name="history" /> View Logs
				</button>

			</div>

		</ng-template>

	</w-portal>

	<!-- PROJECT -->
	<app-project
		[project]="project"
		[expanded]="projectExpanded()"
		(toggleInfo)="onToggleInfo()"/>

	<!-- SEARCH AND TAG CLOUD -->
	<app-project-search-and-tag-cloud-container/>

	<!-- TASKS (FIELDSET) -->
	<fieldset class="box d-flex-column gap-sm">

		<legend class="d-flex ai-bs gap-xs">Tasks <small>({{ project.tasks.length }})</small></legend>
		<legend>
			<button
				class="link small"
				(click)="onOpenNewTaskDialog()">
				<w-glyph name="add" />
				Add Task
			</button>
		</legend>

		<!-- query_params -->
		<small class="d-flex ai-c">
			<span class="material-symbols-outlined small">filter_alt</span> Filters: {{ paramsText() }}
		</small>

		<!-- task_list -->
		<div class="d-flex-column gap-sm">

			@for (task of project.tasks; track $index) {

				@let expanded = !!tasksExpanded()[task.id];
				<app-task
					[task]="task"
					[expanded]="expanded"
					(editTask)="onOpenEditTaskDialog($event)"
					(toggleTask)="onToggleTask($event)" />

			}

		</div>

	</fieldset>

} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><w-glyph name="check_circle" />&nbsp;No project available</span>
			<button
				class="link"
				[routerLink]="['/projects', 'new' ]">
				<w-glyph name="post_add" /> Add Project
			</button>

		</div>

	</div>

}
