@if (project(); as project) {

	<w-portal>

		<button
			class="icon-only"
			[cdkMenuTriggerFor]="menu">
			<span class="material-symbols-outlined">menu_open</span>
		</button>

		<ng-template #menu>

			<div class="menu" cdkMenu>

				<button
					cdkMenuItem
					class="icon-only align-left"
					[routerLink]="['/projects', project.id, 'edit' ]">
					<span class="material-symbols-outlined">edit</span> Edit Project
				</button>

				<hr>

				<button
					cdkMenuItem
					class="icon-only align-left"
					[routerLink]="['/logs', project.id]">
					<span class="material-symbols-outlined">history</span> View Logs
				</button>

			</div>

		</ng-template>

	</w-portal>

	<app-project
		[project]="project"
		[infoVisible]="infoVisible()"
		(toggleInfo)="onToggleInfo()"
		(newTask)="onOpenNewTaskDialog()"
		(viewTask)="onViewTaskDialog($event)"/>

} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><span class="material-symbols-outlined">check_circle</span>&nbsp;No project available</span>
			<button
				class="icon-only"
				[routerLink]="['/projects', 'new' ]">
				<span class="material-symbols-outlined">post_add</span> Add Project
			</button>

		</div>

	</div>

}
