@import 'core/helper';
@import 'mixins/responsive';

:host {

	@extend %flex-column;

	& .p-dataview-header {

		@extend %flex-space-between-center;
		& span[controls] {

			@extend %flex-column;

			@include md() {

				display			: flex;
				flex-direction	: row;

			}

			& .p-dropdown, & input[pInputText] {

				margin-right	: 0.2rem;
				min-width		: 15rem !important;

			}

		}

	}

	& pre {

		overflow-x: auto;
		width: 100%;

	}

	.p-paginator {

		justify-content	: center;

	}

}
