<app-portal outletName="portal-outlet-right">

	<button
		pButton
		pRipple
		type="button"
		label="Backup"
		icon="pi pi-database"
		class="p-button-text p-button-sm"
		(click)="onBackupDatabase()">
	</button>

</app-portal>

<div>
	dataview
	<ng-container *ngIf="(content$ | async) ?? [] as content">

		<!-- <p-dataView #dv [value]="content || []" [rows]="5" [paginator]="true">

			<ng-template pTemplate="header">

				<span controls>
					<span class="p-float-label">
						<p-dropdown inputId="tablenames" [options]="tableNames" [formControl]="fcTableName"></p-dropdown>
						<label for="tablenames">Table</label>
					</span>
					<span class="p-float-label">
						<input id="searchbox" type="text" #searchbox pInputText [formControl]="fcSearch">
						<label for="searchbox">Search</label>
					</span>
				</span>
				<span>Items: {{ content.length }}</span>

			</ng-template>
			<ng-template let-item pTemplate="listItem">

				<pre>{{ item }}</pre>

			</ng-template>

		</p-dataView> -->

	</ng-container>

</div>