@let n = note();

<a	class="block rounded-lg focus-visible:ring-4 focus-visible:ring-outline h-full focus-visible:outline-none p-3"
	[routerLink]="['/notes', n.id]" tabindex="0">

	<small class="text-base-secondary text-xs">{{ n.modified | timePast }}</small>
	<p>
		{{ n.name }}
		@if (n.tags.includes(TAG_PINNED)) {

			<sup class="inline-block">
				<svg wGlyph="pin_fill" class="text-xs fill-warn"></svg>
			</sup>

		}
	</p>


	<!-- <div class="flex gap-2 p-3">

		<div class="inline-flex justify-center items-center">

		</div>
		<div class="flex flex-col flex-1 justify-center">

			<p class="text-sm">{{ n.title }}</p>
			<p class="text-base-secondary text-xs">{{n.name}}</p>

		</div>

	</div>
	<svg wGlyph="open_in_new" class="top-2 right-2 absolute opacity-0 group-hover:opacity-100 text-sm transition-opacity duration-700"></svg> -->

</a>
