{
	"singleQuote": true,
	"semi": false,
	"printWidth": 999,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"plugins": ["prettier-plugin-tailwindcss"]
}
