{
	"singleQuote": true,
	"semi": false,
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
