<svg wGlyph="quote" class="absolute opacity-80 m-3 md:m-4 text-5xl fill-accent"></svg>

@let q = quote() ?? EMPTY_QUOTE;

<div class="inset-3 md:inset-4 grid overflow-y-auto scrollbar scrollbar-dark">

	<figure class="z-10 flex flex-col">

		<blockquote class="my-auto text-center">

			{{ q.name }}

		</blockquote>
		<figcaption class="text-right text-base-color-secondary">

			<p class="font-bold text-sm">
				{{ q.author }}
				<small class="block font-normal text-xxs leading-4">{{ q.context }}</small>
			</p>

		</figcaption>

	</figure>

</div>
