@if (word$ | async; as word) {

	<w-portal>

		<button
			class="link"
			[cdkMenuTriggerFor]="menu">
			<w-glyph name="menu_open" />
		</button>

		<ng-template #menu>

			<div class="menu" cdkMenu>

				<button
					cdkMenuItem
					class="link align-left"
					[routerLink]="['/words', word.id, 'edit' ]">
					<w-glyph name="edit" /> Edit Word
				</button>

				<a
					cdkMenuItem
					class="button glyph align-left"
					[href]="'https://www.google.com/search?q=' + word.name"
					target="_blank">
					<w-glyph name="search" /> Google <sup><span class="material-symbols-outlined small">open_in_new</span></sup>
				</a>

				<hr>

				<button
					cdkMenuItem
					class="link align-left"
					[routerLink]="['/logs', word.id]">
					<w-glyph name="history" /> View Logs
				</button>

				<button
					cdkMenuItem
					class="link align-left"
					(click)="onRemove(word.id)">
					<w-glyph name="delete" /> Remove Word
				</button>

			</div>

		</ng-template>

	</w-portal>

	<app-word
		[word]="word"
		[scheduledIds]="scheduledIds$ | async"
		(schedule)="onSchedule($event)"
		(cancelSchedule)="onCancelSchedule($event)"/>

} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><w-glyph name="check_circle" />&nbsp;No word available</span>
			<button
				class="link"
				[routerLink]="['/words', 'new' ]">
				<w-glyph name="post_add" /> Add Word
			</button>

		</div>

	</div>

}
