@if (word$ | async; as word) {

	<w-portal>

		<button
			class="icon-only"
			[cdkMenuTriggerFor]="menu">
			<span class="material-symbols-outlined">menu_open</span>
		</button>

		<ng-template #menu>

			<div class="menu" cdkMenu>

				<button
					cdkMenuItem
					class="icon-only align-left"
					[routerLink]="['/words', word.id, 'edit' ]">
					<span class="material-symbols-outlined">edit</span> Edit Word
				</button>

				<a
					cdkMenuItem
					class="button icon-only align-left"
					[href]="'https://www.google.com/search?q=' + word.name"
					target="_blank">
					<span class="material-symbols-outlined">search</span> Google <sup><span class="material-symbols-outlined small">open_in_new</span></sup>
				</a>

				<hr>

				<button
					cdkMenuItem
					class="icon-only align-left"
					[routerLink]="['/logs', word.id]">
					<span class="material-symbols-outlined">history</span> View Logs
				</button>

				<button
					cdkMenuItem
					class="icon-only align-left"
					(click)="onRemove(word.id)">
					<span class="material-symbols-outlined">delete</span> Remove Word
				</button>

			</div>

		</ng-template>

	</w-portal>

	<app-word
		[word]="word"
		[scheduledIds]="scheduledIds$ | async"
		(schedule)="onSchedule($event)"
		(cancelSchedule)="onCancelSchedule($event)"/>

} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><span class="material-symbols-outlined">check_circle</span>&nbsp;No word available</span>
			<button
				class="icon-only"
				[routerLink]="['/words', 'new' ]">
				<span class="material-symbols-outlined">post_add</span> Add Word
			</button>

		</div>

	</div>

}
