<!-- SHOW ANSWER DIALOG -->
@if (answer(); as w) {

	<w-modal (close)="onCloseAnswer()">

		<div class="flex flex-col h-full">

			<!-- DIALOG HEADER -->
			<header class="flex items-center p-1 md:p-2">
				<div class="ml-2 font-bold text-2xl text-content">Remember</div>
				<div class="ml-auto">

					<button
						class="btn btn-glyph"
						(click)="onCloseAnswer()">
						<svg wGlyph="close"></svg>
					</button>

				</div>
			</header>
			<!-- DIALOG CONTENT WRAPPER - SCROLLBAR -->
			<section class="flex-1 overflow-y-auto scrollbar scrollbar-gutter-stable">
				<!-- DIALOG CONTENT -->
				<div class="flex flex-col p-3 h-full">

					<app-word [word]="w" [schedulable]="false"/>

				</div>

			</section>

			<!-- DIALOG FOOTER -->
			<footer class="flex items-center gap-1 p-1 md:p-2">

				<button type="button" (click)="onEdit(w.id)" class="btn btn-ghost">
					<svg wGlyph="edit"></svg> Edit
				</button>
				<a
					class="btn btn-ghost"
					[href]="'https://www.google.com/search?q=' + w.name"
					target="_blank">
					<svg wGlyph="search"></svg> Google <sup><svg wGlyph="open_in_new"></svg></sup>
				</a>
				<button type="button" (click)="onCloseAnswer()" class="ml-auto btn"><svg wGlyph="check"></svg> Got It</button>

			</footer>

		</div>
	</w-modal>

}
<ng-template #questionTemplate let-quiz>

	<span class="font-bold text-focus text-lg">
		@if (quiz.isVerb) { to } {{ quiz.word.name }}
	</span>
	@if (quiz.word.pronunciation) {

		<br><small>{{ quiz.word.pronunciation }}</small>

	}

</ng-template>
<ng-template #choiceTemplate let-quiz="quiz" let-choice="choice">

	<span>@if (quiz.isVerb) { to } {{ choice.name }}</span>

</ng-template>

@if (quiz(); as quiz) {

	<!-- QUIZ HEADER -->
	<div class="grid hover:bg-component-dark-hover px-4 py-3 min-h-14 overflow-hidden comp-dark comp">

		<!-- QUIZ QUESTION WRAPPER -->
		<div class="flex justify-between items-center cursor-pointer">

			<!---------->
			<!-- ICON -->
			<!---------->
			<div class="relative flex min-w-14">

				<svg wGlyph="quiz" class="text-xl"></svg>
				@if (dueItemsCount(); as count) {

					<span class="-bottom-3 left-3 absolute bg-accent px-1 pt-1 pb-1 rounded-full text-3xs leading-none">{{count}}</span>

				}

			</div>

			<!-------------->
			<!-- QUESTION -->
			<!-------------->
			<div	class="flex flex-1 justify-center items-center gap-1 cur-pointer"
					[@quoteChange]="quiz.definition.id"
					(click)="increaseVisibility()">

				<small class="text-base-secondary text-sm">({{quiz.definition.type}})</small>
				@if (quiz.askWord) {

					<ng-container *ngTemplateOutlet="questionTemplate; context: { $implicit: quiz }" />

				} @else {

					<w-languages [languages]="quiz.definition.languages" />

				}

			</div>

			<!----------------------->
			<!-- TOP-RIGHT BUTTONS -->
			<!----------------------->
			<div quiz_solve class="flex items-center gap-1">

				<button
					class="btn btn-glyph"
					(click)="showAnswer(quiz.word)"
					title="Show Answer">
					<svg wGlyph="contact_support"></svg>
				</button>

				<button
					class="transform duration-300 btn btn-glyph"
					(click)="increaseVisibility()"
					[title]="btnTitle()"
					[class.rotate-180]="visibility() === QuizVisibility.CHOICES">
					<svg wGlyph="stat_minus_2"></svg>
				</button>

			</div>

		</div>

		<!-- HINT WRAPPER -->
		<div class="grid px-6 max-w-full prose" [@slideChoices]="visibility() >= QuizVisibility.HINTS ? 'opened' : 'closed'">

			<!-- CONTEXTS -->
			<div class="">

				@for (context of quiz.word.contexts; track $index) {

					<blockquote [innerHTML]="context | markHighlight:quiz.word.name:quiz.askWord"></blockquote>

				}

			</div>
			<!-- SAMPLES -->
			<div class="">

				<blockquote>

					<ul>

						@for (definition of quiz.word.definitions; track $index) {
							@for (sample of definition.samples; track $index) {

								<li [innerHTML]="sample | markHighlight:quiz.word.name:quiz.askWord"></li>

							}
						}

					</ul>

				</blockquote>

			</div>

		</div>

	</div>

	<!------------->
	<!-- CHOICES -->
	<!------------->
	<div
		class="grid"
		[@slideChoices]="visibility() === QuizVisibility.CHOICES ? 'opened' : 'closed'"
		[@choicesBlink]="animationState()"
		(@choicesBlink.done)="complete($event, quiz)">

		<div class="gap-1 md:gap-2 grid @2xl/page:grid-cols-2 @5xl/page:grid-cols-3 pt-1 md:pt-2">

			@for (choice of quiz.choices; track $index) {

				<!-- CHOICE -->
				<div
					tabindex="0"
					quiz_choice
					class="relative items-center focus-visible:outline-hidden grid p-3 rounded-lg focus-visible:ring-4 focus-visible:ring-outline min-h-14 cursor-pointer comp-active comp-hover comp"
					[class.correct]="quiz.correctChoice() === $index"
					[class.incorrect]="quiz.incorrectChoice() === $index"
					(click)="onChoiceClick(quiz, $index)">

					@if (quiz.askWord) {

						<w-languages [languages]="choice.definitions[0].languages" />

					} @else {

						<ng-container *ngTemplateOutlet="choiceTemplate; context: { choice, quiz }" />

					}

				</div>

			}

		</div>

	</div>

} @else {

	<div class="flex items-center px-4 py-3 rounded-lg min-h-14 comp-dark">

		<svg wGlyph="quiz" class="mr-auto text-xl"></svg>
		<span class="flex flex-1 justify-center items-center gap-2">
			Quiz
			<small class="text-secondary">/kwɪz/</small>
		</span>

	</div>

}
