@import 'mixins';

.badge-container {

	position	: relative;

	& .badge {

		position			: absolute;
		right				: 0;
		bottom				: 0;
		min-width			: 1.4em;

		pointer-events		: none;

		padding-inline		: 0.4em;
		padding-block		: 0.2em 0.1em;
		background-color	: fn-color(accent);
		border-radius		: 25px;

		line-height			: 1;
		font-size			: 1.3ch;
	    font-weight			: bold;

		&.empty {

			right				: 6px;
			bottom				: 7px;
			padding				: 7px;

		}

		&.small {

			right				: -10px;
			bottom				: -7px;
			padding				: 5px 5px 4px 5px;
			line-height			: 0.5;
			font-size			: xx-small;
			font-weight			: normal;

		}

	}

}


// &:has(.badge) {

// 	position		: relative;

// }

// .badge {

// 	position			: absolute;
// 	bottom				: 2px;
// 	right				: 2px;
// 	padding				: 0.3em 0.5em;
// 	background-color	: #{fn-color(accent)};
// 	border-radius		: 25px;
// 	pointer-events		: none;
// 	line-height			: 1;
// 	font-size			: var(--font-size-xs);
// 	font-weight			: 700;

// }
