@mixin mx-box($bg-color: $col-bg-component) {

	color				: #{fn-var($col-text)};
	padding				: #{$gap-lg $gap};
	background-color	: #{fn-var($bg-color)};
	border-radius		: #{$border-radius-xl};
	min-height			: $header-height;

	@include mx-transition(background-color);

}
