@import 'helper';
@import 'variables';
@import 'mixins';

@mixin mx-card($bg: 2) {

	display	: block;
	@include mx-component($bg);
	@include mx-box-shadow;

	gap		: var(--gap-xl);

	& > header {

		& > [card_title] {

			display			: block;
			margin-bottom	: var(--gap-xl);
			@include mx-h3;

		}

	}

	& > main,
	& > footer {

		display		: block;
		padding		: var(--gap-sm);

	}

}

.card {

	@include mx-card;

}
