@mixin mx-component(
	$param-dark: false,
	$param-content-scrollable: false,
	$param-content-padding: $outline-width
) {

	@include mx-box(
		$param-shadow			: true,
		$param-padding-inline	: $component-padding-inline,
		$param-padding-block	: $component-padding-block,
		$param-dark				: $param-dark,
	);
	@include mx-d-flex-column;
	gap		: $gap-xxl;

	@if $param-content-scrollable {

		overflow	: hidden;

	}

	& > header {

		@include mx-header($param-font-size: $font-size-h4, $param-small-font-size: 0.5em);

	}

	& > [content] {

		@include mx-d-grid;
		gap		: $gap-sm;
		padding	: $param-content-padding;

		@if $param-content-scrollable {

			@include mx-scrollable;

		}

	}

	& > footer {

		@include mx-footer-buttons;

	}

}
