@mixin mx-component($param-content-scrollable: false) {

	@include mx-box(
		$param-shadow			: true,
		$param-padding-inline	: $component-padding-inline,
		$param-padding-block	: $component-padding-block
	);
	@include mx-d-flex-column;
	gap		: $gap-xxl;

	& > header {

		@include mx-header($param-font-size: $font-size-h1, $param-small-font-size: 0.5em);

	}

	& > [content] {

		@include mx-d-grid;
		gap	: $gap-sm;

		@if $param-content-scrollable {

			@include mx-scrollable;

		}

	}

	& > footer {

		@include mx-footer-buttons;

	}

}
