@import 'variables';
@import 'helper';

@mixin mx-v-divider {

	@include mx-d-block;
	border-left	: 1px solid fn-var($col-form-element-bg);
    width		: 0;
    margin		: $gap-sm $gap-xxs;
	align-self	: stretch;

	@include mx-transition(border-left);

}

.v-divider {

	@include mx-v-divider;

}

@mixin mx-h-divider {

	--divider-color	: #{fn-color-set-alpha($col-text-secondary, 0.7)};

	@include mx-d-flex-ai-c-jc-sb;
	color				: fn-var($col-text-secondary);
	margin-block-end	: $gap-xl;
	font-size			: $font-size;
	font-weight			: bold;
	text-align			: center;


	&::before,
	&::after {

		content		: '';
		@include mx-d-block;
		height		: 0.09em;
		min-width	: 33%;

	}

	&::before {

		background		: linear-gradient(to left, var(--divider-color), transparent);
		border-radius	: $border-radius-round;
		margin-right	: $gap-sm;

	}

	&::after {

		background		: linear-gradient(to right, var(--divider-color), transparent);
		border-radius	: $border-radius-round;
		margin-left		: $gap-sm;

	}

	&:empty::before,
	&:empty::after {

		margin-block	: 0;

	}

}

.h-divider {

	@include mx-h-divider;

}


@mixin mx-text-divider {

	--text-divider-gap:0.5rem;
	display: flex;
	align-items: center;
	font-size: 0.9375rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	&:empty { --text-divider-gap:0rem; }

	&::before, &::after {

		content: '';
		height: 1px;
		background-color: silver;
		flex-grow: 1;

	}

	&::before {

		margin-right: var(--text-divider-gap);

	}

	&::after {

		margin-left: var(--text-divider-gap);

	}

}

.text-divider {

	@include mx-text-divider;

}
