.empty {

	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction	: column;
    gap				: var(--gap);
	// color			: fn-hsl(text-secondary);
	padding 		: var(--gap-xxl);
	font-style		: italic;

	& > .empty-message {

		display: flex;
		align-items: center;
		color		: var(--col-text-secondary);
		font-style	: italic;

		& > .material-symbols-outlined {

			color	: inherit;

		}

	}

}
