@mixin mx-fieldset {

	@include mx-box;
	@include mx-pos-relative;
	@include mx-shadow;
	@include mx-border-0;

	& > legend {

		@include mx-d-flex-center;
		@include mx-background($col-bg-component-dark);
		@include mx-border-radius-sm;
		@include mx-min-height($widget-height-xs);
		@include mx-min-width($header-height);
		@include mx-font-size($font-size-sm);
		@include mx-px;

		&:has(#{$glyph-selector}) {

			@include mx-pr;

		}

		&:nth-child(2) {

			@include mx-pos-absolute;
			top			: calc(-4 * fn-var($gap-lg));
			right		: calc(2 * fn-var($gap-sm));
			// @include mx-p-xs;

			@include mx-bigScreen() {

				top		: calc(-3 * fn-var($gap-lg));

			}

		}

	}

}
