@mixin mx-fieldset {

	@include mx-box;
	@include mx-shadow;
	position	: relative;
	border		: 0;

	& > legend {

		@include mx-d-flex-center;
		@include mx-background($col-bg-component-dark);
		border-radius	: $border-radius-sm;
		min-height		: $widget-height;
		min-width		: $header-height;
		font-size		: $font-size;
		padding-inline	: $gap;

		&:has(#{$glyph-selector}) {

			padding-right	: $gap;

		}

		&:nth-child(2) {

			position: absolute;
			top		: -3.5rem;
			right	: 5 * $gap-xxs;

			@include mx-bigScreen() {

				top	: -4rem;

			}

		}

	}

}
