@mixin mx-footer-buttons(
	$param-one-one: false,
	$param-one-two: false,
	$param-two-one: false,
	$param-two-two: false
) {

	@include mx-d-flex-jc-end;
	gap				: $gap-sm;
	padding			: $gap-xl;
	margin-top		: auto;

	@if $param-one-one {

		& > *:last-child {

			margin-left	: auto;

		}

	}

	@if $param-one-two {

		justify-content	: end;

		& > *:first-child {

			margin-right	: auto;

		}

	}

	@if $param-two-one {

		justify-content	: start;

		& > *:last-child {

			margin-left	: auto;

		}

	}

	@if $param-two-two {

		justify-content	: start;

		& > *:nth-child(3) {

			margin-left	: auto;

		}

	}

}
