@import 'helper';
@import 'variables';

%input-element  {

	padding					: var(--gap);
	color					: fn-hsl(text);

	border-radius			: var(--border-radius-sm);
	border-width			: 1px;
	border-style			: solid;

	background-color		: fn-hsl(bg-1);
	border-color			: fn-hsl(bg-1, (lig: "- 10%"));
	transition				: $bg-transition, border-color $transition;

	min-height				: var(--input-element-height);

	&:focus,
	&:focus-visible {

		@include mx-outline;

	}

	&.ng-invalid.ng-dirty {

		--col-focus-hue		: 0;
		@include mx-outline;

	}

}

%input-label {

	position			: absolute;
	top					: 50%;
	left				: 5px;
	transform			: translateY(-50%);
	pointer-events		: none;
	border-radius		: var(--border-radius-xs);
	padding				: 1px 5px;
	font-size			: 1.4rem;
	transition			: all $transition, $bg-transition, border-color $transition;

}

%input-label-up {

	top					: -1px;
	font-size			: 1rem;
	background-color	: fn-hsl(bg-3);
	border				: none;

}
