@mixin mx-input {

	padding				: $gap;
	color				: fn-var($col-text);
	border				: 0;
	background-color	: transparent;
	outline				: 0;

	width				: 100%;

}

@mixin mx-input-label($input-label-top: 50%) {

	@include mx-d-flex-ai-center;
	position			: absolute;
	top					: $input-label-top;
	left				: 5px;
	transform			: translateY(-50%);
	pointer-events		: none;
	border-radius		: $border-radius-xs;
	padding				: 1px 5px;
	font-size			: $font-size-sm;
	@include mx-transition(all);

}

@mixin mx-input-label-up {

	top					: -1px;
	font-size			: $font-size-xs;
	background-color	: fn-color-darken($col-bg-component-dark, 10%);
	border				: none;

}

@mixin mx-input-element-border {

	border-radius			: $border-radius-sm;
	border-width			: 1px;
	border-style			: solid;

	border-color			: fn-color-darken($col-bg-form-element, 10%);

}

@mixin mx-input-element {

	position				: relative;

	@include mx-input-element-border;
	background-color		: fn-var($col-bg-form-element);
	min-height				: $widget-height;
	@include mx-transition(background-color border-color);

	& > input,
	& > select,
	& > textarea {

		@include mx-input;

	}

	& > label {

		@include mx-input-label;
		&.up {

			@include mx-input-label-up;

		}

	}

	&[required] > label::before {

		content			: "*";
		color			: fn-var($col-focus);
		margin-right	: 2px;

	}

	&:has(:focus-visible) {

		@include mx-outline;
		& > label {

			@include mx-input-label-up;

		}

	}

	/*
	* ng-valid    <-> ng-invalid
	* ng-pristine <-> ng-dirty
	* ng-touched  <-> ng-untouched
	*/
	&.ng-dirty.ng-invalid {

		@include mx-outline($col-error);

	}

	&.ng-dirty.ng-valid {

		@include mx-outline($col-success);

	}

}

.input-element {

	@include mx-input-element;

}
