.menu {

	@include mx-component(4);
	@include mx-flex-column;

	& > hr {

		margin-top		: var(--gap-sm);
		margin-bottom	: var(--gap-sm);

	}

	&.scrollable {

		max-height	: 20rem;
		overflow	: auto;
		@include mx-webkit-scrollbar;

	}

}
