@mixin mx-page($param-calc-height: false) {

	@include mx-d-flex-column;
	gap		: $page-padding;
	padding	: $page-padding;

	@if $param-calc-height {

		height	: calc(100dvh - #{$header-height});

	}

}
