@mixin mx-scrollbar {

	scrollbar-width		: thin;
	scrollbar-color		: fn-var($col-scrollbar-thumb) fn-var($col-scrollbar-track);
	scrollbar-gutter	: stable;

}

@mixin mx-scrollable($param-set-max-height: false, $param-max-height: 25rem) {

	@if $param-set-max-height {

		max-height	: $param-max-height;

	}
	overflow-y	: auto;
	@include mx-scrollbar;

}
