@mixin mx-scrollbar {

	scrollbar-width		: thin;
	scrollbar-color		: fn-var($col-scrollbar-thumb) fn-var($col-scrollbar-track);
	scrollbar-gutter	: stable;

}

@mixin mx-scrollable($maxHeight: none) {

	max-height			: $maxHeight;
	overflow-y			: auto;
	@include mx-scrollbar;

}
