@mixin mx-webkit-scrollbar {

	&::-webkit-scrollbar {

		width						: 8px;
		height						: 8px;
		border-radius				: fn-var($border-radius-sm);
		background-color			: fn-color-mix-alpha($col-bg-page, 40%);
		@include mx-transition((background-color: $transition));

	}

	&::-webkit-scrollbar-thumb {

		border-radius				: fn-var($border-radius);
		background-color			: fn-var($col-bg-page);
		@include mx-transition((background-color: $transition));

	}

}

.webkit-scrollbar {

	@include mx-webkit-scrollbar;

}

@mixin mx-scrollable($maxHeight: 25rem) {

	max-height			: $maxHeight;
	@include mx-overflow-y-a;
	@include mx-webkit-scrollbar;

}

.scrollable {

	@include mx-scrollable;

}
