@import 'variables';

@keyframes scaleAndFade {

	0% {
		transform	: scale(0.5);
		opacity		: 0;
	}

	// 70% {
	// 	transform	: scale(1.1);
	// 	opacity		: 1;
	// }

	100% {
		transform	: scale(1);
		opacity		: 1;
	}

}

@keyframes heartbeat {

	0% {
		transform	: scale(0.5);
		opacity		: 0;
	}

	30% {
		transform	: scale(1.2);
		opacity		: 0.5;
	}

	50% {
		transform	: scale(0.9);
		opacity		: 1;
	}

	75% {
		transform	: scale(1.1);
		opacity		: 1;
	}

	100% {
		transform	: scale(1);
		opacity		: 1;
	}

}

#splashScreen {

	@extend %flex-center-center;
	width				: 100vw;
	height				: 100vh;
	background-color	: #121212;
	position			: absolute;
	z-index				: $z-index-splash-screen;

	& > img {

		width	    : 50vw;
		max-width	: 500px;
		animation	: scaleAndFade 1300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		// animation	: heartbeat 2s ease-in-out;

	}

}
