<form
	[formGroup]="form.fg"
	(ngSubmit)="onSave()"
	class="flex flex-col gap-4">

	@if (isUpdate()) {

		<!-- ID -->
		<w-input formControlName="id" label="ID" [readonly]="true"/>

	}

	<!-- NAME -->
	<w-input formControlName="name" label="Term"/>

	<!-- PRONUNCIATION -->
	<w-input formControlName="pronunciation" label="Pronunciation"/>

	<!-- ADD CONTEXT BUTTON -->
	<button
		add_button
		type="button"
		class="ml-auto btn btn-success"
		(click)="form.addContext()">
		<svg wGlyph="add_circle"></svg> Context
	</button>

	<!-- CONTEXTS -->
	@for (context of form.contexts.controls; let wordIdx = $index; track wordIdx) {

		<div class="flex gap-1">

			<w-textarea [formControl]="context" [label]="'Context #' + (wordIdx + 1)" [rows]="3"/>
			<button
				type="button"
				class="btn btn-glyph squared"
				[title]="'Remove Sample #' + (wordIdx + 1)"
				(click)="form.removeContext(wordIdx)">
				<svg wGlyph="do_not_disturb_on" class="fill-focus"></svg>
			</button>

		</div>

	}

	<!-- ITERATE DEFINITIONS -->
	@for (definition of form.definitions.controls; let defIdx = $index; track defIdx) {

		<fieldset class="relative comp-dark p-3 comp">

			<legend class="flex items-center bg-component-dark px-3 rounded-lg h-button-height">Definition #{{defIdx + 1}}</legend>

			@if(defIdx > 0) {

				<legend class="-top-11 right-2.5 absolute flex justify-center items-center bg-component-dark rounded-lg w-button-height h-button-height">
					<button class="btn btn-glyph" (click)="form.removeDefinition(defIdx)" [title]="'Remove Definition #' + (defIdx + 1)">
						<svg wGlyph="do_not_disturb_on" class="fill-focus"></svg>
					</button>
				</legend>

			}

			<!-- DEFINITION -->
			<div class="flex flex-col gap-4" [formGroup]="definition">

				<!-- TYPE -->
				<w-select formControlName="type" label="Type" [nodes]="DEFINITION_TYPES"/>

				<!-- ITERATE LANGUAGES -->
				@for (lang of definition.controls.languages.controls; let langIdx = $index; track langIdx) {

					<!-- DEFINITION-LANGUAGE -->
					<div class="gap-2 grid grid-cols-[1fr_2.25rem] sm:grid-cols-[8rem_auto_2.25rem] my-2 sm:my-0" [formGroup]="lang">

						<!-- LANGUAGE -->
						<w-select formControlName="language" label="Language" [nodes]="DEFINITION_LANGUAGES" class="sm:max-w-32"/>

						@if(langIdx < 1) {

							<button
								type="button"
								class="sm:order-last min-w-9 btn btn-glyph place-self-center squared"
								title="Add Language"
								(click)="form.addLanguage(defIdx)">
								<svg wGlyph="add_circle" class="fill-success"></svg>
							</button>

						} @else {

							<button
								type="button"
								class="sm:order-last min-w-9 btn btn-glyph place-self-center squared"
								[title]="'Remove Language #' + (langIdx + 1)"
								(click)="form.removeLanguage(defIdx, langIdx)">
								<svg wGlyph="do_not_disturb_on" class="fill-focus"></svg>
							</button>

						}

						<!-- NAME -->
						<w-input formControlName="name" label="Meaning" class="col-span-2 sm:col-span-1"/>

					</div>

				}

				<!-- ITERATE SAMPLES -->
				@for (sample of definition.controls.samples.controls; let sampleIdx = $index; track sampleIdx) {

					<!-- SAMPLES -->
					<div class="flex gap-2">

						<w-textarea [formControl]="sample" [label]="'Sample #' + (sampleIdx + 1)" [rows]="3"/>
						@if(sampleIdx < 1) {

							<button
								type="button"
								class="btn btn-glyph squared"
								title="Add Sample"
								(click)="form.addSample(defIdx)">
								<svg wGlyph="add_circle" class="fill-success"></svg>
							</button>

						} @else {

							<button
								type="button"
								class="btn btn-glyph squared"
								[title]="'Remove Sample #' + (sampleIdx + 1)"
								(click)="form.removeSample(defIdx, sampleIdx)">
								<svg wGlyph="do_not_disturb_on" class="fill-focus"></svg>
							</button>

						}

					</div>

				}

			</div>

		</fieldset>

	}
	<button
		add_button
		type="button"
		class="ml-auto btn btn-success"
		(click)="form.addDefinition()">
		<svg wGlyph="add_circle"></svg> Definition
	</button>

	<footer class="flex justify-end">

		<button	[disabled]="form.fg.pristine || form.fg.invalid"
				class="btn">
			<svg wGlyph="save"></svg> {{ isUpdate() ? 'Update' : 'Create'}}
		</button>

	</footer>

</form>
