<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
<header>

	<section id="section-logo">

		<p-button
			(click)="toggleNav()"
			styleClass="p-button-text"
			icon="pi pi-bars"
			[badge]="((syncableItemsCount$ | async) ?? 0) > 0 ? '.' : ''"
			badgeClass="dotBadge"></p-button>

	</section>
	<section id="portal-outlet-left">
		<!-- content will be placed dynamically via Cdk Portal -->
	</section>
	<section id="portal-outlet-right">
		<!-- content will be placed dynamically via Cdk Portal -->
	</section>

</header>
<main>

	<div *ngIf="!bigScreen" id="nav-overlay" (click)="toggleNav()"></div>
	<nav>

		<p-panelMenu [model]="(navMenuItems$ | async) || []"></p-panelMenu>
		<div bottom-buttons>

			<app-theme-switcher [isDark]="isThemeDark$ | async"
								(switchTheme)="onSwitchTheme()"></app-theme-switcher>
		</div>
		<div bottom-version>v{{ builtVersion }} (#{{ builtNumber }}) {{ builtTime | date:'medium' }}</div>

	</nav>
	<article>

		<router-outlet></router-outlet>

	</article>

</main>