<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
<header>

	<section id="section-logo">

		<button pButton
				type="button"
				icon="pi pi-bars"
				class="p-button-text"
				(click)="toggleNav()"></button>

	</section>
	<section id="portal-outlet-left">
		<!-- content will be placed dynamically via Cdk Portal -->
	</section>
	<section id="portal-outlet-right">
		<!-- content will be placed dynamically via Cdk Portal -->
	</section>

</header>
<main>

	<div *ngIf="!bigScreen" id="nav-overlay" (click)="toggleNav()"></div>
	<nav>

		<p-panelMenu [model]="(navMenuItems$ | async) || []"></p-panelMenu>
		<div bottom-buttons>
			<app-theme-switcher [theme]="theme$ | async"
								(themeChange)="onThemeChange($event)"></app-theme-switcher>
		</div>

	</nav>
	<article>

		<router-outlet></router-outlet>

	</article>

</main>