$animation-duration				: 0.6s;
$animation-ease					: cubic-bezier(0.25, 1, 0.25, 1);
$nav-width						: 18rem;
$default-padding				: 0.5rem;
$header-height					: 4rem;

@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

app-core-page {

	@extend %flex-column;
	height	: 200vh;

	header {

		display					: grid;
		grid-template-columns	: 60px 1fr;
		grid-template-rows		: 1fr 1fr;
		grid-template-areas		: "logo right"
								  "left left";
		background-color		: var(--surface-c);
		min-height				: 2 * $header-height;

		@include md() {

			grid-template-columns	: 60px 1fr 1fr;
			grid-template-rows		: 1fr;
			grid-template-areas		: "logo left right";
			min-height				: $header-height;

		}

		& #section-logo {

			grid-area	: logo;
			@extend %flex-center-center;
			& > img {

				display: none;

			}

		}

		& #portal-outlet-left {

			grid-area		: left;
			@extend %flex-start-center;
			padding-left	: 0.5rem;

		}

		& #portal-outlet-right {

			grid-area	: right;
			@extend %flex-end-center;

		}

	}

	main {

		flex		: 1;
		position	: relative;
		display		: flex;
		height		: calc(100vh - #{$header-height});

		nav {

			@extend %flex-column;
			position			: absolute;
			z-index				: 10;
			width				: $nav-width;
			height				: 100%;
			background-color	: var(--surface-b);
			transition			: margin-left $animation-duration $animation-ease;
			padding				: $default-padding;

			& > div[bottom-buttons] {

				display			: flex;
				justify-content	: space-evenly;
				margin-top		: auto;
				align-self		: center;
				width			: 100%;
				padding-top		: 0.5rem;
				padding-bottom	: 0.5rem;

			}

		}

		article {

			@extend %w359-scrollbar;
			flex		: 1;
			padding		: $default-padding;
			overflow-y	: auto;

		}

	}

	#nav-overlay {

		display				: block;
		position			: absolute;
		z-index				: 5;
		left				: 0;
		top					: 0;
		right				: 0;
		bottom				: 0;
		animation			: fadeIn $animation-duration $animation-ease;
		background-color	: var(--maskbg);

	}

	&.navCollapsed {

		#nav-overlay {

			display	: none;

		}

		nav {

			margin-left	: -$nav-width;

		}

	}

	&.bigScreen {

		nav {

			position	: relative;
			z-index		: initial;

		}

	}


	@include md() {

		height	: 100vh;

	}

}

.menuBadge {

	& > a > span.p-menuitem-badge {

		margin-left: auto;

	}

}