<app-portal outletName="portal-outlet-right">

	<button
		pButton
		pRipple
		type="button"
		label="Filter"
		icon="pi pi-filter"
		class="p-button-text p-button-sm"
		(click)="onFilter()">
	</button>
	<button
		pButton
		pRipple
		type="button"
		label="Refresh"
		icon="pi pi-refresh"
		class="p-button-text p-button-sm"
		(click)="onRefresh()">
	</button>

</app-portal>
<div *ngIf="logMessages$ | async as logs">

	<ng-template pTemplate="header">
		<span>Logs</span>
		<span>{{logs.length}}</span>
	</ng-template>

	<ng-container *ngFor="let log of logMessages$ | async">

		<h6>[{{ log.category }}] {{ log.date | date:'dd.MM.yyyy hh:mm:ss' }}</h6>
		<h6 *ngIf="log.entityId">{{ log.entityId }}</h6>
		<h5>{{ log.message }}</h5>

	</ng-container>
	<p *ngIf="logs.length === 0"><i>nothing to display</i></p>

</div>