<w-portal>

	<button
		class="icon-only"
		(click)="onRefresh()">
		<span class="material-symbols-outlined">refresh</span> Refresh
	</button>

</w-portal>

<div class="card">

	<h2>Logs</h2>
	<div *ngIf="logMessages$ | async as logs">

		<ng-container *ngFor="let log of logs">

			<span class="sub-msg">[{{ log.category }}] {{ log.date | date:'dd.MM.yyyy hh:mm:ss' }} ({{ log.date | timePast }})</span>
			<span class="sub-msg" *ngIf="log.entityId">{{ log.entityId }}</span>
			<h4 [innerHTML]="log.message"></h4>

		</ng-container>
		<p *ngIf="logs.length === 0"><i>nothing to display</i></p>

	</div>

</div>
