<fieldset>

	<legend>Buttons</legend>
	<legend><button class="link sm"><span class="material-symbols-outlined">add</span></button></legend>

	<!-- SM -->
	<div class="h-divider">Extra Small (xs)</div>
	<div container1>

		<td><button class="xs">Update</button></td>
		<td><button class="xs" disabled>Update</button></td>
		<td><button class="warn xs">Update</button></td>
		<td><button class="danger xs">Update</button></td>
		<td><button class="link xs">Update</button></td>
		<td><button class="xs" data-after="Update"><span class="material-symbols-outlined">update</span></button></td>
		<td><button class="xs" data-after="Update" disabled><span class="material-symbols-outlined">update</span></button></td>
		<td><button class="warn xs" data-after="Update"><span class="material-symbols-outlined">update</span></button></td>
		<td><button class="danger xs" data-after="Update"><span class="material-symbols-outlined">update</span></button></td>
		<td><button class="link xs" data-after="Update"><span class="material-symbols-outlined">update</span></button></td>

	</div>

	<!-- SM -->
	<div class="h-divider">Small (sm)</div>
	<div container>

		<button class="sm">Update</button>
		<button class="sm" disabled>Update</button>
		<button class="warn sm">Update</button>
		<button class="danger sm">Update</button>
		<button class="link sm">Update</button>

	</div>
	<div container>

		<button class="sm" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="sm" data-after="Update" disabled><span class="material-symbols-outlined">update</span></button>
		<button class="warn sm" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="danger sm" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="link sm" data-after="Update"><span class="material-symbols-outlined">update</span></button>

	</div>

	<!-- DEFAULT -->
	<div class="h-divider">Default</div>
	<div container>

		<button class="">Update</button>
		<button class="" disabled>Update</button>
		<button class="warn ">Update</button>
		<button class="danger ">Update</button>
		<button class="link ">Update</button>

	</div>
	<div container>

		<button class="" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="" data-after="Update" disabled><span class="material-symbols-outlined">update</span></button>
		<button class="warn " data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="danger " data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="link " data-after="Update"><span class="material-symbols-outlined">update</span></button>

	</div>

	<!-- LG -->
	<div class="h-divider">Large (lg)</div>
	<div container>

		<button class="lg">Update</button>
		<button class="lg" disabled>Update</button>
		<button class="warn lg">Update</button>
		<button class="danger lg">Update</button>
		<button class="link lg">Update</button>

	</div>
	<div container>

		<button class="lg" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="lg" data-after="Update" disabled><span class="material-symbols-outlined">update</span></button>
		<button class="warn lg" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="danger lg" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="link lg" data-after="Update"><span class="material-symbols-outlined">update</span></button>

	</div>

	<!-- XL -->
	<div class="h-divider">Extra Large (xl)</div>
	<div container>

		<button class="xl">Update</button>
		<button class="xl" disabled>Update</button>
		<button class="warn xl">Update</button>
		<button class="danger xl">Update</button>
		<button class="link xl">Update</button>

	</div>
	<div container>

		<button class="xl" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="xl" data-after="Update" disabled><span class="material-symbols-outlined">update</span></button>
		<button class="warn xl" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="danger xl" data-after="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="link xl" data-after="Update"><span class="material-symbols-outlined">update</span></button>

	</div>

</fieldset>
<fieldset>

	<legend>tag</legend>
	<!-- XL -->
	<div container>

		<button class="tag xs">Tag (xs)</button>
		<button class="tag sm">Tag (sm)</button>
		<button class="tag">Tag (default)</button>
		<button class="tag lg">Tag (lg)</button>
		<button class="tag xl">Tag (xl)</button>

	</div>
	<div container>

		<button class="tag xs" data-before="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="tag sm" data-before="Update" disabled><span class="material-symbols-outlined">update</span></button>
		<button class="tag" data-before="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="tag lg" data-before="Update"><span class="material-symbols-outlined">update</span></button>
		<button class="tag xl" data-before="Update"><span class="material-symbols-outlined">update</span></button>

	</div>

</fieldset>

<w-toast [conf]="{ severity: 'success', summary: 'Update available', detail: 'Press button to start' }"/>
<w-toast [conf]="{ severity: 'info' }">

	<div update_alert>

		<span>Update available</span>
		<button class="link">
			<span class="material-symbols-outlined">update</span> Update
		</button>

	</div>

</w-toast>
<w-toast [conf]="{ severity: 'warn' }">

	<div update_alert>

		<span>Update available</span>
		<button class="link">
			<span class="material-symbols-outlined">update</span> Update
		</button>

	</div>

</w-toast>
<w-toast [conf]="{ severity: 'error' }">

	<div update_alert>

		<span>Update available</span>
		<button class="link">
			<span class="material-symbols-outlined">update</span> Update
		</button>

	</div>

</w-toast>
