<fieldset>

	<legend>Buttons</legend>
	<legend><button class="link sm"><span class="material-symbols-outlined">add</span></button></legend>

	<div wrapper>

		<!-- TYPES -->
		<div class="h-divider">Button Types</div>
		<div container>

			<td><button class="" disabled>Disabled</button></td>
			<td><button class="warn">Warn</button></td>
			<td><button class="danger">Danger</button></td>
			<td><button class="">Default</button></td>
			<td><button class="link">Link</button></td>

		</div>

		<!-- WITH GLYPHS -->
		<div class="h-divider">With Glyphs</div>
		<div container>

			<td><button class="" 		data-after="Disabled" disabled><span class="material-symbols-outlined">update</span></button></td>
			<td><button class="warn"	data-after="Warn"><span class="material-symbols-outlined">update</span></button></td>
			<td><button class="danger"	data-after="Danger"><span class="material-symbols-outlined">update</span></button></td>
			<td><button class=""		data-after="Default"><span class="material-symbols-outlined">update</span></button></td>
			<td><button class="link"	data-after="Link"><span class="material-symbols-outlined">update</span></button></td>

		</div>

		<!-- SIZES -->
		<div class="h-divider">Button Sizes</div>
		<div container>

			<td><button class="xs">Extra Small</button></td>
			<td><button class="sm">Small</button></td>
			<td><button class="">Default</button></td>
			<td><button class="lg">Large</button></td>
			<td><button class="xl">Extra Large</button></td>

		</div>

		<!-- GLYPHS -->
		<div class="h-divider">Glyphs</div>
		<div container>

			<td><button class="glyph xs"><span class="material-symbols-outlined">update</span></button></td>
			<td><button class="glyph sm"><span class="material-symbols-outlined">update</span></button></td>
			<td><button class="glyph"><span class="material-symbols-outlined">update</span></button></td>
			<td><button class="glyph lg"><span class="material-symbols-outlined">update</span></button></td>
			<td><button class="glyph xl"><span class="material-symbols-outlined">update</span></button></td>

		</div>

		<!-- TAG -->
		<div class="h-divider">Tags (tag)</div>
		<div container_tags>

			<button class="tag xs">Extra Small</button>
			<button class="tag sm">Small</button>
			<button class="tag">Default</button>
			<button class="tag xs" 	data-before="Extra Small"><span class="material-symbols-outlined">close</span></button>
			<button class="tag sm"	data-before="Small"><span class="material-symbols-outlined">close</span></button>
			<button class="tag"		data-before="Default"><span class="material-symbols-outlined">close</span></button>

		</div>

	</div>

</fieldset>

<w-toast [conf]="{ severity: 'success', summary: 'Update available', detail: 'Press button to start' }"/>
<w-toast [conf]="{ severity: 'info' }">

	<div update_alert>

		<span>Update available</span>
		<button class="link">
			<span class="material-symbols-outlined">update</span> Update
		</button>

	</div>

</w-toast>
<w-toast [conf]="{ severity: 'warn' }">

	<div update_alert>

		<span>Update available</span>
		<button class="link">
			<span class="material-symbols-outlined">update</span> Update
		</button>

	</div>

</w-toast>
<w-toast [conf]="{ severity: 'error' }">

	<div update_alert>

		<span>Update available</span>
		<button class="link">
			<span class="material-symbols-outlined">update</span> Update
		</button>

	</div>

</w-toast>
