<fieldset>

	<legend>Buttons</legend>
	<legend>
		<button class="glyph" (click)="buttonsVisible.set(!buttonsVisible())">
			<span [class.rotated]="buttonsVisible()" class="material-symbols-outlined">add</span>
		</button>
	</legend>

	<div content [@slideUpDown]="buttonsVisible() ? 'opened' : 'closed'">

		<!-- TYPES -->
		<div class="h-divider">Button Types</div>
		<div container>

			<td><button class="">Default</button></td>
			<td><button class="" disabled>Disabled</button></td>
			<td><button class="warn">Warn</button></td>
			<td><button class="danger">Danger</button></td>
			<td><button class="ghost">Ghost</button></td>
			<td><button class="link">Link</button></td>

		</div>

		<!-- SIZES -->
		<div class="h-divider">Button Sizes</div>
		<div container>

			<td><button class="xs">Extra Small</button></td>
			<td><button class="sm">Small</button></td>
			<td><button class="">Default</button></td>

		</div>

		<!-- GLYPHS -->
		<div class="h-divider">Glyphs</div>
		<div container>

			<td><button><w-glyph name="update"/>Update</button></td>
			<td><button><w-glyph name="preliminary"/>Check</button></td>
			<td><button><w-glyph name="preliminary_filled"/>All Checked</button></td>

		</div>

		<!-- TAG -->
		<div class="h-divider">Tags (tag)</div>
		<div container_tags>

			<button class="tag xs">Extra Small</button>
			<button class="tag sm">Small</button>
			<button class="tag">Default</button>
			<button class="tag xs" 	data-before="Extra Small"><span class="material-symbols-outlined">close</span></button>
			<button class="tag sm"	data-before="Small"><span class="material-symbols-outlined">close</span></button>
			<button class="tag"		data-before="Default"><span class="material-symbols-outlined">close</span></button>

		</div>

	</div>

</fieldset>

<!-- GLYPHS -->
<fieldset>

	<legend>Glyphs</legend>
	<legend>
		<button class="glyph" (click)="glyphsVisible.set(!glyphsVisible())">
			<span [class.rotated]="glyphsVisible()" class="material-symbols-outlined">add</span>
		</button>
	</legend>

	<div content [@slideUpDown]="glyphsVisible() ? 'opened' : 'closed'">

		<div class="h-divider">{{glyphList().length}} Glyphs</div>
		<div container container_glyphs>

			@for (glyph of glyphList(); track $index) {

				<td glyph>
					<w-glyph [name]="glyph"/>
					<span>{{glyph}}</span>
				</td>
			}

		</div>

	</div>

</fieldset>

<fieldset>

	<legend>Alerts</legend>
	<legend>
		<button class="glyph" (click)="alertsVisible.set(!alertsVisible())">
			<span [class.rotated]="alertsVisible()" class="material-symbols-outlined">add</span>
		</button>
	</legend>

	<div content [@slideUpDown]="alertsVisible() ? 'opened' : 'closed'">

		<w-toast [conf]="{ severity: 'success', summary: 'Update available', detail: 'Press button to start' }"/>
		<w-toast [conf]="{ severity: 'info', summary: 'Update available', detail: 'Press button to start' }"/>
		<w-toast [conf]="{ severity: 'warn', summary: 'Update available', detail: 'Press button to start' }"/>
		<w-toast [conf]="{ severity: 'error', summary: 'Update available', detail: 'Press button to start' }"/>

	</div>

</fieldset>

<fieldset>

	<legend>Forms</legend>
	<legend>
		<button class="glyph" (click)="formsVisible.set(!formsVisible())">
			<span [class.rotated]="formsVisible()" class="material-symbols-outlined">add</span>
		</button>
	</legend>

	<div content [@slideUpDown]="formsVisible() ? 'opened' : 'closed'">

		<form [formGroup]="form">
			<w-input label="Text" formControlName="text"/>
			<w-input-tag
					formControlName="tags"
					label="Tags"
					class="input-element"
					(tagInput)="onTagInput($event)"
					[suggestions]="tagSuggestions()"/>
			<w-textarea formControlName="area" label="Quote" [rows]="3" />
			<w-select formControlName="status" label="Status" [nodes]="PROJECT_STATUS"/>
			<w-switch label="Schedule" [value]="true"/>
			<w-markdown-editor [control]="editor()" name="Editor"/>
		</form>

	</div>

</fieldset>
