@let projects = (projects$ | async) ?? [];

<header>
	Projects <small>{{ projects.length }} Entries</small>
</header>

@if (projects.length > 0) {

	<section content>

		@for (project of projects; track $index) {

			<a [routerLink]="['/projects', project.id]" tabindex="0">

				{{ project.name }}
				<small><w-glyph name="schedule"/>{{ project.start }}</small>

			</a>

		}

	</section>

} @else {

	<!-- todo this could be a component -->
	<div class="empty">
		No projects available
		<br>
		<button routerLink="/projects/new" class="link">
			<w-glyph name="add" /> Add Project
		</button>
	</div>

}
