@import 'variables';
// @import 'mixins/responsive';
@import 'helper';
@import 'components';

:host {

	@include mx-d-flex-ai-c-jc-sb;
	padding-right	: $gap;

	#section-nav-button {

		@include mx-d-flex-center;
		min-width: $header-height;

	}

	#portal-outlet {

		@include mx-d-flex-jc-end;
		gap		: $gap-xs;
		flex	: 1;

	}

}

