@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	& > [task_header] {

		@include mx-component(3);
		padding		: var(--gap-lg);

		&:hover,
		&.expanded {

			background-color	: fn-hsl(bg-3, (lig: "- 2%"));

		}

		& > a {

			display					: grid;
			grid-template-columns	: 10rem 10rem 1fr;
			grid-template-rows		: auto 1fr;
			gap						: var(--gap-xs);
			cursor					: pointer;

			& > span {

				grid-column			: 1 / -1;

			}

			& > small {

				@include mx-flex-center-y;
				gap			: var(--gap-xxs);

				& > .material-symbols-outlined {

					font-size			: inherit;

				}

				&.ongoing,
				&.high {

					color	: fn-hsl(warn);

				}

				&.completed {

					color	: fn-hsl(success);

				}

			}

		}

	}

	& > [task_content_wrapper] {

		overflow				: hidden;

		& > [task_content] {

			@include mx-component(3);
			@include mx-flex-column;
			padding					: var(--gap);
			margin-left				: var(--gap-sm);
			margin-right			: var(--gap-sm);
			border-top-left-radius	: 0;
			border-top-right-radius	: 0;
			gap						: var(--gap-sm);

			& > [task_desc] {

				display			: flex;
				margin-bottom	: var(--gap);

				&:empty {

					display		: none;

				}

			}

			& > [task_tags] {

				display			: flex;
				flex-wrap		: wrap;
				gap				: var(--gap-xs);

			}

			& > [task_small] {

				@include mx-flex-column-start;

				@include bigScreen() {

					@include mx-flex-space-between-start;

				}

				& > small {

					display	: flex;
					gap		: var(--gap-xxs);

				}

			}

		}

		& > .footer {

			margin-right	: var(--gap-sm);

		}

	}

}
