@let t = task();
@let isExpanded = expanded();

<div task_header [class.expanded]="isExpanded">

	<a	[title]="t.description ?? ''"
		(click)="onToggleTask(t.id)"
		tabindex="0">

		<small [class]="t.status"><span class="material-symbols-outlined">manufacturing</span> {{ TASK_STATE[t.status] }}</small>
		<small [class]="t.priority"><span class="material-symbols-outlined">swap_vert</span> {{ TASK_PRIORITIES[t.priority] }}</small>
		<small><span class="material-symbols-outlined">category</span> {{ TASK_CATEGORIES[t.category] }}</small>
		<span>{{ t.name }}</span>
		<!-- TAGS -->
		<div task_tags>

			@for (tag of t.tags; track $index) {

				<button disabled class="tag xs">{{ tag }}</button>

			}

		</div>

	</a>

</div>
<div task_content_wrapper [@slideDown]="isExpanded">

	<div task_content>

		<!-- DESCRIPTION -->
		<div task_desc>{{ t.description }}</div>

		<!-- START -->
		<div task_small>

			<small>
				<span class="material-symbols-outlined small">schedule</span> {{ t.start | date:'EEEE dd.MM.yyyy' }}
				@if (t.end) {
					- {{ t.end | date:'EEEE dd.MM.yyyy' }}
				}
			</small>
			<small>{{ t.id }}</small>

		</div>

	</div>
	<div class="footer _n">

		<button
			class="link small"
			(click)="onEditTask(t.id)">
			<span class="material-symbols-outlined">edit</span>
			Edit Task
		</button>

	</div>

</div>
