@let t = task();

<!-- PROJECT ID -->
<h4>
	<small>{{ t.project.id }}</small>
	{{ t.project.name }}
</h4>

<!-- ID -->
<div class="viewElement">
	<small>ID</small>
	{{ t.id }}
</div>

<!-- NAME -->
<div class="viewElement">
	<small>Name</small>
	{{ t.name }}
</div>

<!-- DESCRIPTION -->
<div class="viewElement">
	<small>Description</small>
	{{ t.description }}
</div>

<!-- STATUS -->
<div class="viewElement">
	<small>Status</small>
	{{ TASK_STATE[t.status] }}
</div>

<!-- PRIORITY -->
<div class="viewElement">
	<small>Priority</small>
	{{ TASK_PRIORITIES[t.priority] }}
</div>

<!-- START -->
<div class="viewElement">
	<small>Start</small>
	{{ t.start | date:'EEEE dd.MM.yyyy' }}
</div>

<!-- END -->
<div class="viewElement">
	<small>End</small>
	{{ t.end | date:'EEEE dd.MM.yyyy' }}
</div>
