<div class="table">
	<div class="row header">
		<div class="cell">Bookmarks</div>
		<div class="cell"></div>
		<div class="cell"></div>
	</div>
	<div class="row" *ngIf="bookmarkErrorsCount$ | async as count">
		<div class="cell"><span style="color: lightcoral">Errors</span></div>
		<div class="cell">{{ count }}</div>
		<div class="cell"><button pButton [disabled]="count === 0" (click)="onStart()" icon="pi pi-eye" label="View" class="p-button-text"></button></div>
	</div>
	<div class="row" *ngIf="bookmarkCreatedCount$ | async as count">
		<div class="cell">Created</div>
		<div class="cell">{{ count }}</div>
		<div class="cell"><button pButton [disabled]="count === 0" (click)="onStart()" icon="pi pi-eye" label="View" class="p-button-text"></button></div>
	</div>
	<div class="row" *ngIf="bookmarkUpdatedCount$ | async as count">
		<div class="cell">Updated</div>
		<div class="cell">{{ count }}</div>
		<div class="cell"><button pButton [disabled]="count === 0" (click)="onStart()" icon="pi pi-eye" label="View" class="p-button-text"></button></div>
	</div>
	<div class="row" *ngIf="bookmarkDeletedCount$ | async as count">
		<div class="cell">Deleted</div>
		<div class="cell">{{ count }}</div>
		<div class="cell"><button pButton [disabled]="count === 0" (click)="onStart()" icon="pi pi-eye" label="View" class="p-button-text"></button></div>
	</div>
	<div class="row" *ngIf="bookmarkClickedCount$ | async as count">
		<div class="cell">Clicked</div>
		<div class="cell">{{ count }}</div>
		<div class="cell"><button pButton [disabled]="count === 0" (click)="onStart()" icon="pi pi-eye" label="View" class="p-button-text"></button></div>
	</div>
	<div class="column" *ngIf="bookmarkEmpty$ | async">
		No conflicts
	</div>
</div>