<div quote_icon>

	@if (!running()) {

		<span class="material-symbols-outlined paused" quote_badge>pause_circle</span>

	}
	@if (showPlay()) {

		<span class="material-symbols-outlined play" quote_badge>play_circle</span>

	}

</div>
@if (quote() ?? PICARD; as quote) {

	<figure
			quote_outer
			#quoteOuter
			[@quoteHeight]="{ value: quote.id, params: { startHeight: quoteOuter.clientHeight }}"
			[@.disabled]="!animate()"
			(@quoteHeight.done)="onAnimationEnd()">

		<blockquote quote_inner>

			<pre quote_name>{{ quote.name }}</pre>

		</blockquote>
		@if (quote.author) {

			<figcaption>

				<div quote_author>{{ quote.author }}</div>
				@if (quote.context) {

					<div quote_context>{{ quote.context }}</div>

				}

			</figcaption>

		}

	</figure>

}
