@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

@keyframes fadeOut {

	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}

:host {

	@include mx-component(3);
	@include mx-box-shadow;
	@include mx-flex-column-center;
	position		: relative;
	min-height		: 2 * $header-height;
	padding-inline	: var(--gap-lg);

	&::before {

		--col-primary-alp: 0.5;

		content		: "„";
		position	: absolute;
		color		: fn-hsl(primary);
		left		: var(--gap-sm);
		top			: calc(-3 * var(--gap-sm));
		font-weight	: bold;
		font-size	: 15rem;
		line-height	: 0;

		@include bigScreen {

			top		: calc(-1 * var(--gap-sm));
        	left	: var(--gap);

		}

	}

	& > [quote_icon] {

		position	: absolute;
		right		: var(--gap-xxl);
    	top			: calc(2 * var(--gap-xxl));

		@include bigScreen {

			top		: calc(2 * var(--gap-lg));
			right	: calc(2 * var(--gap-sm));

		}

		& > [quote_badge] {

			position		: absolute;
			right			: -6px;
			bottom			: 5px;
			line-height		: 0.5;
			font-size		: 1.5rem;
			color			: fn-hsl(accent);

			&.paused {

				color		: fn-hsl(warn);

			}

			&.play {

				animation: fadeOut 2s forwards;

			}

		}

	}

	& > figure {

		@include mx-flex-column;
		overflow	: hidden;
		cursor		: pointer;

		& > blockquote {

			position		: relative;
			border-left		: 0;
			margin-bottom	: 0;

			& > [quote_name] {

				font-family		: inherit;
				font-weight		: bold;
				font-style		: italic;
				font-size		: var(--font-size-h4);
				text-align		: center;
				padding			: 0 var(--gap-sm) var(--gap-sm) var(--gap-sm);
				background		: none;
				margin-bottom	: 0;

			}

		}

		& > figcaption {

			& > [quote_author] {

				text-align	: end;
				font-size	: smaller;
				padding		: var(--gap-xs);

			}

			& > [quote_context] {

				text-align	: end;
				font-size	: xx-small;
				padding		: 0 var(--gap-xs);

			}

		}

	}

}
