<form [formGroup]="form.fg" class="flex flex-col gap-4">

	<!-- PROJECT ID -->
	<div>
		<small class="block text-secondary text-sm">{{ project().id }}</small>
		{{ project().name }}
	</div>

	<!-- ID -->
	@if (task()?.id) {

		<w-input formControlName="id" label="ID" [readonly]="true"/>

	}

	<!-- NAME -->
	<w-input formControlName="name" label="Name"/>

	<!-- DESCRIPTION -->
	<w-markdown-editor textarea formControlName="description" label="Description" [rows]="3"/>

	<!-- TAGS -->
	<div class="flex items-center gap-1">
		<w-input-tag
			formControlName="tags"
			label="Tags"
			class="input-element"
			(tagInput)="onTagInput($event)"
			[suggestions]="tagSuggestions()"/>
		<button	type="button"
				class="btn btn-glyph squared"
				[title]="'Toggle \''+TAG_OPTIONAL+'\''"
				(click)="onToggleOptional()">
				@if (((form.tags.valueChanges | async) ?? []).includes(TAG_OPTIONAL)) {
					<svg wGlyph="preliminary"></svg>
				} @else {
					<svg wGlyph="preliminary_filled"></svg>
				}
		</button>
	</div>

	<!-- task_status_row -->
	<div class="flex md:flex-row flex-col items-center gap-2">

		<!-- STATUS -->
		<w-select formControlName="status" label="Status" [nodes]="TASK_STATE"/>

		<!-- PRIORITY -->
		<w-select formControlName="priority" label="Priority" [nodes]="TASK_PRIORITIES"/>

		<!-- CATEGORY -->
		<w-select formControlName="category" label="Category" [nodes]="TASK_CATEGORIES"/>

	</div>

	<!-- task_date_row -->
	<div class="flex sm:flex-row flex-col items-center gap-2">

		<!-- START -->
		<w-input formControlName="start" label="Start" type="date"/>

		<!-- END -->
		<w-input formControlName="end" label="End" type="date"/>

	</div>

</form>

<!-- form-element-buttons -->
<w-portal outletName="dialog-footer-outlet" [delayRemoval]="2000">

	<div class="flex">

		<button type="button" [disabled]="this.form.fg.pristine || this.form.fg.invalid" (click)="onSave()" class="ml-auto btn">
			<svg wGlyph="save"></svg> Save
		</button>

	</div>

</w-portal>
