@import 'helper';
@import 'variables';
@import 'mixins';
@import 'components';

:host {

	@extend %flex-column;
	padding				: var(--gap);
	background-color	: fn-hsl(bg-3);
	border-radius		: var(--border-radius);
	transition			: $bg-transition;

	@include mx-box-shadow;

	--chevron-angle		: 0deg;

	&.open {

		--chevron-angle	: -90deg;

	}

	& > header {

		display			: flex;
		align-items		: center;

		& > [task_filter_controls] {

			display					: grid;
			grid-template-columns	: 1fr 1fr;
			gap						: var(--gap-sm);

		}

		& :first-child {

			flex		: 1;

		}

		& .material-symbols-outlined {

			transform: rotate(var(--chevron-angle));
			transition: 300ms linear;

		}

	}

	& > aside {

		@extend %flex-column;
		gap				: var(--gap);
		overflow		: auto;
		max-height		: 30rem;
		@include mx-webkit-scrollbar;

		& > div {

			@extend %flex-center-center;
			gap			: var(--gap-xxs);
			margin-top	: var(--gap);

			& > input {

				@extend %input-element;
				&::placeholder {

					color	: fn-hsl(text);

				}

			}

		}

		& > w-tag-cloud {

			margin		: var(--gap) 0;

		}

	}

}
