<form>

	<!-- API KEY -->
	<div>
		<span class="p-float-label p-fluid">
			<input
				type="text"
				pInputText
				[ngClass]="{ 'ng-invalid ng-dirty': form.apiKey.invalid && form.apiKey.dirty }"
				[formControl]="form.apiKey">
			<label>API Key</label>
		</span>
	</div>

	<!-- BASE URL -->
	<div>
		<span class="p-float-label p-fluid">
			<input
				type="text"
				pInputText
				[ngClass]="{ 'ng-invalid ng-dirty': form.baseURL.invalid && form.baseURL.dirty }"
				[formControl]="form.baseURL">
			<label>Base URL</label>
		</span>
	</div>

	<!-- PROJECT ID -->
	<div>
		<span class="p-float-label p-fluid">
			<input
				type="text"
				pInputText
				[ngClass]="{ 'ng-invalid ng-dirty': form.projectId.invalid && form.projectId.dirty }"
				[formControl]="form.projectId">
			<label>Project ID</label>
		</span>
	</div>

</form>

<div form-element-buttons>

	<button pButton type="button" label="Cancel" icon="pi pi-trash" iconPos="left" class="p-button-danger" (click)="onCancel()"></button>
	<button pButton type="button" label="Save" icon="pi pi-save" iconPos="left" (click)="onSave()"></button>

</div>