@function map-size($map) {

	$count: -1;
	@each $key, $value in $map {

		$count: $count + 1;

	}
	@return $count;

}

@function fn-color($name, $alpha: null) {

	@debug $name;
	$global-css-variables: $css-variables !global;

	@debug map-size($global-css-variables);
	// @debug $global-css-variables;
	$true : map-has-key($global-css-variables, str-slice($name, 3));
	@debug $true;
	// leading "--" and check
	@if $true {

		@if $alpha != null {

			@return hsl(var($name) / $alpha);

		} @else {

			@return hsl(var($name));

		}



	} @else {

		@error "The variable #{$name} is not defined in the map!";

	}

}

@function fn-lighten($cssVar, $percentage) {

	// leading "--" and check
	@if map-has-key($css-variables, str-slice($cssVar, 3)) {

		@return color-mix(in hsl, hsl(var(#{$cssVar})), white $percentage);

	} @else {

		@error "The variable #{$name} is not defined in the map!";

	}

}

@function fn-darken($cssVar, $percentage) {

	// leading "--" and check
	@if map-has-key($css-variables, str-slice($cssVar, 3)) {

		@return color-mix(in hsl, hsl(var(#{$cssVar})), black $percentage);

	} @else {

		@error "The variable #{$name} is not defined in the map!";

	}

}
