@mixin mx-flex-column {

	display				: flex;
	flex-direction		: column;

}

@mixin mx-flex-column-center {

	display				: flex;
	flex-direction		: column;
	align-items			: center;

}

@mixin mx-flex-column-start {

	display				: flex;
	flex-direction		: column;
	align-items			: flex-start;

}

@mixin mx-flex-column-stretch {

	display				: flex;
	flex-direction		: column;
	align-items			: stretch;

}

@mixin mx-flex-center-center {

	display				: flex;
	align-items			: center;
	justify-content		: center;

}

@mixin mx-flex-center-y {

	display				: flex;
	align-items			: center;

}

@mixin mx-flex-space-between-center {

	display				: flex;
	flex-direction		: row;
	align-items			: center;
	justify-content		: space-between;

}

@mixin mx-flex-space-between-start {

	display				: flex;
	flex-direction		: row;
	align-items			: flex-start;
	justify-content		: space-between;

}

@mixin mx-flex-start-center {

	display			: flex;
	justify-content	: flex-start;
	align-items		: center;

}

@mixin mx-flex-center-start {

	display			: flex;
	justify-content	: center;
	align-items		: flex-start;

}

@mixin mx-flex-end-center {

	display			: flex;
	justify-content	: flex-end;
	align-items		: center;

}
