@mixin mx-h1 {

	font-size		: var(--font-size-h1);
	font-weight		: bold;
	color			: fn-hsl(primary);

}

@mixin mx-h2 {

	font-size		: var(--font-size-h2);
	font-weight		: bold;
	padding-bottom	: var(--gap-sm);

}

@mixin mx-h3 {

	font-size		: var(--font-size-h3);
	font-weight		: bold;

}

@mixin mx-h4 {

	font-size		: var(--font-size-h4);
	font-weight		: bold;
	color			: fn-hsl(primary); // , (lig: "+ 3%"));

}

@mixin mx-h5 {

	font-size		: var(--font-size-h5);
	font-weight		: bold;
	font-style		: italic;
	color			: fn-hsl(primary); // , (lig: "+ 3%"));

}

@mixin mx-h6 {

	font-size		: var(--font-size-h6);
	font-weight		: bold;
	font-style		: italic;
	color			: fn-hsl(text-secondary);

}
