@mixin mx-outline($options: ()) {


	$important	: map-get($options, "important");
	$color		: map-get($options, "color");
	$color		: "focus" !default;

	outline			: 2px solid fn-color($color) #{$important};
	outline-offset	: -2px;
	box-shadow		: 0 0 4px fn-color($color);

}
