// these values should be the same : responsive.constant.ts

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin bigScreen() {

	@media screen and (min-width: $md) {

		@content;

	}

}

@mixin mx-is-wider-than($width) {

	@media screen and (min-width: $width) {

		@content;

	}

}

@mixin sm() {
	@media screen and (min-width: $sm) {
		@content;
	}
}

@mixin md() {
	@media screen and (min-width: $md) {
		@content;
	}
}

@mixin lg() {
	@media screen and (min-width: $lg) {
		@content;
	}
}

@mixin xl() {
	@media screen and (min-width: $xl) {
		@content;
	}
}


@mixin mx-responsive {

	width	: 100vw;
	height	: 100dvh;

	@include bigScreen {

		width	: 80vw;
		height	: 90dvh;

	}

}
