@mixin mx-webkit-scrollbar {

	.platform-windows &::-webkit-scrollbar {

		width						: 8px;
		height						: 8px;
		border-radius				: var(--border-radius-sm);
		background-color			: color-mix(in hsl, var(--col-bg-page), transparent 40%); // , (lig: "+ 4%", alp: "0.4"));
		transition					: $bg-transition;

	}

	.platform-windows &::-webkit-scrollbar-thumb {

		border-radius				: var(--border-radius);
		background-color			: var(--col-bg-page);
		transition					: $bg-transition;

	}

}

.webkit-scrollbar {

	@include mx-webkit-scrollbar;

}

@mixin mx-scrollable($maxHeight: 25rem) {

	max-height			: $maxHeight;
	overflow-y			: auto;
	@include mx-webkit-scrollbar;

}

.scrollable {

	@include mx-scrollable;

}
