@mixin mx-webkit-scrollbar {

	&::-webkit-scrollbar {
		width						: var(--scrollbar-width);
		height						: var(--scrollbar-width);
		border-radius				: var(--border-radius-sm);
		background-color			: fn-hsl(bg-4, (lig: "+ 4%", alp: "0.4"));
		transition					: $bg-transition;
	}

	&::-webkit-scrollbar-thumb {
		border-radius				: var(--border-radius);
		background-color			: fn-hsl(bg-4, (lig: "- 2%"));
		transition					: $bg-transition;
	}

}
