@import 'mixins/responsive';

:host {

	display						: grid;
	grid-template-columns		: 1fr;
	grid-gap					: var(--gap-xs);
	padding						: var(--gap-xs);

	@include md() {

		grid-template-columns	: repeat(auto-fill, minmax(360px, 1fr));

	}

}
