@import 'mixins/responsive';

:host{

	display						: grid;
	grid-template-columns		: 1fr;
	gap							: var(--gap-sm);

	@include bigScreen() {

		grid-template-columns	: repeat(auto-fill, minmax(360px, 1fr));

	}

}
