@mixin mx-transition($params...) {

	$transition-string: "";
	$delimiter: "";
	@each $map in $params {

		@each $property, $value in $map {

			$val: if($value, fn-var($value), $transition);
			$transition-string: #{$transition-string} #{$delimiter} #{$property} #{$val};
			$delimiter: ", ";

		}

	}
	transition: $transition-string;

}
