@mixin _mx-transition($transition, $params) {

	$transition-string: "";
	$delimiter: "";
	@each $map in $params {

		@each $property, $value in $map {

			$val: if($value, $value, $transition);
			$transition-string: #{$transition-string} #{$delimiter} #{$property} #{$val};
			$delimiter: ", ";

		}

	}
	transition: $transition-string;

}

@mixin mx-transition($params) {

	@include _mx-transition($transition, $params);

}
@mixin mx-transition-short($params) {

	@include _mx-transition($transition-short, $params);

}
