@mixin mx-transition($values...) {

	$transition-string: "";
	$delimiter: "";
	@each $map in $values {

		@each $key, $value in $map {

			$transition-string: #{$transition-string} #{$delimiter} #{$key} fn-var($value);
			$delimiter: ", ";

		}

	}
	transition: $transition-string;

}
