@mixin mx-b-0	{ border: 0; }
@mixin mx-bt-0	{ border-top: 0; }
@mixin mx-br-0	{ border-right: 0; }
@mixin mx-bb-0	{ border-bottom: 0; }
@mixin mx-bl-0	{ border-left: 0; }

// .b-0	{ @include mx-b-0; }
// .bt-0	{ @include mx-bt-0; }
// .br-0	{ @include mx-br-0; }
// .bb-0	{ @include mx-bb-0; }
// .bl-0	{ @include mx-bl-0; }
