.col-primary	{ color: var(--col-primary); }
.col-success	{ color: var(--col-success); }
.col-info		{ color: var(--col-info); }
.col-warn		{ color: var(--col-warn); }
.col-error		{ color: var(--col-error); }
.col-accent		{ color: var(--col-accent); }
.col-focus		{ color: var(--col-focus); }
.col-outline	{ color: var(--col-outline); }
