@mixin mx-height($name) {

	$valid: $zero, $auto, $_100vh, $_100vw, $_100p;
	@if (index($valid, $name)) {

		height: $name;

	} @else {

		height: fn-var($name);

	}

}

@mixin mx-width($name) {

	$valid: $zero, $auto, $_100vh, $_100vw, $_100p;
	@if (index($valid, $name)) {

		width: $name;

	} @else {

		width: fn-var($name);

	}

}

@mixin mx-min-width($name) {

	$valid: $zero, $auto, $_100vh, $_100vw, $_100p;
	@if (index($valid, $name)) {

		min-width: $name;

	} @else {

		min-width: fn-var($name);

	}

}

@mixin mx-min-height($name) {

	$valid: $zero, $auto, $_100vh, $_100vw, $_100p;
	@if (index($valid, $name)) {

		min-height: $name;

	} @else {

		min-height: fn-var($name);

	}

}
