@mixin mx-d-flex($values...) {

	display	: flex;
	@each $map in $values {

		@each $key, $value in $map {

			#{$key}	: $value;

		}

	}

}

// @mixin mx-d-flex-column($values...) 	{ @debug $values; @include mx-d-flex(join($values, (dir: column), comma)); }
@mixin mx-d-flex-column($values...) {
	@debug $values;
	$default-values: (flex-direction: column);
	$values-map: ();

	@each $value in $values {
	  $values-map: map-merge($values-map, $value);
	}

	$merged-values: map-merge($default-values, $values-map);
	@include mx-d-flex($merged-values);
  }
@mixin mx-d-flex-ai-center				{ @include mx-d-flex((align-items: center)); }
@mixin mx-d-flex-ai-start				{ @include mx-d-flex((align-items: start)); }
@mixin mx-d-flex-ai-end					{ @include mx-d-flex((align-items: end)); }
@mixin mx-d-flex-ai-bl					{ @include mx-d-flex((align-items: baseline)); }
@mixin mx-d-flex-ai-sb					{ @include mx-d-flex((align-items: space-between)); }

@mixin mx-d-flex-jc-center				{ @include mx-d-flex((justify-content: center)); }
@mixin mx-d-flex-jc-start				{ @include mx-d-flex((justify-content: start)); }
@mixin mx-d-flex-jc-end					{ @include mx-d-flex((justify-content: end)); }
@mixin mx-d-flex-jc-bl					{ @include mx-d-flex((justify-content: baseline)); }
@mixin mx-d-flex-jc-sb					{ @include mx-d-flex((justify-content: space-between)); }

@mixin mx-d-flex-center					{ @include mx-d-flex((align-items: center, justify-content: center)); }
@mixin mx-d-flex-ai-c-jc-sb				{ @include mx-d-flex((align-items: center, justify-content: space-between)); }
@mixin mx-d-flex-ai-e-jc-c				{ @include mx-d-flex((align-items: end,    justify-content: center)); }
@mixin mx-d-flex-ai-c-jc-e				{ @include mx-d-flex((align-items: center, justify-content: end)); }

@mixin mx-d-grid						{ display: grid; }
@mixin mx-d-contents					{ display: contents; }
@mixin mx-d-block						{ display: block; }
@mixin mx-d-none						{ display: none; }
@mixin mx-d-inline-block				{ display: inline-block; }
@mixin mx-d-inline-flex					{ display: inline-flex; }

@mixin mx-flex-1						{ flex: 1; }
