@mixin mx-font-size($name: $font-size) {

	font-size: fn-var($name);

}

@mixin mx-font-size-xxl { @include mx-font-size($font-size-xxl); }
@mixin mx-font-size-xl 	{ @include mx-font-size($font-size-xl); }
@mixin mx-font-size-lg 	{ @include mx-font-size($font-size-lg); }
@mixin mx-font-size-sm	{ @include mx-font-size($font-size-sm); }
@mixin mx-font-size-xs	{ @include mx-font-size($font-size-xs); }
@mixin mx-font-size-xxs { @include mx-font-size($font-size-xxs); }

@mixin mx-font-size-h1 { @include mx-font-size($font-size-h1); }
@mixin mx-font-size-h2 { @include mx-font-size($font-size-h2); }
@mixin mx-font-size-h3 { @include mx-font-size($font-size-h3); }
@mixin mx-font-size-h4 { @include mx-font-size($font-size-h4); }
@mixin mx-font-size-h5 { @include mx-font-size($font-size-h5); }
@mixin mx-font-size-h6 { @include mx-font-size($font-size-h6); }

@mixin mx-font-weight-bold 	{ font-weight	: bold; }
@mixin mx-font-size_inherit	{ font-size		: inherit; }
