@mixin mx-pos-fixed		{ position: fixed; }
@mixin mx-pos-relative	{ position: relative; }
@mixin mx-pos-absolute	{ position: absolute; }

.pos-fixed		{ @include mx-pos-fixed; }
.pos-relative	{ @include mx-pos-relative; }
.pos-absolute	{ @include mx-pos-absolute; }

@mixin mx-z-index($name) {

	z-index: fn-var($name);

}
