@import 'helper';

@import 'helper';
@import 'variables';
@import 'mixins';
@import 'components';

:host{

	& > [quotes_list] {

		@include mx-component(4);
		@include mx-scrollable(4 * $header-height);

		& > a {

			@extend %flex-column;
			padding				: var(--gap);
			border-radius		: var(--border-radius-sm);
			text-decoration		: none;
			transition			: $bg-transition;
			cursor				: pointer;

			& > small {

				color				: fn-hsl(text-secondary);

			}

			&:hover {

				background-color	: fn-hsl(bg-3, (lig: "- 2%", alp: "- 0.4"));

			}

			&:focus-visible {

				@include mx-outline;

			}

		}

	}

}
