@let entity = exam();

<!-- DESCRIPTION -->
<div class="flex mb-2 overflow-x-auto scrollbar scrollbar-blue">{{ entity.description }}</div>

@for (question of entity.questions; track $index) {

	<div class="flex py-1 min-w-8 font-bold text-3xl text-accent-text">Question #{{$index + 1}}</div>
	<div class="block mb-6">

		<w-choices-viewer [answers]="question.answers" />
		@if (question.description) {

			<div class="px-2 text-secondary text-sm">{{question.description}}</div>

		}
		@for (session of sessions(); track $index) {

			<label class="
					inline-block
					left-2
					text-2xs
					leading-5
					px-1
					mt-5
					mb-1
					rounded
					bg-component-dark
					text-form-element-text
				">{{session.start | date:'EEEE dd.MM.yyyy hh:mm'}} <small class="text-secondary">({{ (session.answers[question.id].time / 1000) }} sec)</small></label>
			<w-choices-viewer
				[answers]="session.answers[question.id].choices"
				[correctAnswers]="question.answers"/>

		}

	</div>

}
