@let entity = exam();

<!-- DESCRIPTION -->
<div class="flex mb-2 overflow-x-auto scrollbar scrollbar-blue">{{ entity.description }}</div>

@for (question of entity.questions; track $index) {

	<div class="flex">
		<div class="flex py-1 min-w-8 text-secondary text-sm">#{{$index + 1}}</div>
		<div class="flex flex-col">
			<w-choices-viewer [answers]="question.answers" />
			@for (session of sessions(); track $index) {

				<w-choices-viewer [answers]="session.answers[question.id].choices" />

			}
			<div class="px-2 text-secondary text-sm">{{question.description}}</div>
		</div>
	</div>

}
