<app-stats-summary
	[summary]="summary$ | async"

	(downloadNew)="onDownloadNew()"
	(uploadNew)="onUploadNew()"

	(uploadClicks)="onUploadClicks()"
	(downloadClicks)="onDownloadClicks()"

	(downloadDeleted)="onDownloadDeleted()"
	(downloadUpdated)="onDownloadUpdated()"

	(uploadUpdated)="onUploadUpdated()"
	(uploadDeleted)="onUploadDeleted()"

	(deleteLocalMetadata)="onDeleteLocalMetadata()"

	(viewLocalUpdatedRemoteUpdated)="onViewLocalUpdatedRemoteUpdated()"
	(viewLocalUpdatedRemoteDeleted)="onViewLocalUpdatedRemoteDeleted()"
	(viewLocalDeletedRemoteUpdated)="onViewLocalDeletedRemoteUpdated()"></app-stats-summary>