@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	@include mx-card(3);
	@include mx-flex-column;
	gap		: var(--gap-sm);

	fieldset {

		@include mx-component(4);

		& > legend {

			@include mx-component(5);
			padding 	: var(--gap-xs) var(--gap);

		}

	}

	[row] {

		@include mx-component(4);
		padding		: var(--gap-lg);

	}

	[start_end_row] {

		display		: flex;
		gap			: var(--gap-sm);

		& > div {

			width	: 50%;

		}

	}

}
