@if (project(); as project) {

	<div project_title_wrapper>

		<div project_title>

			{{ project.name }}

			<button
				class="icon-only"
				(click)="onToggleInfo()"
				title="Toggle Info Panel">
				<span class="material-symbols-outlined">info</span>
			</button>

		</div>

		<div project_info [@slideDown]="infoVisible()">

			<div row>

				<small>ID</small>
				<div>{{ project.id }}</div>

			</div>

			<div row>

				<small>Description</small>
				<div>{{ project.description }}</div>

			</div>

			<div row>

				<small>Status</small>
				<div>{{ ProjectStatusLabels[project.status] }}</div>

			</div>

			<div row start_end_row>

				<div>

					<small>Start : {{ project.start | timePast:false }}</small>
					<div>{{ project.start | date:'EEEE dd.MM.yyyy' }}</div>

				</div>
				<div>

					<small>End</small>
					<div>{{ project.end | date:'EEEE dd.MM.yyyy' }}</div>

				</div>

			</div>

		</div>

	</div>

	<fieldset class="component">

		<legend>Tasks</legend>
		<legend>
			<button
				class="icon-only small"
				(click)="onNewTask()"
				title="Toggle Info Panel">
				<span class="material-symbols-outlined">add</span>
				Add Task
			</button>
		</legend>

		<div task_list>

			@for (task of project.tasks; track $index) {

				<a
					task_item
					[title]="task.description ?? ''"
					(click)="onToggleTask(task.id)"
					tabindex="0">

					<div task_header>

						<small><span class="material-symbols-outlined">manufacturing</span> {{ ProjectStatusLabels[task.status] }}</small>
						<small><span class="material-symbols-outlined">swap_vert</span> {{ TaskPriorityLabels[task.priority] }}</small>
						<span>{{ task.name }}</span>

					</div>
					<div task_content_wrapper [@slideDown]="!!tasksExpanded()[task.id]">

						<div task_content>

							<!-- DESCRIPTION -->
							<div class="viewElement">
								<small>Description</small>
								{{ task.description }}
							</div>
							<div task_tags>

								@for (tag of task.tags; track $index) {

									<button disabled class="tag xs">{{ tag }}</button>

								}

							</div>
							<div task_row>

								<!-- START -->
								<div class="viewElement">
									<small>Start</small>
									{{ task.start | date:'EEEE dd.MM.yyyy' }}
								</div>

								<!-- END -->
								<div class="viewElement">
									<small>End</small>
									{{ task.end | date:'EEEE dd.MM.yyyy' }}
								</div>

							</div>

						</div>

					</div>

				</a>

			}

		</div>

	</fieldset>

} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><span class="material-symbols-outlined">check_circle</span>&nbsp;No project available</span>
			<button
				class="icon-only"
				[routerLink]="['/projects', 'new' ]">
				<span class="material-symbols-outlined">add_task</span> Add Project
			</button>

		</div>

	</div>

}
