@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	@include mx-flex-column;
	gap			: var(--gap-sm);

	[project_title_wrapper] {

		@include mx-card(3);

		& > [project_title] {

			@include mx-flex-space-between-center;
			@include mx-h1;

		}

		& > [project_info] > *:first-child {

			margin-top	: var(--gap);

		}

	}

	fieldset {

		@include mx-component();

		& > [task_list] {

			@include mx-flex-column;
			gap		: var(--gap-sm);

			& > [task_item] {

				& > [task_header] {

					@include mx-component(3);
					padding		: var(--gap-lg);

					&:hover,
					&.expanded {

						background-color	: fn-hsl(bg-3, (lig: "- 2%"));

					}

					& > a {

						display					: grid;
						grid-template-columns	: 10rem 10rem 1fr;
						grid-template-rows		: auto 1fr;
						gap						: var(--gap-xs);
						cursor					: pointer;

						& > span {

							grid-column			: 1 / -1;

						}

						& > small {

							@include mx-flex-center-y;
							gap			: var(--gap-xxs);

							& > .material-symbols-outlined {

								font-size			: inherit;

							}

						}

					}

				}

				& > [task_content_wrapper] {

					overflow				: hidden;

					& > [task_content] {

						@include mx-component(3);
						padding					: var(--gap);
						margin-left				: var(--gap-sm);
						margin-right			: var(--gap-sm);
						border-top-left-radius	: 0;
						border-top-right-radius	: 0;

						& > [task_tags] {

							display			: flex;
							flex-wrap		: wrap;
							padding			: var(--gap-sm) var(--gap-sm) var(--gap-sm) 0;
							gap				: var(--gap-xs);

						}

						& > [task_row] {

							display					: grid;
							grid-template-columns	: 1fr 1fr;

						}

					}

					& > .footer {

						margin-right	: var(--gap-sm);

					}

				}

			}

		}

	}

	[project_info] {

		@include mx-flex-column;
		gap			: var(--gap-sm);
		overflow	: hidden;

	}

	[row] {

		@include mx-component(4);
		padding		: var(--gap-lg);

	}

	[start_end_row] {

		display		: flex;
		gap			: var(--gap-sm);

		& > div {

			width	: 50%;

		}

	}

}
