@if (project(); as project) {

	<div project_title_wrapper class="d-flex-column gap">

		<a	[routerLink]="['/projects']" tabindex="0">
			<w-glyph name="task_alt" />
			Projects
		</a>

		<div class="d-flex-x-sb-y-center padding-inline font-h2 font-bold col-primary">

			{{ project.name }}

			<button
				class="link"
				(click)="onToggleInfo()"
				title="Toggle Info Panel">
				<w-glyph name="info" />
			</button>

		</div>

		<div class="overflow-h" [@slideDown]="expanded()">
			<!-- project_info -->
			<div class="d-flex-column padding gap-xl">

				<div class="d-flex-column">

					<small>ID</small>
					{{ project.id }}

				</div>

				<div class="d-flex-column">

					<small>Description</small>
					{{ project.description }}

				</div>

				<div class="d-flex-column">

					<small>Status</small>
					{{ ProjectStatusLabels[project.status] }}

				</div>

				<div row start_end_row class="d-flex gap-sm">

					<div class="d-flex-column w-50">

						<small>Start : {{ project.start | timePast:false }}</small>
						{{ project.start | date:'EEEE dd.MM.yyyy' }}

					</div>
					<div class="d-flex-column w-50">

						<small>End</small>
						{{ project.end | date:'EEEE dd.MM.yyyy' }}

					</div>

				</div>

			</div>
		</div>

	</div>



} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><w-glyph name="check_circle" />&nbsp;No project available</span>
			<button
				class="link"
				[routerLink]="['/projects', 'new' ]">
				<w-glyph name="add_task" /> Add Project
			</button>

		</div>

	</div>

}
