@if (project(); as project) {

	<div project_title_wrapper>

		<a	class="d-flex ai-c p-xs gap-xxs transition-bg"
			[routerLink]="['/projects']" tabindex="0">
			<span class="material-symbols-outlined">task_alt</span>
			<span>Projects</span>
		</a>

		<!-- project_title -->
		<div class="d-flex ai-sb jc-c h1">

			{{ project.name }}

			<button
				class="link"
				(click)="onToggleInfo()"
				title="Toggle Info Panel">
				<span class="material-symbols-outlined">info</span>
			</button>

		</div>

		<!-- project_info -->
		<div
			class="d-flex-column gap-sm overflow-h"
			[@slideDown]="expanded()">

			<div row class="box dark p-lg mt">

				<small>ID</small>
				<div>{{ project.id }}</div>

			</div>

			<div row>

				<small>Description</small>
				<div>{{ project.description }}</div>

			</div>

			<div row>

				<small>Status</small>
				<div>{{ ProjectStatusLabels[project.status] }}</div>

			</div>

			<div row start_end_row class="d-flex gap-sm">

				<div class="w-50">

					<small>Start : {{ project.start | timePast:false }}</small>
					<div>{{ project.start | date:'EEEE dd.MM.yyyy' }}</div>

				</div>
				<div class="w-50">

					<small>End</small>
					<div>{{ project.end | date:'EEEE dd.MM.yyyy' }}</div>

				</div>

			</div>

		</div>

	</div>



} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><span class="material-symbols-outlined">check_circle</span>&nbsp;No project available</span>
			<button
				class="link"
				[routerLink]="['/projects', 'new' ]">
				<span class="material-symbols-outlined">add_task</span> Add Project
			</button>

		</div>

	</div>

}
