@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	@include mx-card(3);
	@include mx-flex-column;
	gap			: var(--gap-sm);

	[project_title] {

		position	: relative;
		@include mx-h1;

		[top_right] {

			position	: absolute;
			display		: flex;
			top			: 0;
			right		: 0;

		}

	}

	fieldset {

		position	: relative;
		@include mx-component(4);

		& > legend {

			@include mx-component(5);
			padding 	: var(--gap-xs) var(--gap);

			&:nth-child(2) {

				position	: absolute;
				top			: calc(-3 * var(--gap));
				right		: calc(2 * var(--gap));
				padding		: var(--gap-xs);

			}

		}

	}

	[project_info] {

		@include mx-flex-column;
		gap			: var(--gap-sm);
		overflow	: hidden;

	}

	[row] {

		@include mx-component(4);
		padding		: var(--gap-lg);

	}

	[start_end_row] {

		display		: flex;
		gap			: var(--gap-sm);

		& > div {

			width	: 50%;

		}

	}

}
