@import 'variables';
@import 'mixins/responsive';
@import 'core/variables';

:host {

	display				: contents;

	&>[bottom-buttons] {

		display			: flex;
		margin-top		: auto;
    	gap				: 0.5rem;

		&>button:last-child {

			margin-left	: auto;

		}

	}

	&>[bottom-version] {

		padding			: var(--gap-sm) var(--gap-sm);
		padding-left	: var(--gap-xs);
		font-size		: 1rem;
		color			: var(--secondary-text);

	}

}

:host-context(.navVisible) {

	// margin-left			: 0;

}
