<div>p-panelMenu [model]="(navMenuItems$ | async) || []"p-panelMenu</div>
<div bottom-buttons>

	<button
		(click)="navTo('/settings')"
		styleClass="p-button-rounded p-button-text"
		title="Settings"><span class="material-symbols-outlined">settings</span></button>

	<button
		*ngIf="((cloudNumbers$ | async) ?? []) as cloudNumbers"

		(click)="navTo('/cloud')"
		[title]="cloudNumbers.length > 0 ? cloudNumbers[0] + ' syncable items available' : 'Cloud'"><span class="material-symbols-outlined">cloud_sync</span></button>
		<!--
		[styleClass]="'p-button-rounded p-button-text cloudButton' + (cloudNumbers[1] > 0 ? ' p-button-danger' : cloudNumbers[0] > 0 ? ' p-button-warning' : '')"
		[badge]="cloudNumbers.length > 0 ? '' + cloudNumbers[0] : ''"
		[badgeClass]="'cloudButtonBadge' + (cloudNumbers[1] > 0 ? ' red' : cloudNumbers[0] > 0 ? ' orange' : '')" -->


	<button
		styleClass="p-button-rounded p-button-text"
		(click)="navTo('/database')"
		title="Database"><span class="material-symbols-outlined">database</span></button>

	<button
		styleClass="p-button-rounded p-button-text"
		(click)="navTo('/logs')"
		title="View Logs"><span class="material-symbols-outlined">history</span></button>
		<!-- [icon]="PrimeIcons.LIST" -->

	<button
		styleClass="p-button-rounded p-button-text"
		(click)="onSwitchTheme()"
		title="Switch Theme"><span class="material-symbols-outlined">colors</span></button>

</div>
<div bottom-version>v{{ builtVersion }} (#{{ builtNumber }}) {{ builtTime | date:'dd.MM.yyyy hh:mm:ss' }}</div>
