@import 'variables';
@import 'mixins/responsive';
@import 'core/helper';

:host {

	display				: contents;
	background-color	: purple;
	position			: absolute;
	height				: calc(100vh - $header-height);
	width				: $nav-width;
	margin-left			: -$nav-width;
	transition			: margin-left 0.6s cubic-bezier(0.25, 1, 0.25, 1);
	z-index				: 100;

	& #section-logo {

		@extend %flex-center-center;
		min-width		: $header-height;

	}

	& #portal-outlet {

		flex			: 1;
		@extend %flex-end-center;

	}

}

:host-context(.navVisible) {

	margin-left			: 0;

}
