@import 'variables';
@import 'components';

:host {

	@include mx-d-flex-column;
	gap	: $page-padding;

	& > header {

		@include mx-box($param-dark: true, $param-shadow: true);
		@include mx-d-flex-ai-c-jc-e;
		gap	: $gap-xs;

		& > :first-child {

			margin-right	: auto;

		}

	}

	& > [content] {

		@include mx-d-grid;
		grid-template-columns	: 1fr;
		gap						: $page-padding;

		@include mx-md() {

			grid-template-columns	: repeat(auto-fill, minmax(40rem, 1fr));

		}

	}

}
