<!-- @if (testSuites$ | async; as testSuites) { -->

	<header>

		Test Suites
		<!-- <small>{{ learning.length }} Entries</small></div> -->

	</header>

	<!-- @if (learning.length > 0) {

		<div learning_entries>

			@for (learning of learning; track $index) {

				<a	class="box transition-bg"
					[routerLink]="['/learning', learning.id]"
					tabindex="0">

					<span>{{ learning.name }}</span>
					<small>{{ learning.start }}</small>

				</a>

			}

		</div>

	} @else { -->

		<div class="empty">
			No test suites available
			<br>
			<button routerLink="/learning/new" class="link" data-after="Add Test Suite">
				<span class="material-symbols-outlined">add</span>
			</button>
		</div>

	<!-- } -->

<!-- } -->
