<ng-template #anchorContentTemplate let-item="item" let-link="link">

	<div class="inline-grid top-0 bottom-0 left-0 z-nav-left absolute place-items-center bg-nav w-nav-glyph-width">
		<div class="inline-block relative hover:group-[.nav-item-active]:bg-accent group-[.nav-item-active]:bg-accent group-active:bg-accent group-hover:bg-ghost-hover p-2.5 rounded-full group-[.nav-item-active]:text-base-text">
			<svg [wGlyph]="item.icon" class="text-xl"></svg>
			@if (item.smallBadge) {

				<span class="right-1 bottom-1 absolute flex justify-center items-center bg-focus rounded-full text-3xs text-white size-4">
					{{item.smallBadge}}
				</span>

			}
		</div>
	</div>
	<div class="inline-flex top-0 right-0 bottom-0 z-nav-content absolute flex-nowrap items-center min-w-nav-content-width select-none">

		<span class="flex-1 group-[.nav-item-active]:text-base-text">{{ item.label }}</span>
		@if (item.badge) {

			<div>
				<span class="inline-flex items-center gap-x-1 bg-ghost-hover group-[.nav-item-active]:bg-accent px-1.5 py-1 rounded-md font-bold text-base-text text-sm">
				{{ item.badge }}
				</span>
			</div>

		}

	</div>

</ng-template>

<ng-template #anchorTemplate let-item="item">

	<a	#link="routerLinkActive"
		class="group relative focus-visible:outline-hidden grid rounded-lg focus-visible:ring-4 focus-visible:ring-outline h-11 text-base-secondary hover:text-base-text overflow-hidden"
		[routerLink]="item.url"
		[queryParams]="item.queryParams"
		routerLinkActive="nav-item-active"
		[attr.tabindex]="link.isActive ? '-1' : '0'"
		[routerLinkActiveOptions]="item.routerLinkActiveOptions ?? { exact: false }"
		[title]="item.title ?? item.label ?? ''">

		<ng-container *ngTemplateOutlet="anchorContentTemplate; context: { item, link }"/>

	</a>

</ng-template>

<!-- Top links -->
<div class="gap-2 grid p-2">

	@for (item of menuItemsTop(); track $index) {

		<ng-container *ngTemplateOutlet="anchorTemplate; context: { item }" />

	}

</div>

<!-- Buttom links -->
<div class="gap-2 grid mt-auto p-2">

	@for (item of menuItemsBottom(); track $index) {

		<ng-container *ngTemplateOutlet="anchorTemplate; context: { item }" />

	}

	<!-- Switch Theme -->
	<a	#link
		class="group relative focus-visible:outline-hidden grid rounded-lg focus-visible:ring-4 focus-visible:ring-outline h-11 text-base-secondary hover:text-base-text cursor-pointer overflow-hidden"
		(click)="onSwitchTheme()"
		title="Switch Theme"
		tabindex="0">

		<ng-container *ngTemplateOutlet="anchorContentTemplate; context: { item: { label: 'Switch Theme', icon: 'colors' }, link }"/>

	</a>

</div>
