[data-theme="theme-aqua"] {

	/*
	// --color-black			: hsl(0deg 0% 0%);
	// --color-white			: hsl(0deg 0% 100%);
	// --color-transparent		: hsl(0deg 0% 0% / 0);
	*/

	--color-base-text			: hsl(210, 15%, 92%);
	--color-base-secondary	: hsl(0, 0%, 50%);
	--color-disabled-text	: hsl(210deg 14% 45%);
	--color-disabled		: hsl(210deg 44% 18%);

	--color-accent			: hsl(32deg 80% 40%);
	--color-accent-text		: hsl(32deg 80% 48%);
	--color-accent-hover	: hsl(from var(--color-accent) h s calc(l* 1.15));
	--color-accent-active	: hsl(from var(--color-accent) h s calc(l* 1.2));

	--color-focus			: hsl(254deg 46% 50%);
	--color-outline			: hsl(254deg 46% 60%);

	--color-primary			: hsl(201deg 100% 28%);
	--color-primary-text	: var(--color-base-text);
	--color-primary-hover	: hsl(from var(--color-primary) h s calc(l* 1.15));
	--color-primary-active	: hsl(from var(--color-primary) h s calc(l* 1.2));
	--color-primary-border	: hsl(from var(--color-primary) h s calc(l* .9));

	--color-success			: hsl(132deg 52% 22%);
	--color-success-text	: var(--color-base-text);
	--color-success-hover	: hsl(from var(--color-success) h s calc(l* 1.1));
	--color-success-active	: hsl(from var(--color-success) h s calc(l* 1.15));
	--color-success-border	: hsl(from var(--color-success) h s calc(l* .9));

	--color-info			: hsl(274deg 45% 37%);
	--color-info-text		: var(--color-base-text);
	--color-info-hover		: hsl(from var(--color-info) h s calc(l* 1.1));
	--color-info-active		: hsl(from var(--color-info) h s calc(l* 1.15));
	--color-info-border		: hsl(from var(--color-info) h s calc(l* .9));

	--color-warn			: hsl(31deg 100% 35%);
	--color-warn-text		: var(--color-base-text);
	--color-warn-hover		: hsl(from var(--color-warn) h s calc(l* 1.1));
	--color-warn-active		: hsl(from var(--color-warn) h s calc(l* 1.15));
	--color-warn-border		: hsl(from var(--color-warn) h s calc(l* .9));

	--color-error			: hsl(0deg 66% 35%);
	--color-error-text		: var(--color-base-text);
	--color-error-hover		: hsl(from var(--color-error) h s calc(l* 1.1));
	--color-error-active	: hsl(from var(--color-error) h s calc(l* 1.15));
	--color-error-border	: hsl(from var(--color-error) h s calc(l* .9));

	--color-ghost			: var(--color-transparent);
	--color-ghost-text		: var(--color-base-text);
	--color-ghost-hover		: hsl(from var(--color-white) h s calc(l* 1.1) / .1);
	--color-ghost-active	: hsl(from var(--color-white) h s calc(l* 1.1) / .2);
	--color-ghost-border	: var(--color-transparent);

	--color-header			: hsl(218deg 53% 22%);
	--color-nav				: hsl(218deg 53% 24%);
	--color-popup			: hsl(218deg 53% 32%);
	--color-page			: hsl(218deg 53% 80%);

	--color-component			: hsl(218deg 53% 30%);
	--color-component-hover		: hsl(218deg 53% 28%);
	--color-component-active	: hsl(218deg 53% 27%);

	--color-component-dark			: hsl(218deg 53% 25%);
	--color-component-dark-hover	: hsl(218deg 53% 23%);
	--color-component-dark-active	: hsl(218deg 53% 22%);

	--color-form-element		: hsl(218deg 53% 26%);
	--color-form-element-text	: var(--color-base-text);
	--color-form-element-hover	: hsl(from var(--color-form-element) h s calc(l* 1.1));
	--color-form-element-active	: hsl(from var(--color-form-element) h s calc(l* 1.15));
	--color-form-element-border	: hsl(from var(--color-form-element) h s calc(l* .8));

	--color-progress			: var(--color-error);
	--color-progress-bg			: hsl(from var(--color-progress) h s l / .3);

	--color-overlay				: hsl(from var(--color-black) h s l / .3);
	--color-shadow				: var(--color-header);

	--color-scrollbar-thumb		: hsl(from var(--color-bg-component-dark) h s l / .7);
	--color-scrollbar-track		: var(--color-transparent);

	--color-scrollbar-thumb-dark	: var(--color-bg-component-dark);
	--color-scrollbar-track-dark	: var(--color-transparent);

	--color-scrollbar-thumb-blue	: var(--color-accent);
	--color-scrollbar-track-blue	: var(--color-transparent);

}
