@theme {

	--color-black			: hsl(0deg 0% 0%);
	--color-white			: hsl(0deg 0% 100%);
	--color-transparent		: hsl(0deg 0% 0% / 0);

	--color-base-text		: hsl(210, 15%, 92%);
	--color-base-secondary	: hsl(0, 0%, 50%);
	--color-disabled-text	: var(--color-base-secondary);
	--color-disabled		: hsl(216, 8%, 15%);

	--color-accent			: hsl(215deg 65% 30%);
	--color-accent-text		: hsl(215deg 65% 43%);
	--color-accent-hover	: hsl(from var(--color-accent) h s calc(l* 1.15));
	--color-accent-active	: hsl(from var(--color-accent) h s calc(l* 1.2));

	--color-focus			: hsl(16deg 80% 44%);
	--color-outline			: hsl(215deg 77% 48% / 0.5);

	--color-primary			: hsl(215deg 65% 30%);
	--color-primary-text	: var(--color-base-text);
	--color-primary-hover	: hsl(from var(--color-primary) h s calc(l* 1.15));
	--color-primary-active	: hsl(from var(--color-primary) h s calc(l* 1.2));
	--color-primary-border	: hsl(from var(--color-primary) h s calc(l* .9));

	--color-success			: hsl(132deg 52% 22%);
	--color-success-text	: var(--color-base-text);
	--color-success-hover	: hsl(from var(--color-success) h s calc(l* 1.1));
	--color-success-active	: hsl(from var(--color-success) h s calc(l* 1.15));
	--color-success-border	: hsl(from var(--color-success) h s calc(l* .9));

	--color-info			: hsl(201deg 100% 28%);
	--color-info-text		: var(--color-base-text);
	--color-info-hover		: hsl(from var(--color-info) h s calc(l* 1.1));
	--color-info-active		: hsl(from var(--color-info) h s calc(l* 1.15));
	--color-info-border		: hsl(from var(--color-info) h s calc(l* .9));

	--color-warn			: hsl(31deg 100% 35%);
	--color-warn-text		: var(--color-base-text);
	--color-warn-hover		: hsl(from var(--color-warn) h s calc(l* 1.1));
	--color-warn-active		: hsl(from var(--color-warn) h s calc(l* 1.15));
	--color-warn-border		: hsl(from var(--color-warn) h s calc(l* .9));

	--color-error			: hsl(0deg 66% 30%);
	--color-error-text		: var(--color-base-text);
	--color-error-hover		: hsl(from var(--color-error) h s calc(l* 1.1));
	--color-error-active	: hsl(from var(--color-error) h s calc(l* 1.15));
	--color-error-border	: hsl(from var(--color-error) h s calc(l* .9));

	--color-ghost			: var(--color-transparent);
	--color-ghost-text		: var(--color-base-text);
	--color-ghost-hover		: hsl(from var(--color-white) h s calc(l* 1.1) / .1);
	--color-ghost-active	: hsl(from var(--color-white) h s calc(l* 1.1) / .2);
	--color-ghost-border	: var(--color-transparent);

	--color-header			: hsl(210deg 11% 7%);
	--color-nav				: hsl(210deg 11% 8%);
	--color-popup			: hsl(210deg 11% 9%);
	--color-page			: hsl(210deg 11% 33%);

	--color-component			: hsl(210deg 11% 13%);
	--color-component-hover		: hsl(210deg 11% 11%);
	--color-component-active	: hsl(210deg 11% 10%);

	--color-component-dark			: hsl(210deg 11% 10%);
	--color-component-dark-hover	: hsl(210deg 11% 9%);
	--color-component-dark-active	: hsl(210deg 11% 8%);

	--color-form-element		: hsl(210deg 11% 20%);
	--color-form-element-text	: var(--color-base-text);
	--color-form-element-hover	: hsl(from var(--color-form-element) h s calc(l* 1.1));
	--color-form-element-active	: hsl(from var(--color-form-element) h s calc(l* 1.15));
	--color-form-element-border	: hsl(from var(--color-form-element) h s calc(l* .8));

	--color-progress			: var(--color-error);
	--color-progress-bg			: hsl(from var(--color-progress) h s l / .3);

	--color-overlay				: hsl(from var(--color-black) h s l / .3);
	--color-shadow				: var(--color-header);

	--color-scrollbar-thumb		: hsl(from var(--color-bg-component-dark) h s l / .7);
	--color-scrollbar-track		: var(--color-transparent);

	--color-scrollbar-thumb-dark	: var(--color-bg-component-dark);
	--color-scrollbar-track-dark	: var(--color-transparent);

	--color-scrollbar-thumb-blue	: var(--color-accent);
	--color-scrollbar-track-blue	: var(--color-transparent);

}
