@import 'helper';
@import 'variables';
@import 'mixins';

:host {

	@extend %flex-column;
	padding				: var(--gap);
	background-color	: hsl(var(--col-bg-panel-hue) var(--col-bg-panel-sat) var(--col-bg-panel-lig) / var(--col-bg-panel-alp));
	border-radius		: var(--border-radius);
	transition			: $bg-transition;

	@include mx-box-shadow;

	--chevron-angle		: 0deg;

	&.open {

		--chevron-angle	: -90deg;

	}

	& > header {

		display			: flex;
		align-items		: center;
		padding-left	: var(--gap);

		& :first-child {

			flex		: 1;

		}

		& .material-symbols-outlined {

			transform: rotate(var(--chevron-angle));
			transition: 300ms linear;

		}

	}

}
