@import 'core/helper';
@import 'core/variables';

:host {

	@extend %flex-column;
	gap				: 0.5rem;
	margin-top		: 2rem;

	border-radius	: var(--border-radius);

	@extend %component-shadow;

	& > fieldset {

		@extend %flex-start-center;
		position			: relative;
		display				: block;
		padding				: 4rem var(--gap);

		background-color	: hsl(var(--col-bg-nav-hue) var(--col-bg-nav-sat) var(--col-bg-nav-lig) / var(--col-bg-nav-alp));
		border-radius		: var(--border-radius);
		transition			: $bg-transition;

		& > legend {

			position			: absolute;
			display				: flex;
			align-items			: center;

			gap					: var(--gap-xs);

			top					: -2rem;
			left				: 0rem;

			padding				: var(--gap);
			margin-left			: var(--gap);

			border				: none;
			background-color	: hsl(var(--col-bg-panel-hue) var(--col-bg-panel-sat) var(--col-bg-panel-lig) / var(--col-bg-panel-alp));
			border-radius		: var(--border-radius);
			transition			: $bg-transition;

		}

		& > main {

			padding				: var(--gap-xxl);

			& > div[details] {

				max-height			: 25rem;
				overflow-y			: auto;
				width				: 100%;

				& > div[detail] {

					margin-top		: var(--gap-xl);

				}

			}

		}

		& > footer {

			flex		: 1;
			@extend %flex-end-center;
			position	: absolute;
			right		: var(--gap-lg);
			bottom		: var(--gap-lg);

		}

	}

}
