<fieldset [class]="task.color">

	<legend>

		<ng-container [ngSwitch]="task.entity">

			<!-- Bookmarks -->
			<ng-container *ngSwitchCase="WolfEntity.bookmarks">
				<span class="material-symbols-outlined">bookmarks</span>
				<span> Bookmarks</span>
			</ng-container>

			<!-- Knowledge Base Entries -->
			<ng-container *ngSwitchCase="WolfEntity.kb_entries">
				<span class="material-symbols-outlined">school</span>
				<span> Knowledge Base Entries</span>
			</ng-container>

			<!-- Knowledge Base Contents -->
			<ng-container *ngSwitchCase="WolfEntity.kb_contents">
				<span class="material-symbols-outlined">school</span>
				<span> Knowledge Base Contents</span>
			</ng-container>

			<!-- UNKNOWN CASE -->
			<ng-container *ngSwitchDefault>
				<span class="material-symbols-outlined">help</span>
				<span> UNKNOWN</span>
			</ng-container>

		</ng-container>

	</legend>

	<!-- CONTENT -->
	<ng-container [ngSwitch]="task.type">

		<div content *ngSwitchCase="CloudTaskType.local_new">{{ task.count }} {{ task.count > 1 ? 'items' : 'item' }} created</div>
		<div content *ngSwitchCase="CloudTaskType.local_updated">{{ task.count }} {{ task.count > 1 ? 'items' : 'item' }} updated</div>
		<div content *ngSwitchCase="CloudTaskType.local_deleted">{{ task.count }} {{ task.count > 1 ? 'items' : 'item' }} deleted</div>
		<div content *ngSwitchCase="CloudTaskType.clicked">{{ task.count }} bookmark(s) clicked</div>
		<div content *ngSwitchCase="CloudTaskType.remote_new">{{ task.count }} new {{ task.count > 1 ? 'items' : 'item' }} on server</div>
		<div content *ngSwitchCase="CloudTaskType.remote_updated">{{ task.count }} updated {{ task.count > 1 ? 'items' : 'item' }} on server</div>
		<div content *ngSwitchCase="CloudTaskType.remote_deleted">{{ task.count }} deleted {{ task.count > 1 ? 'items' : 'item' }} on server</div>
		<div content *ngSwitchCase="CloudTaskType.updated_updated">Conflict: {{ task.count }} updated {{ task.count > 1 ? 'items' : 'item' }} locally and on server</div>
		<div content *ngSwitchCase="CloudTaskType.deleted_deleted">{{ task.count }} deleted {{ task.count > 1 ? 'items' : 'item' }} locally and on server </div>
		<div content *ngSwitchCase="CloudTaskType.updated_deleted">Conflict: {{ task.count }} {{ task.count > 1 ? 'items' : 'item' }} updated locally, deleted on server</div>
		<div content *ngSwitchCase="CloudTaskType.deleted_updated">Conflict: {{ task.count }} {{ task.count > 1 ? 'items' : 'item' }} deleted locally, updated on server</div>

	</ng-container>

	<!-- FOOTER -->
	<div footer>

		<ng-container [ngSwitch]="task.action">

			<button *ngSwitchCase="'upload'"   type="button" [class]="task.color" (click)="onActionClicked()"><span class="material-symbols-outlined">cloud_upload</span> Upload</button>
			<button *ngSwitchCase="'download'" type="button" [class]="task.color" (click)="onActionClicked()"><span class="material-symbols-outlined">cloud_download</span> Download</button>
			<button *ngSwitchCase="'view'"     type="button" [class]="task.color" (click)="onActionClicked()"><span class="material-symbols-outlined">eye</span> View</button>

		</ng-container>

	</div>

</fieldset>
