<fieldset>

	<legend>

		<ng-container [ngSwitch]="task.entity">

			<!-- Bookmarks -->
			<ng-container *ngSwitchCase="WolfEntity.bookmarks">
				<span class="material-symbols-outlined">bookmarks</span>
				<span> Bookmarks</span>
			</ng-container>

			<!-- Knowledge Base Entries -->
			<ng-container *ngSwitchCase="WolfEntity.kb_entries">
				<span class="material-symbols-outlined">school</span>
				<span> Knowledge Base Entries</span>
			</ng-container>

			<!-- Knowledge Base Contents -->
			<ng-container *ngSwitchCase="WolfEntity.kb_contents">
				<span class="material-symbols-outlined">school</span>
				<span> Knowledge Base Contents</span>
			</ng-container>

			<!-- UNKNOWN CASE -->
			<ng-container *ngSwitchDefault>
				<span class="material-symbols-outlined">help</span>
				<span> UNKNOWN</span>
			</ng-container>

		</ng-container>

	</legend>

	<!-- CONTENT -->
	<main>

		<ng-container [ngSwitch]="task.type">

			<ng-container *ngSwitchCase="CloudTaskType.local_new">{{ task.entities.length }} {{ task.entities.length > 1 ? 'items' : 'item' }} created</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.local_updated">{{ task.entities.length }} {{ task.entities.length > 1 ? 'items' : 'item' }} updated</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.local_deleted">{{ task.entities.length }} {{ task.entities.length > 1 ? 'items' : 'item' }} deleted</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.clicked">{{ task.entities.length }} {{ task.entities.length > 1 ? 'bookmarks' : 'bookmark' }} clicked</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.remote_new">{{ task.entities.length }} new {{ task.entities.length > 1 ? 'items' : 'item' }} on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.remote_updated">{{ task.entities.length }} updated {{ task.entities.length > 1 ? 'items' : 'item' }} on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.remote_deleted">{{ task.entities.length }} deleted {{ task.entities.length > 1 ? 'items' : 'item' }} on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.updated_updated">Conflict: {{ task.entities.length }} updated {{ task.entities.length > 1 ? 'items' : 'item' }} locally and on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.deleted_deleted">{{ task.entities.length }} deleted {{ task.entities.length > 1 ? 'items' : 'item' }} locally and on server </ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.updated_deleted">Conflict: {{ task.entities.length }} {{ task.entities.length > 1 ? 'items' : 'item' }} updated locally, deleted on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.deleted_updated">Conflict: {{ task.entities.length }} {{ task.entities.length > 1 ? 'items' : 'item' }} deleted locally, updated on server</ng-container>

		</ng-container>

	</main>

	<!-- FOOTER -->
	<footer>

		<ng-container [ngSwitch]="task.action">

			<button *ngSwitchCase="'upload'"   type="button" (click)="onActionClicked()"><span class="material-symbols-outlined">cloud_upload</span> Upload</button>
			<button *ngSwitchCase="'download'" type="button" (click)="onActionClicked()"><span class="material-symbols-outlined">cloud_download</span> Download</button>
			<button *ngSwitchCase="'view'"     type="button" (click)="onActionClicked()"><span class="material-symbols-outlined">eye</span> View</button>

		</ng-container>

	</footer>

</fieldset>
