<div>
	p-breadcrumb [model]="parentMenuItems" [home]="home" p-breadcrumb
</div>
<div> *ngIf="node" [header]="node.name"

	<ng-container> *ngIf="node.children.length > 0"

		<div>p-panel header="Entries" [toggleable]="true" [collapsed]="!!content && node.children.length > 3"
			p-menu [model]="childrenMenuItems" p-menu
		</div>

	</ng-container>
	<br>
	content

	<ng-template pTemplate="footer" *ngIf="content">
		<span updated><i class="pi pi-clock"></i> {{ content.updated | date:'EEEE dd.MM.yyyy hh:mm' }}</span>
	</ng-template>

</div>