app-title-lookup-config-form {

	@extend %flex-column;

	& > form {

		@extend %flex-column;

		& > div {

			margin: 0.5rem 0;

		}

	}

	& > div[form-element-buttons] {

		@extend %flex-space-between-center;
		margin-top : 1rem;

		& button:last-child {
			margin-left: auto;
		}

	}

}
