@import 'core/helper';

:host {

	@extend %flex-column;
	flex		: 1;
	padding		: var(--gap-sm);
	& > form {

		@extend %flex-column;
		gap		: var(--gap-lg);

	}

	& > div[form-element-buttons] {

		@extend %flex-space-between-center;
		margin-top : 1rem;

		& button:last-child {

			margin-left: auto;

		}

	}

}
