@let projects = sorted();

<header class="mb-8 comp-title">
	Projects
	<small class="block text-secondary text-sm">{{ projects.length }} Entries</small>
</header>

@if (projects.length > 0) {

	<section class="gap-1 md:gap-2 grid @2xl/page:grid-cols-2 @4xl/page:grid-cols-3 @6xl/page:grid-cols-4">

		@for (project of projects; track $index) {

			<a	class="relative grid comp-dark comp-dark-active comp-dark-hover rounded-lg focus-visible:ring-4 focus-visible:ring-outline h-full group focus-visible:outline-none px-4 py-3"
				[routerLink]="['/words', project.id]"
				tabindex="0">

				<div class="flex flex-col flex-1 justify-center">

					<p class="text-sm">{{ project.name }}</p>
					<small class="text-base-color-secondary text-xs">
						{{ project.end }}
					</small>

				</div>

			</a>

		}

	</section>

} @else {

	<!-- todo this could be a component -->
	<div class="empty">
		No words available
		<br>
		<button routerLink="/projects/new" class="btn btn-ghost">
			<svg wGlyph="add"></svg> Add Word
		</button>
	</div>

}
