<fieldset class="relative mt-2 p-3 comp">

	<legend class="flex items-center gap-1 bg-component-dark px-3 rounded-lg h-button-height">
		Exams
		<small class="text-secondary text-sm">({{ exams().length }})</small>
	</legend>
	<legend class="-top-11 right-2.5 absolute flex justify-center items-center bg-component-dark rounded-lg h-button-height">
		<button type="button" class="btn btn-ghost" (click)="onOpenFormDialog()">
			<svg wGlyph="add"></svg> Add Exam
		</button>
	</legend>

	<div class="flex flex-col gap-1 md:gap-2">

		@for (exam of exams(); let testIdx = $index; track testIdx) {

			@let isExpanded = !!testsExpanded()[exam.id];
			<a	class="flex flex-col gap-2 shadow-none comp-dark comp-dark-active comp-dark-hover p-2 focus-visible:ring-4 focus-visible:ring-outline cursor-pointer comp outline-none"
				[class.bg-component-dark-active]="isExpanded"
				(click)="onToggleTest(exam.id)"
				tabindex="0">

				<small class="flex items-center gap-1 text-secondary text-xs">{{exam.id}}</small>
				<div>{{ exam.name | hideEnum }}</div>

			</a>
			@if (isExpanded) {

				<div @slideDownEnterLeave class="-mt-1 md:-mt-2 overflow-hidden">

					<div class="flex flex-col gap-2 shadow-none mr-2 ml-2 comp-dark p-2 rounded-t-none @container comp">

						@if (exam.description) {

							<!-- DESCRIPTION -->
							<div class="flex mb-2 overflow-x-auto scrollbar scrollbar-blue">{{ exam.description }}</div>

						}

						@for (question of exam.questions; track $index) {

							<div class="flex">
								<div class="flex py-1 text-secondary text-sm">#{{$index + 1}}</div>
								<div class="flex flex-col">
									<w-choices-viewer [answers]="question.answers" />
									<div class="px-2 text-secondary text-sm">{{question.description}}</div>
								</div>
							</div>

						}

						<div class="flex justify-between gap-2">

							<button
								class="px-2 h-button-height-xs text-sm btn btn-error"
								[tabindex]="isExpanded ? '0' : '-1'">
								<svg wGlyph="delete"></svg>
								Delete
							</button>

							<button
								class="px-2 h-button-height-xs text-sm btn"
								[tabindex]="isExpanded ? '0' : '-1'"
								(click)="onOpenEditDialog(exam.id)"
								>
								<svg wGlyph="edit"></svg>
								Edit
							</button>

						</div>

					</div>

				</div>

			}

		} @empty {

			<div class="flex flex-col justify-center items-center py-16">
				No exams available
				<button (click)="onOpenFormDialog()" class="mx-auto btn btn-ghost">
					<svg wGlyph="add"></svg> Add Exam
				</button>
			</div>

		}

	</div>

</fieldset>
