@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	@include mx-flex-column;
	grid-gap	: var(--gap-sm);

	& > [quiz_header] {

		@include mx-component(3);
		@include mx-box-shadow;
		@include mx-flex-space-between-center;

		& > [quiz_question] {

			flex		: 1;
			@include mx-flex-center-center;
			@include mx-h5;

		}

	}

	& > [quiz_answer] {

		position	: relative;

		& > [quiz_answer_buttons] {

			position	: absolute;
			top			: var(--gap-xxl);
			right		: var(--gap-xxl);

		}

	}

	& > [quiz_choices] {

		display					: grid;
		grid-template-columns	: repeat(auto-fill, minmax(35rem, 1fr));
		grid-gap				: var(--gap-sm);

		& > [quiz_choice] {

			@include mx-component;
			@include mx-box-shadow;
			cursor		: pointer;

			&:hover {

				background-color	: fn-hsl(bg-3);

			}

			&.success {

				background-color	: fn-hsl(success);

			}

			&.failure {

				background-color	: fn-hsl(error);

			}

		}

	}

}
