<ng-template #questionTemplate let-quiz>

	@if (quiz.isVerb) { to } {{ quiz.word.name }}
	@if (quiz.word.pronunciation) {

		<br><small>{{ quiz.word.pronunciation }}</small>

	}

</ng-template>
<ng-template #choiceTemplate let-quiz="quiz" let-choice="choice">

	<span>@if (quiz.isVerb) { to } {{ choice.name }}</span>

</ng-template>

@if (quiz(); as quiz) {

	<div quiz_header class="box shadow dark pl-lg pr-lg">

		<div quiz_question_wrapper class="d-flex ai-sb jc-c">

			<!---------->
			<!-- ICON -->
			<!---------->
			<div quiz_icon class="badge-container d-flex">

				<span class="material-symbols-outlined">quiz</span>
				@if (dueItemsCount(); as count) {

					<span class="badge small">{{count}}</span>

				}

			</div>

			<!-------------->
			<!-- QUESTION -->
			<!-------------->
			<div
				class="d-flex-center gap-sm cur-pointer h5 flex-1"
				quiz_question
				[@quoteChange]="quiz.definition.id"
				(click)="increaseVisibility()">

				<small>({{quiz.definition.type}})</small>
				@if (quiz.askWord) {

					<ng-container *ngTemplateOutlet="questionTemplate; context: { $implicit: quiz }" />

				} @else {

					<app-languages [languages]="quiz.definition.languages" />

				}

			</div>

			<!----------------------->
			<!-- TOP-RIGHT BUTTONS -->
			<!----------------------->
			<div quiz_solve class="d-flex">

				<button
					class="link small"
					(click)="showAnswer(quiz.words[0])"
					title="Show Answer">
					<span class="material-symbols-outlined">contact_support</span>
				</button>

				<button
					class="link small"
					(click)="increaseVisibility()"
					[title]="btnTitle()"
					[@upsideDown]="visibility() === QuizVisibility.CHOICES">
					<span class="material-symbols-outlined">stat_minus_2</span>
				</button>

			</div>

		</div>
		<div
			quiz_hints
			[@slideChoices]="visibility() >= QuizVisibility.HINTS ? 'opened' : 'closed'">

			<div quiz_contexts>

				@for (context of quiz.word.contexts; track $index) {

					<blockquote class="primary" [innerHTML]="context | markHighlight:quiz.word.name:quiz.askWord"></blockquote>

				}

			</div>
			<div quiz_samples>

				<blockquote class="small">

					<ul class="clear">

						@for (definition of quiz.word.definitions; track $index) {
							@for (sample of definition.samples; track $index) {

								<li [innerHTML]="sample | markHighlight:quiz.word.name:quiz.askWord"></li>

							}
						}

					</ul>

				</blockquote>

			</div>

		</div>

	</div>

	<!------------->
	<!-- CHOICES -->
	<!------------->
	<div
		quiz_choices
		class="gap-sm pt-sm"
		[@slideChoices]="visibility() === QuizVisibility.CHOICES ? 'opened' : 'closed'"
		[@choicesBlink]="animationState()"
		(@choicesBlink.done)="complete($event, quiz)">

		@for (choice of quiz.choices; track $index) {

			<div
				quiz_choice
				class="box shadow hover cur-pointer"
				[class.correct]="quiz.correctChoice() === $index"
				[class.incorrect]="quiz.incorrectChoice() === $index"
				(click)="onChoiceClick(quiz, $index)">

				@if (quiz.askWord) {

					<app-languages [languages]="choice.definitions[0].languages" />

				} @else {

					<ng-container *ngTemplateOutlet="choiceTemplate; context: { choice, quiz }" />

				}

			</div>

		}

	</div>

} @else {

	<div class="box dark shadow d-flex">

		<div class="d-flex">
			<span class="material-symbols-outlined">quiz</span>
		</div>
		<div class="d-flex-center gap-sm flex-1">
			Quiz
			<small>/kwɪz/</small>
		</div>

	</div>

}
