@if (quiz(); as quiz) {

	<div quiz_header>

		<div quiz_icon>
			<span class="material-symbols-outlined">quiz</span>
		</div>
		<div quiz_question [@quoteChange]="quiz.question.id" [title]="quiz.title">{{ quiz.question.name }}</div>
		<div quiz_solve>
			<button
				class="icon-only small"
				(click)="checkAnswer(quiz, SHOW_ANSWER)"
				title="Show Answer">
				<span class="material-symbols-outlined">contact_support</span>
		</button>
		</div>

	</div>
	@if (showAnswer()) {

		<div quiz_answer @quizChoices>

			<app-word [word]="quiz.words[0]" [schedulable]="false"/>
			<div quiz_answer_buttons>
				<button type="button" class="rounded" (click)="next(quiz)"><span class="material-symbols-outlined">check</span></button>
			</div>

		</div>

	} @else {

		<div quiz_choices @quizChoices>

			@for (choice of quiz.choices; track $index) {

				<div
					quiz_choice
					(click)="checkAnswer(quiz, choice.id)"
					[class.success]="blinkSuccess() === choice.id"
					[class.failure]="blinkFailure() === choice.id">
					<span [@quoteChange]="choice.id">{{ choice.name }}</span>
				</div>

			}

		</div>

	}

} @else {

	<div quiz_header>

		<div quiz_icon>
			<span class="material-symbols-outlined">quiz</span>
		</div>
		<div quiz_question>Quiz</div>

	</div>

}
