@if (quiz(); as quiz) {

	<div quiz_header>

		<div quiz_question_wrapper>

			<div quiz_icon>

				<span class="material-symbols-outlined">quiz</span>

			</div>
			<div quiz_question [@quoteChange]="quiz.definition.id">

				<small>({{quiz.definition.type}})</small>
				@if (quiz.askWord) {

					@if (quiz.isVerb) { to } {{ quiz.word.name }}
					@if (quiz.pronunciation) {

						<br><small>{{ quiz.pronunciation }}</small>

					}

				} @else {

					<app-languages [languages]="quiz.definition.languages" />

				}

			</div>
			<div quiz_solve>

				<button
					class="icon-only small"
					(click)="showAnswer(quiz.words[0])"
					title="Show Answer">
					<span class="material-symbols-outlined">contact_support</span>
				</button>

			</div>

		</div>
		<div quiz_contexts>

			@for (context of quiz.contexts; track $index) {

				<blockquote class="primary" [innerHTML]="context"></blockquote>

			}

		</div>
		<div quiz_samples>

			<blockquote class="small">

				<ul class="clear">

					@for (sample of quiz.samples; track $index) {

						<li [innerHTML]="sample"></li>

					}

				</ul>

			</blockquote>

		</div>

	</div>
	<div quiz_choices>

		@for (choice of quiz.choices; track $index) {

			<div
				quiz_choice
				(click)="checkAnswer(quiz, choice.definitions[0].id)"
				[class.success]="blinkSuccess() === choice.definitions[0].id"
				[class.failure]="blinkFailure() === choice.definitions[0].id">

				@if (quiz.askWord) {

					<app-languages [languages]="choice.definitions[0].languages" />

				} @else {

					<span [@quoteChange]="choice.id">@if (quiz.isVerb) { to } {{ choice.name }}</span>

				}

			</div>

		}

	</div>

} @else {

	<div quiz_empty_header>

		<div quiz_icon>
			<span class="material-symbols-outlined">quiz</span>
		</div>
		<div quiz_question>
			Quiz
			<small>/kwɪz/</small>
		</div>

	</div>

}
