@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

@keyframes fadeOut {

	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}

:host {

	@include mx-component(3);
	@include mx-box-shadow;
	display			: flex;
	position		: relative;
	min-height		: 2 * $header-height;
	padding-inline	: var(--gap-lg);


	& > [quote_icon_container] {

		& > [quote_icon] {

			position	: relative;

			& > [quote_badge] {

				position		: absolute;
				right			: -6px;
				bottom			: 5px;
				line-height		: 0.5;
				font-size		: 1.5rem;
				color			: fn-hsl(accent);

				&.paused {

					color		: fn-hsl(warn);

				}

				&.play {

					animation: fadeOut 2s forwards;

				}

			}

		}

	}

	& > [quote_outer] {

		flex		: 1;
		@include mx-flex-center-center;
		cursor		: pointer;

		& > [quote_inner] {

			& > [quote_name] {

				text-align	: center;
				font-style	: italic;
				font-size	: 90%;
				padding		: 0 var(--gap-sm) var(--gap-sm) var(--gap-sm);

			}

			& > [quote_author] {

				text-align	: end;
				font-size	: smaller;
				padding		: var(--gap-xs);

			}

			& > [quote_context] {

				text-align	: end;
				font-size	: xx-small;
				padding		: 0 var(--gap-xs);

			}

		}

	}

}
