<div quote_icon_container>

	<div quote_icon>

		<span class="material-symbols-outlined">format_quote</span>
		@if (!running()) {

			<span class="material-symbols-outlined paused" quote_badge>pause_circle</span>

		}
		@if (showPlay()) {

			<span class="material-symbols-outlined play" quote_badge>play_circle</span>

		}

	</div>

</div>
<div quote_outer>

	@if (quote() ?? PICARD; as quote) {

		<div quote_inner [@quoteChange]="quote.id">

			<div quote_name>{{ quote.name }}</div>
			@if (quote.author) {<div quote_author>{{ quote.author }}</div>}
			@if (quote.context) {<div quote_context>{{ quote.context }}</div>}

		</div>

	}

</div>
