<w-portal>

	<button
		class="link"
		(click)="onDownloadRemoteIds()"
		data-after="Refresh">
		<span class="material-symbols-outlined">refresh</span>
	</button>

</w-portal>

<w-toast *ngIf="isFirestoreConfigMissing$ | async" class="warn" [conf]="{ severity: 'info' }">

	<div config_alert>

		<span>Firestore configuration missing</span>
		<button class="link" routerLink="/settings">
			<span class="material-symbols-outlined">settings</span> Configure
		</button>

	</div>

</w-toast>
<app-cloud-summary-container></app-cloud-summary-container>
