<app-portal outletName="portal-outlet-right">

	<button
		pButton
		type="button"
		label="Refresh"
		icon="pi pi-cloud-download"
		class="p-button-text p-button-sm"
		(click)="onDownloadRemoteIds()">
	</button>

</app-portal>

<!-- Conflict Dialog -->
<!-- <p-dialog
	*ngIf="isConflictDialogVisible$ | async"
	[header]="dialogTitle$ | async | noData:'View'"
	[draggable]="false"
	[visible]="(isConflictDialogVisible$ | async) ?? false"
	(visibleChange)="closeConflictDialog()"
	[closeOnEscape]="true"
	[closable]="true"
	[modal]="true"
	[dismissableMask]="true"
	[maximizable]="(isBigScreen$ | async) || false"
	styleClass="cloudConflictContainerComponent">

	<app-cloud-conflict-container></app-cloud-conflict-container>

</p-dialog> -->

<div>p-messages severity="warn" *ngIf="isFirestoreConfigMissing$ | async
    <ng-template pTemplate>
		<span>Firestore configuration missing</span>
		<button
			pButton
			type="button"
			label="Configure"
			class="p-button-text p-button-sm"
			routerLink="/settings">
		</button>
    </ng-template>
</div>

<app-cloud-summary-container></app-cloud-summary-container>