<w-portal>

	<button
		class="icon-only"
		(click)="onDownloadRemoteIds()">
		<span class="material-symbols-outlined">refresh</span> Refresh
	</button>

</w-portal>

<w-toast *ngIf="isFirestoreConfigMissing$ | async" class="warn" [conf]="{ severity: 'info' }">

	<div config_alert>

		<span>Firestore configuration missing</span>
		<button class="icon-only" routerLink="/settings">
			<span class="material-symbols-outlined">settings</span> Configure
		</button>

	</div>

</w-toast>
<app-cloud-summary-container></app-cloud-summary-container>
