@if (word) {

	<h1>{{ word.name }}</h1>
	@if (word.pronunciation) {

		<small>{{ word.pronunciation }}</small>

	}

	@if (word.context) {

		<p><strong>Context:</strong> {{ word.context }}</p>

	}

	@if (word.dictionary) {

		<p><strong>Dictionary:</strong> {{ word.dictionary }}</p>

	}

	@for (definition of word.definitions; track $index) {

		<!-- <h6 definition>Definition #{{ $index + 1}}</h6> -->
		<div definition>

			<small><img class="flag" [src]="'assets/flags/' + definition.language + '.svg'"> {{ definition.type | defType }}</small>
			<strong>{{ definition.name }}</strong>

			@for (sample of definition.samples; track $index) {

				<blockquote>{{ sample }}</blockquote>

			}

		</div>

	}

}
