@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	@include mx-card(3);

	& div[definition] {

		margin-top	: calc(2 * var(--gap-lg));
		@include mx-component(4);

	}

	& img.flag {

		width	: 12px;
		height	: 9px;

	}

}
