@if (word) {

	<div word_main>

		<h3>{{ word.name | hideEnum }}</h3>

		<h6>Context:</h6>
		<p>{{ word.context }}</p>

		@for (d of word.definitions; track d.id) {

			<h5>Definition #{{ $index + 1 }}</h5>
			<table>
				<tr>
					<th>Language</th>
					<td>{{ d.language }}</td>
					<th>Type</th>
					<td>{{ d.type }}</td>
				</tr>
				<tr>
					<th colspan="4">Meaning</th>
				</tr>
				<tr>
					<td colspan="4">{{ d.name }}</td>
				</tr>
				<tr>
					<th>Samples</th>
				</tr>
				@for (s of d.samples; track $index) {

					<tr>
						<th colspan="4"># {{ $index + 1 }}</th>
					</tr>
					<tr>
						<td colspan="4">{{ s }}</td>
					</tr>

				}
			</table>

		}

	</div>

}
