<header class="d-flex-x-end-y-center padding-xs bg-comp-dark brad min-height-5">

	<w-glyph name="bookmarks" class="passive"/>

	@for(tag of tags$ | async; track tag) {

		<button
			type="button"
			class="tag sm"
			[routerLink]="['/bookmarks']"
			[queryParams]="{'tags': tag}">{{ tag }}</button>

	}

</header>
<section content>

	@for(bookmark of bookmarks$ | async; track bookmark) {

		<app-bookmark
			class="compact"
			[bookmark]="bookmark"
			(linkClick)="onClick($event)"
			[editable]="false"
			[popularButton]="false"></app-bookmark>

	}

</section>
