@import 'mixins';
@import 'components';

:host {

	@include mx-flex-column;
	gap		: var(--gap-sm);

	& > header {

		@include mx-component(3);
		display			: flex;
		padding-inline	: var(--gap-lg);
		gap				: var(--gap-xs);

		& > :first-child {

			margin-right: auto;

		}

	}

	& > main {

		display						: grid;
		grid-template-columns		: 1fr;
		grid-gap					: var(--gap-sm);

		@include md() {

			grid-template-columns	: repeat(auto-fill, minmax(25rem, 1fr));

		}

	}

}
