<header class="box shadow dark d-flex ai-c gap-xs">

	<span class="material-symbols-outlined mr-auto">bookmarks</span>

	@for(tag of tags$ | async; track tag) {

		<button
			type="button"
			class="tag sm"
			[routerLink]="['/bookmarks']"
			[queryParams]="{'tags': tag}">{{ tag }}</button>

	}

</header>
<section content>

	@for(bookmark of bookmarks$ | async; track bookmark) {

		<app-bookmark
			class="compact"
			[bookmark]="bookmark"
			(linkClick)="onClick($event)"
			[editable]="false"
			[popularButton]="false"></app-bookmark>

	}

</section>
