<form>

	<div note-form-right>

		<!-- ID -->
		<div *ngIf="note?.id">
			<w-input [control]="form.id" name="ID" [readonly]="true"/>
		</div>

		<!-- NAME -->
		<div>
			<w-input [control]="form.name" name="Name"/>
		</div>

		<!-- CONTENT -->
		<div>
			<w-input [control]="form.content" name="Content"/>
		</div>

		<!-- TAGS -->
		<div>
			<w-input-tag
				[control]="form.tags"
				name="Tags"
				class="input-element"
				(tagInput)="onTagInput($event)"
				[suggestions]="(tagSuggestions$ | async) ?? []"/>
			<button type="button" class="icon-only" [title]="'Toggle \''+TAG_PINNED+'\''" (click)="onTogglePopular()"><span class="material-symbols-outlined" [class.filled]="((form.tags.valueChanges | async) ?? []).includes(TAG_PINNED)">push_pin</span></button>
		</div>

	</div>

</form>

<div form-element-buttons>
	<button type="button" (click)="onDelete()" class="error"><span class="material-symbols-outlined">delete</span> Delete</button>
	<button type="button" (click)="onSave()"><span class="material-symbols-outlined">save</span> Save</button>
</div>
