<w-overlay-container>

	<ng-container card_title>@if (isEdit()) { Edit Task } @else { Add Task }</ng-container>
	<ng-container card_buttons>

		<button
			class="glyph"
			(click)="onClose()"
			title="Close">
			<w-glyph name="close" />
		</button>

	</ng-container>

	<!-- LEARNING ID -->
	@let learning = form.learning.valueChanges | async;
	@if (learning) {

		<h4>
			<small>{{ learning.id }}</small>
			{{ learning.name }}
		</h4>

	}

	<form>

		@if (isEdit()) {

			<!-- ID -->
			<w-input [formControl]="form.id" label="ID" [readonly]="true"/>

		}

		<!-- NAME -->
		<w-input [formControl]="form.name" label="Name"/>

		<!-- DESCRIPTION -->
		<w-textarea [formControl]="form.description" label="Description" [rows]="3"/>

		<!-- TAGS -->
		<div task_row>
			<w-input-tag
				[formControl]="form.tags"
				label="Tags"
				class="input-element"
				(tagInput)="onTagInput($event)"
				[suggestions]="tagSuggestions()"/>
			<button type="button" class="link" [title]="'Toggle \''+TAG_OPTIONAL+'\''" (click)="onToggleOptional()"><span class="material-symbols-outlined" [class.filled]="((form.tags.valueChanges | async) ?? []).includes(TAG_OPTIONAL)">preliminary</span></button>
		</div>

		<div task_status_row>

			<!-- STATUS -->
			<w-select [formControl]="form.status" label="Status" [nodes]="TASK_STATE"/>

			<!-- PRIORITY -->
			<w-select [formControl]="form.priority" label="Priority" [nodes]="TASK_PRIORITIES"/>

			<!-- CATEGORY -->
			<w-select [formControl]="form.category" label="Category" [nodes]="TASK_CATEGORIES"/>

		</div>

		<div task_date_row>

			<!-- START -->
			<w-input [formControl]="form.start" label="Start" type="date" [labelUp]="true"/>

			<!-- END -->
			<w-input [formControl]="form.end" label="End" type="date" [labelUp]="true"/>

		</div>

	</form>

	<ng-container card_footer>

		<div class="footer one_one">

			@if (task(); as t) {

				<button type="button" (click)="onCancel(t.id)" class="link"><w-glyph name="cancel" /> Cancel</button>

			}
			<button type="button" (click)="onSave()"><w-glyph name="save" /> Save</button>

		</div>

	</ng-container>

</w-overlay-container>
