@import 'core/helper';
@import 'core/variables';

:host {

	@extend %flex-column;

	div[note-body] {

		flex		: 1;
		@extend %flex-column;
		padding		: var(--gap-sm);
		gap			: var(--gap);

		h6 {

			@extend %flex-start-center;
			& > .material-symbols-outlined {

				font-size		: 1.2rem;
				color			: hsl(var(--col-text-secondary-hue) var(--col-text-secondary-sat) var(--col-text-secondary-lig)/var(--col-text-secondary-alp));

			}

		}

		div[note-tags] {

			display		: flex;
			gap			: var(--gap-xxs);

		}

		ul {

			flex			: 1;
			max-height		: 15rem;
    		overflow-y		: auto;
			li {

				padding				: var(--gap);
				margin				: var(--gap-xs);
				border-radius		: var(--border-radius-sm);
				cursor				: pointer;
				transition			: $bg-transition;

				&:hover {

					background-color	: hsl(var(--col-bg-panel-hue) var(--col-bg-panel-sat) calc(var(--col-bg-panel-lig) + 10%) / var(--col-bg-panel-alp));

				}

				&:focus,
				&:focus-visible {

					outline: 3px solid hsl(var(--col-focus-hue) var(--col-focus-sat) var(--col-focus-lig) / var(--col-focus-alp));

				}

				h4 {

					margin-bottom	: 0;

				}

				h6 {

					@extend %flex-start-center;
					& > .material-symbols-outlined {

						font-size		: 1.2rem;
						color			: hsl(var(--col-text-secondary-hue) var(--col-text-secondary-sat) var(--col-text-secondary-lig)/var(--col-text-secondary-alp));

					}

				}

			}

		}

	}

}
