<div class="card">

	<ng-container *ngIf="(isFiltered$ | async) as isFiltered; else notFiltered">
		<h2>Search Results
			<ng-container  *ngIf="(queryParamsAsString$ | async) as paramsText">
				<span class="sub-msg">{{ paramsText }}</span>
			</ng-container>
		</h2>
	</ng-container>
	<ng-template #notFiltered>
		<h2>Root Nodes</h2>
	</ng-template>

	<ng-container *ngIf="(notes$ | async) as notes">

		<div class="note-menu" *ngIf="notes.length > 0; else noNotes">
			<div class="note-menu-item" *ngFor="let note of notes" [routerLink]="['/notes', note.id]" tabindex="0">

				<div class="title-box vertical">
					<span class="sub-msg">
						<span class="material-symbols-outlined">schedule</span>
						<span>{{ note.modified | timePast }}</span>
					</span>
					<span>{{ note.name }}</span>
				</div>

			</div>
		</div>
		<ng-template #noNotes>
			<div class="empty">
				No notes available
				<br>
				<button routerLink="/notes/new" class="icon-only">
					<span class="material-symbols-outlined">add</span> Add Note
				</button>
			</div>
		</ng-template>

	</ng-container>

</div>
