<header>
	@if (isFiltered$ | async) {

	<div card_title>Search Results
		@if (queryParamsAsString$ | async; as paramsText) {
			<small>{{ paramsText }}</small>
		}
	</div>

	} @else {

	<div card_title>Root Notes</div>

	}
</header>

<ng-container *ngIf="(notes$ | async) as notes">

	<div note_entries *ngIf="notes.length > 0; else noNotes">

		<a	*ngFor="let note of notes"
			[routerLink]="['/notes', note.id]"
			class="flex column"
			tabindex="0">

			<small>{{ note.modified | timePast }}</small>
			<span>{{ note.name }} <sup *ngIf="note.tags.includes(TAG_PINNED)"><span class="material-symbols-outlined filled">push_pin</span></sup></span>

		</a>

	</div>
	<ng-template #noNotes>
		<div class="empty">
			No notes available
			<br>
			<button routerLink="/notes/new" class="link">
				<span class="material-symbols-outlined">add</span> Add Note
			</button>
		</div>
	</ng-template>

</ng-container>
