@let bm = bookmark();

<a class="relative grid rounded-lg focus-visible:ring-4 focus-visible:ring-outline h-full group focus-visible:outline-none" [href]="bm.urls[0]">

	<div class="flex gap-2 p-3 group/bookmark">

		<!-- LEFT SIDE (IMAGE) -->
		<div class="inline-flex justify-center items-center">
			<img
				src="{{ bm.image || 'placeholder.svg' }}"
				class="rounded-full size-14"
				title="{{ bm.id }} : {{ bm.title + '\r\n' + bm.urls + '\r\n' }} #{{ bm.clicks }}">
		</div>
		<!-- RIGHT SIDE -->
		<div class="flex flex-col flex-1 justify-center">

			<p class="text-sm">{{ bm.title }}</p>
			<p class="text-base-color-secondary text-xs">{{bm.name}}</p>

		</div>

	</div>
	<svg wGlyph="open_in_new" class="top-2 right-2 absolute opacity-0 group-hover:opacity-100 text-sm transition-opacity duration-500"></svg>

</a>
