app-sync-synchronize {

	@extend %flex-column;

	.p-accordion-toggle-icon {

		display: none;

	}

	[HEADER] {

		flex: 1;
		@extend %flex-space-between-center;

	}

	[buttons] {

		@extend %flex-column;

		& > button {

			margin-bottom: 0.3rem;

		}

		@include lg() {

			display			: flex;
			flex-direction	: row;
			justify-content	: space-between;
			align-items		: center;

			& > button {

				margin-bottom : 0;
	
			}

			& > button:nth-child(1),
			& > button:nth-child(3) {

				margin-right : 0.3rem;

			}

			& > button:nth-child(3) {

				margin-left: auto;

			}

		}

	}

}

