<w-portal>
	<button
		type="button"
		(click)="toggleTagCloud()">
		Search
	</button>
	<button
		(click)="openAddDialog()">
		Add
	</button>
</w-portal>

<!-- Search and Tag-cloud -->
<app-bookmarks-search-and-tag-cloud-container tagCloud *ngIf="tagsVisible$ | async" @slideUpDown (search)="onSearch($event)"/>
<w-selected-tags
	[tags]="['popular', 'news', 'im-bored', 'shopping']"
	[selectedTags]="selectedTags$ | async"
	(filterClick)="emptyFilter()"
	(tagClick)="onTagClicked($event)"
	></w-selected-tags>

<!-- Bookmarks list -->
<!-- <app-bookmarks-container></app-bookmarks-container> -->

<div>
	<span class="input-container">
		<input
			type="text"
			placeholder="">
		<label>Title</label>
	</span>
	<button class="icon-only rounded"><span class="material-symbols-outlined">search</span></button>
</div>

