<w-portal>
	<button
		type="button"
		(click)="toggleTagCloud()">
		Search
	</button>
	<button
		(click)="openAddDialog()">
		Add
	</button>
</w-portal>

<!-- Search and Tag-cloud -->
<app-bookmarks-search-and-tag-cloud-container tagCloud *ngIf="tagsVisible$ | async" @slideUpDown (search)="onSearch($event)"/>
<w-selected-tags
	[tags]="['popular', 'news', 'im-bored', 'shopping']"
	[selectedTags]="selectedTags$ | async"
	(filterClick)="emptyFilter()"
	(tagClick)="onTagClicked($event)"
	></w-selected-tags>

<!-- Edit Dialog -->
<!-- <p-dialog
	*ngIf="editDialogVisible$ | async"
	header="Add Bookmark"
	[draggable]="false"
	[visible]="(editDialogVisible$ | async) ?? false"
	(visibleChange)="closeAddDialog()"
	[closeOnEscape]="true"
	[closable]="true"
	[modal]="true"
	[dismissableMask]="true"
	[maximizable]="(isBigScreen$ | async) || false"
	styleClass="bookmarkEditContainerComponent"> -->

	<!-- <app-bookmark-edit-container></app-bookmark-edit-container> -->

<!-- </p-dialog> -->

<!-- Bookmarks list -->
<app-bookmarks-container></app-bookmarks-container>

