<fieldset>
	<legend>Bookmarks</legend>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Local</th>
				<th flexcc>Remote <p-button icon="pi pi-refresh" styleClass="p-button-rounded p-button-text" (click)="onDownloadRemoteIds()"></p-button></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Total</td>
				<td>{{ summary?.localTotal }}</td>
				<td>{{ summary?.remoteTotal }}</td>
			</tr>
			<tr>
				<td>New</td>
				<td>{{ summary?.localNew }}</td>
				<td>{{ summary?.remoteNew }}</td>
			</tr>
			<tr>
				<td>Updated</td>
				<td>{{ summary?.localUpdated }}</td>
				<td>{{ summary?.remoteUpdated }}</td>
			</tr>
			<tr>
				<td>Deleted</td>
				<td>{{ summary?.localDeleted }}</td>
				<td>{{ summary?.remoteDeleted }}</td>
			</tr>
			<tr>
				<td>Clicked</td>
				<td>{{ summary?.localDeleted }}</td>
				<td></td>
			</tr>
			<tr>
				<td>Conflicts</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

</fieldset>