<fieldset>
	<legend>Bookmarks</legend>

	<div table *ngIf="summary">
		<div th></div>
		<div th>Local</div>
		<div th>Remote</div>

		<div th>Total</div>
		<div>{{ summary.localTotal }}</div>
		<div>{{ summary.remoteTotal }}</div>

		<div th>New</div>
		<div>{{ summary.localNew }} <p-button *ngIf="summary.localNew > 0" icon="pi pi-cloud-upload" styleClass="p-button-rounded p-button-text" (click)="onUploadLocalNew()"></p-button></div>
		<div>{{ summary.remoteNew }} <p-button *ngIf="summary.remoteNew >= 0" icon="pi pi-cloud-download" styleClass="p-button-rounded p-button-text" (click)="onDownloadRemoteNew()"></p-button></div>

		<div th>Updated</div>
		<div>{{ summary.localUpdated }}</div>
		<div>{{ summary.remoteUpdated }}</div>

		<div th>Deleted</div>
		<div>{{ summary.localDeleted }}</div>
		<div>{{ summary.remoteDeleted }}</div>

		<div th>Clicked</div>
		<div>{{ summary.localClicked }}</div>
		<div></div>

		<div th>Conflicts</div>
		<div>{{ summary.localError }}</div>
		<div></div>

	</div>

</fieldset>