<fieldset>
	<legend>Bookmarks</legend>

	<div table *ngIf="summary">
		<div th></div>
		<div th>Local</div>
		<div th>Remote</div>

		<div th>Total</div>
		<div>{{ summary.localTotal }}</div>
		<div>{{ summary.remoteTotal }}</div>

		<div th>New</div>
		<div>{{ summary.localNew }} <p-button *ngIf="summary.localNew > 0" icon="pi pi-cloud-upload" styleClass="p-button-rounded p-button-text green" (click)="onUploadLocalNew()"></p-button></div>
		<div>{{ summary.remoteNew }} <p-button *ngIf="summary.remoteNew > 0" icon="pi pi-cloud-download" styleClass="p-button-rounded p-button-text green" (click)="onDownloadRemoteNew()"></p-button></div>

		<div th>Updated</div>
		<div>{{ summary.localUpdated }} <p-button *ngIf="summary.localUpdated > 0" icon="pi pi-cloud-upload" styleClass="p-button-rounded p-button-text green" (click)="onUploadLocalUpdated()"></p-button></div>
		<div>{{ summary.remoteUpdated }} <p-button *ngIf="summary.remoteUpdated > 0" icon="pi pi-eye" styleClass="p-button-rounded p-button-text orange" (click)="onViewRemoteUpdated()"></p-button></div>

		<div th>Deleted</div>
		<div>{{ summary.localDeleted }} <p-button *ngIf="summary.localDeleted > 0" icon="pi pi-cloud-upload" styleClass="p-button-rounded p-button-text green" (click)="onUploadLocalDeleted()"></p-button></div>
		<div>{{ summary.remoteDeleted }} <p-button *ngIf="summary.remoteDeleted > 0" icon="pi pi-eye" styleClass="p-button-rounded p-button-text orange" (click)="onViewRemoteDeleted()"></p-button></div>

		<div th>Clicked</div>
		<div>{{ summary.localClicked }} <p-button *ngIf="summary.localClicked > 0" icon="pi pi-cloud-upload" styleClass="p-button-rounded p-button-text green" (click)="onUploadLocalClicked()"></p-button></div>
		<div><p-button *ngIf="summary.localClicked === 0" icon="pi pi-cloud-download" label="All" styleClass="p-button-rounded p-button-text green" (click)="onDownloadRemoteClicks()"></p-button></div>

		<div></div>
		<div th>Conflicts</div>
		<div></div>

		<div th>Local</div>
		<div th>Remote</div>
		<div></div>

		<div>Updated</div>
		<div>Updated</div>
		<div>{{ summary.localUpdatedRemoteUpdated }} <p-button *ngIf="summary.localUpdatedRemoteUpdated > 0" icon="pi pi-eye" styleClass="p-button-rounded p-button-text orange" (click)="onViewUpdatedUpdated()"></p-button></div>

		<div>Deleted</div>
		<div>Deleted</div>
		<div>{{ summary.localDeletedRemoteDeleted }} <p-button *ngIf="summary.localDeletedRemoteDeleted > 0" icon="pi pi-eye" styleClass="p-button-rounded p-button-text orange" (click)="onViewDeletedDeleted()"></p-button></div>

		<div>Updated</div>
		<div>Deleted</div>
		<div>{{ summary.localUpdatedRemoteDeleted }} <p-button *ngIf="summary.localUpdatedRemoteDeleted > 0" icon="pi pi-eye" styleClass="p-button-rounded p-button-text orange" (click)="onViewUpdatedDeleted()"></p-button></div>

		<div>Deleted</div>
		<div>Updated</div>
		<div>{{ summary.localDeletedRemoteUpdated }} <p-button *ngIf="summary.localDeletedRemoteUpdated > 0" icon="pi pi-eye" styleClass="p-button-rounded p-button-text orange" (click)="onViewDeletedUpdated()"></p-button></div>

	</div>

</fieldset>