<w-selected-tags
	[tags]="['popular', 'news', 'im-bored', 'shopping']"
	[selectedTags]="selectedTags$ | async"
	(filterClick)="emptyFilter()"
	(tagClick)="onTagClicked($event)"
	></w-selected-tags>

<div>
	<input
		type="text"
		pInputText
		placeholder="Keyword"
		[formControl]="searchControl"
		pAutoFocus
		[autofocus]="true">
	<button
		type="button"
		class="square small"
		(click)="onSearchReset()">
		<span class="material-symbols-outlined">search</span>
	</button>
</div>

<w-tag-cloud
    [tags]="tags$ | async"
    [selectedTags]="selectedTags$ | async"
    [relatedTags]="relatedTags$ | async"
    (tagClick)="onTagClicked($event)"></w-tag-cloud>
