@import 'variables';
@import 'z-index';
@import 'mixins/responsive';

:host {

	position			: absolute;
	display				: block;
	top					: 0;
	left				: 0;
	right				: 0;
	bottom				: 0;

	background-color	: rgba(0, 0, 0, 0.7);
	z-index				: $z-index-nav-overlay;

	opacity				: 0;
	visibility			: hidden;
	transition			: opacity 0.5s ease, visibility 0.5s ease;

	@include bigScreen() {

		display			: none;

	}

}

:host-context(.navVisible) {

	opacity				: 1;
	visibility			: visible;

	@include bigScreen() {

		opacity			: 0;
		visibility		: hidden;

	}

}
