@import 'variables';
@import 'mixins/responsive';

:host {

	position		: absolute;
	display			: none;
	top				: 0;
	left			: 0;
	width			: 100%;
	height			: 100%;
	background		: rgba(0, 0, 0, 0.5);
	z-index			: 90;

	@include md() {

		display		: none !important;

	}

}

:host-context(.navVisible) {

	display			: block;

}
