@let testSuites = sorted();

<header class="mb-8 comp-title">
	Test Suites
	<small class="block text-secondary text-sm">{{ testSuites.length }} Entries</small>
</header>

@if (testSuites.length > 0) {

	<section class="gap-1 md:gap-2 grid">

		@for (testSuite of testSuites; track $index) {

			<a	class="group relative focus-visible:outline-hidden grid px-4 py-3 rounded-lg focus-visible:ring-4 focus-visible:ring-outline h-full comp-dark comp-dark-active comp-dark-hover"
				[routerLink]="['/test-suites', testSuite.id]"
				tabindex="0">

				<div class="flex flex-col flex-1 justify-center">

					<p class="text-sm">{{ testSuite.name | hideEnum }}</p>
					<small class="text-2xs text-base-secondary">
						{{ testSuite.description }}
					</small>

				</div>

			</a>

		}

	</section>

} @else {

	<!-- todo this could be a component -->
	<div class="flex flex-col justify-center items-center py-16">
		No test suites available
		<button routerLink="/test-suites/new" class="mx-auto btn btn-ghost">
			<svg wGlyph="add"></svg> Add Test Suite
		</button>
	</div>

}
