@import 'variables';
@import 'helper';
@import 'components';

:host {

	@include mx-d-block;
	background-color	: fn-var($col-bg-page);
	height				: 100vh;
	transition			: background-color $transition;

	& > header {

		@include mx-d-grid;
		top				: 0;
		right			: 0;
		left			: 0;
		position		: fixed;
		padding-left	: 0;
		height			: $header-height;
		z-index			: $z-index-header;

		background-color: fn-var($col-bg-header);
		transition		: background-color $transition;
		@include mx-shadow;

	}

	& > main {

		@include mx-d-block;
		position		: fixed;
		padding			: $gap;
		z-index			: $z-index-main;
		height			: fn-var($main-current-height);

		top				: $header-height;
		right			: 0;
		left			: fn-var($main-current-left);

		@include mx-scrollable(unset);
		transition		: height $transition, left $transition, background-color $transition;

	}

	& > nav {

		@include mx-d-flex-column;
		position	: fixed;

		padding		: 0;
		margin		: 0;
		margin-left	: fn-var($nav-current-margin-left);

		z-index		: $z-index-nav;

		top			: $header-height;
		left		: 0;

		height		: fn-var($nav-current-height);
		width		: fn-var($nav-current-width);

		overflow	: hidden;

		background-color	: fn-var($col-bg-nav);
		transition			: height $transition, width transition, margin-left $transition, background-color $transition;
		@include mx-shadow;

	}

}
