@import 'variables';
@import 'helper';
@import 'variables';
@import 'mixins';

:host {

	display				: block;
	height				: 100vh;
	background-color	: hsl(var(--col-bg-body-hue) var(--col-bg-body-sat) var(--col-bg-body-lig) / var(--col-bg-body-alp));
	transition			: $bg-transition;

	& > header {

		position				: absolute;
		z-index					: $z-index-header;

		display					: flex;

		height					: $header-height;
		width					: 100vw;

		padding					: var(--gap);
		padding-left			: 0;

		background-color		: hsl(var(--col-bg-header-hue) var(--col-bg-header-sat) var(--col-bg-header-lig) / var(--col-bg-header-alp));
		transition				: $bg-transition;

	}

	& > main {

		position			: absolute;
		z-index				: $z-index-main;

		display				: block;

		top					: $header-height;
		right				: 0;
		bottom				: 0;
		left				: 0;

		padding				: var(--gap-sm);

		overflow-y			: auto;
		@include mx-webkit-scrollbar;

		transition			: left 0.6s cubic-bezier(0.25, 1, 0.25, 1), $bg-transition;

	}

	& > nav {

		position			: absolute;
		z-index				: $z-index-nav;

		display				: block;

		top					: $header-height;
		bottom				: 0;
		width				: $nav-width;
		padding				: var(--gap-sm);

		margin-left			: -$nav-width;

		background-color	: hsl(var(--col-bg-nav-hue) var(--col-bg-nav-sat) var(--col-bg-nav-lig) / var(--col-bg-nav-alp));
		transition			: margin-left 0.6s cubic-bezier(0.25, 1, 0.25, 1), $bg-transition;

	}

	&.navVisible {

		& > nav {

			margin-left		: 0;

		}

		& > main {

			@include bigScreen() {

				left	: $nav-width;

			}

		}

	}

}
