@import 'variables';
@import 'helper';
@import 'variables';
@import 'mixins';

:host {

	display				: block;
	height				: 100vh;
	background-color	: fn-color(bg-page);
	transition			: $bg-transition;

	& > header {

		position				: fixed;
		z-index					: $z-index-header;

		top						: 0;
		left					: 0;
		right					: 0;
		height					: $header-height;

		display					: flex;
		padding					: var(--gap);
		padding-left			: 0;

		background-color		: fn-color(bg-header);
		transition				: $bg-transition;

		@include mx-box-shadow;

	}

	& > main {

		position			: fixed;
		z-index				: $z-index-main;

		display				: block;

		top					: $header-height;
		right				: 0;
		height				: calc(100dvh - #{$header-height});
		left				: 0;

		padding				: var(--gap-sm);

		overflow-y			: auto;
		@include mx-webkit-scrollbar;

		transition			: height $transition, left 0.6s $transition-timing-fn, $bg-transition;

		@include bigScreen() {

			body.sidebar-full & {

				left		: $nav-full-width;

			}

			body.sidebar-half & {

				left		: $nav-half-width;

			}

		}

	}

	& > nav {

		@include mx-flex-column;
		position			: fixed;
		z-index				: $z-index-nav;

		top					: $header-height;
		left				: 0;
		height				: calc(100dvh - #{$header-height});
		width				: $nav-full-width;

		padding				: 0;
		margin-left			: 0;

		overflow			: hidden;

		background-color	: fn-color(bg-nav);
		transition			: height $transition, width 0.6s $transition-timing-fn, margin-left 0.6s $transition-timing-fn, $bg-transition;

		@include mx-box-shadow;

		body.sidebar-full & {

			margin-left		: 0;
			width			: $nav-full-width;

		}

		body.sidebar-half & {

			margin-left		: 0;
			width			: $nav-half-width;

		}

		body.sidebar-hidden & {

			margin-left		: -$nav-full-width;
			width			: $nav-full-width;

			@include bigScreen {

				margin-left		: -$nav-half-width;
				width			: $nav-half-width;

			}

		}

	}

}
