<!-- @if (splashVisible()) {

	<app-splash-screen @splash />

} -->
@if (sidebarOpen()) {

	<app-nav-overlay @opacity />

}
<header	class="top-0 right-0 left-0 z-header fixed grid bg-header shadow-component h-header">

	<app-header />

</header>
<nav
	[@sidebar]="sidebarState()"
	class="top-0 -left-nav-full z-nav fixed grid bg-nav shadow-component pt-header h-100dvh">

	<app-nav />

</nav>
<main
	class="block top-header right-0 left-0 z-main fixed h-main transition-all duration-300 overflow-y-auto scrollbar scrollbar-gutter-stable"
	cdkScrollable
	[@main]="sidebarState()">

	<router-outlet/>

</main>
