@let w = word();

@if (w) {

	<w-overlay-container>

		<ng-container card_title>Remember</ng-container>
		<ng-container card_buttons>

			<button
				class="link rounded"
				(click)="onClose(w.definitions[0].id)"
				title="Close">
				<span class="material-symbols-outlined">close</span>
			</button>

		</ng-container>

		<app-word [word]="w" [schedulable]="false"/>

		<ng-container card_footer>

			<div footer_buttons>
				<button type="button" (click)="onEdit(w.definitions[0].id, w.id)" class="link"><span class="material-symbols-outlined">edit</span> Edit</button>
				<a
					class="button icon-only align-left"
					[href]="'https://www.google.com/search?q=' + w.name"
					target="_blank">
					<span class="material-symbols-outlined">search</span> Google <sup><span class="material-symbols-outlined small">open_in_new</span></sup>
				</a>
				<button type="button" (click)="onClose(w.definitions[0].id)"><span class="material-symbols-outlined">check</span> Got It</button>
			</div>

		</ng-container>

	</w-overlay-container>

} @else {

	<w-overlay-container>

		<ng-container card_title>Error</ng-container>

		<h3>No Incoming 'Word'</h3>

	</w-overlay-container>

}
