@if (note$ | async; as note) {

	<w-portal>
		<div>{{note.name}}</div>
	</w-portal>
	<!-- <app-note [note]="note" /> -->
	<div editor>

		<w-markdown-editor [control]="fcContent" (save)="onSave()" (saveClose)="onSaveClose()" (cancel)="onCancel(note.id)" name="Content"/>

	</div>

} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><span class="material-symbols-outlined">check_circle</span>&nbsp;No note available</span>
			<button
				class="icon-only"
				[routerLink]="['/notes', 'new' ]">
				<span class="material-symbols-outlined">post_add</span> Add Note
			</button>

		</div>

	</div>

}
