@if (word(); as word) {

	<header class="flex gap-2 mb-8 comp-title">

		<span class="text-focus">{{ word.name }}</span>
		@if (word.pronunciation) {

			<small>{{ word.pronunciation }}</small>

		}

	</header>
	<section class="flex flex-col gap-4">

		@for (context of word.contexts; track $index) {

			<blockquote class="my-2 pl-2 border-l-2 border-l-success">
				@if (word.contexts.length > 1) {

					<small>Context #{{ $index + 1 }}</small>

				} @else {

					<small>Context</small>

				}
				{{ context }}
			</blockquote>

		}

		@if (word.dictionary) {

			<p><strong>Dictionary:</strong> {{ word.dictionary }}</p>

		}

		@for (definition of word.definitions; track $index) {

			<div class="flex flex-col gap-2 comp-dark p-3 comp">

				<small class="text-secondary">{{ definition.type | defType }}</small>

				<!-- LANGUAGES -->
				<div>

					<w-languages [languages]="definition.languages"/>

				</div>

				@for (sample of definition.samples; track $index) {

					<blockquote class="my-2 pl-2 border-l-2 border-l-secondary">
						@if (definition.samples.length > 1) {

							<small class="block text-secondary">Sample #{{ $index + 1 }}</small>

						} @else {

							<small class="block text-secondary">Sample</small>

						}
						{{ sample }}
					</blockquote>

				}

				@if (schedulable()) {

					<footer class="flex justify-end">

						<w-switch
							label="Schedule"
							[value]="scheduledIds().includes(definition.id)"
							(valueChange)="onSchedule(definition, $event)"/>

					</footer>

				}

			</div>

		}

	</section>

}
