@import 'helper';
@import 'variables';
@import 'mixins';

:host {

	@include mx-box-shadow;
	--bookmark-hover-transition		: opacity 400ms ease-in-out;
	--bookmark-edit-button-opacity	: 0;
	--bookmark-name-sup-opacity		: 0;
	--font-size 					: 1.6rem;
	--image-size					: 110px;
	--bookmark-bg-color				: #{fn-hsl(bg-2)};

	&.compact {

		--font-size					: 1.4rem;
		--image-size				: 55px;

	}

	display				: flex;
	position			: relative;
	padding				: 0.5rem;
	overflow			: hidden;

	background-color	: var(--bookmark-bg-color);
	border-radius		: var(--border-radius);
	transition			: all ease-in-out 250ms, background-color $transition;

	& > div[bookmark-overlay] {

		position					: absolute;
		width						: 100%;
		height						: 100%;
		top							: 0;
		left						: 0;
		background-color			: transparent;
		pointer-events				: auto;
		z-index						: $z-index-bookmark-overlay;

	}

	&:hover {

		--bookmark-edit-button-opacity : 1;

	}

	div[bookmark-image] {

		@extend %flex-center-y;

		& > img {

			width	: var(--image-size);
			height	: var(--image-size);

		}

	}

	div[bookmark-right] {

		@extend %flex-column;
		padding	: 0.6rem;
		flex	: 1;

		div[bookmark-top] {
			flex: 1;
			@extend %flex-start-center;

			& > a {

				text-decoration : none;

				span[bookmark-name] {

					font-size		: var(--font-size);
					font-weight		: bolder;
					position		: relative;

					sup {
						position		: absolute;
						opacity			: var(--bookmark-name-sup-opacity);
						transition		: var(--bookmark-hover-transition);
						margin-left		: 0.3rem;
						top				: -6px;
						&>.material-symbols-outlined {
							font-size	: var(--font-size);
						}
					}

				}

				span[bookmark-title] {

					color		: fn-hsl(text-secondary);
					font-size	: 1.2rem;

				}

			}

			&:hover {

				--bookmark-name-sup-opacity : 1;

			}

		}

		div[bookmark-bottom] {

			@extend %flex-column;

			div[bookmark-url] {

				word-break		: break-all;
				font-size		: x-small;
				color			: fn-hsl(text-secondary);

			}

			div[bookmark-tags] {

				display			: flex;
				flex-wrap		: wrap;
				margin-top		: var(--gap-xs);
				padding			: var(--gap-sm) var(--gap-sm) var(--gap-sm) 0;
				gap				: var(--gap-xs);

			}

		}

	}

	#editButton {

		position				: absolute;
		opacity					: var(--bookmark-edit-button-opacity);
		transition				: var(--bookmark-hover-transition);
		bottom					: 1rem;
		right					: 1rem;
		border-radius			: var(--border-radius-sm);

	}

	#popularButton {

		position				: absolute;
		opacity					: var(--bookmark-edit-button-opacity);
		transition				: var(--bookmark-hover-transition);
		top						: 1rem;
		right					: 1rem;
		border-radius			: var(--border-radius-sm);

	}

	#editButton,
	#popularButton {

		&:focus,
		&:focus-visible {

			opacity				: 1;

		}

	}

}
