@import 'helper';
@import 'variables';
@import 'components';
// @import 'mixins';

:host {

	@include mx-d-inline-grid;

	// [delete_icon] {

	// 	color: fn-var($col-error);

	// }

	& > fieldset {

		@include mx-fieldset;

		& > [content] {

			@include mx-d-grid;
			grid-template-columns	: 1fr 4rem 8rem 3rem;
			align-items				: center;
			gap						: $gap;
			padding					: $gap;

			& > div:not(:nth-child(4n-3)) {

				justify-self		: end;

			}

		}

 	}

}
