@import 'helper';
@import 'variables';
@import 'components';

:host{

	@include mx-d-flex-column;
	@include mx-box($param-shadow: true);
	gap		: $gap-xxl;
	padding	: $gap-lg $gap-xl;

	& > header {

		@include mx-header($param-font-size: $font-size-h1, $param-small-font-size: 0.5em);

	}

	& > [word_entries] {

		@include mx-d-grid;
		grid-template-columns	: repeat(auto-fill, minmax(20rem, 1fr));
		gap						: $gap-sm;
		@include mx-scrollable(100%); //calc(100dvh - 4 * #{$header-height}));

		& > a {

			@include mx-d-flex-col-jc-center;
			@include mx-box($param-dark: true, $param-hover: true, $param-active: true);
			@include mx-header;

			text-decoration		: none;
			overflow-x			: hidden;

			& > small {

				color			: fn-var($col-text-secondary);

			}

		}

	}

}
