@import 'helper';
@import 'variables';
@import 'components';

:host{

	@include mx-d-flex-column;
	@include mx-box;
	@include mx-shadow;
	gap		: $gap-xxl;
	padding	: $gap-lg $gap-xl;

	& > header {

		@include mx-header($font-size-h2, 0.5em);


	}

	& > [word_entries] {

		@include mx-d-grid;
		grid-template-columns	: repeat(auto-fill, minmax(15rem, 1fr));
		gap						: $gap-sm;
		@include mx-scrollable(100%); //calc(100dvh - 4 * #{$header-height}));

		& > a {

			@include mx-d-block;
			@include mx-box($col-bg-component-dark);
			@include mx-header;
			min-height			: 1.75 * $widget-height;
			padding				: $gap;
			border-radius		: $border-radius;
			text-decoration		: none;
			overflow-x			: hidden;
			@include mx-transition(background-color);

			& > small {

				color			: fn-var($col-text-secondary);

			}

		}

	}

}
