@let words = sortedWords();

<header>

	Words <small>{{ words.length }} Entries</small>

</header>

@if (words.length > 0) {

	<section content>

		@for (word of words; track $index) {

			<a [routerLink]="['/words', word.id]" tabindex="0">

				{{ word.name }}
				<small>{{ word.definitions.length }} definition{{ word.definitions.length > 1 ? 's' : '' }}</small>

			</a>

		}

	</section>

} @else {

	<!-- todo this could be a component -->
	<div class="empty">
		No words available
		<br>
		<button routerLink="/words/new" class="link">
			<span class="material-symbols-outlined">add</span> Add Word
		</button>
	</div>

}
