<w-portal>

	<button
		class="link"
		[routerLink]="cancelLink$ | async">
		<span class="material-symbols-outlined">cancel</span> Cancel
	</button>

</w-portal>

<div class="box">box</div>
<br>
<div class="box hover">box hover</div>
<br>
<div class="box dark">box dark</div>
<br>
<div class="box dark hover">box dark hover</div>
<br>
<div class="box shadow">shadow box</div>
<br>
<div class="box shadow hover">shadow box hover</div>
<br>
<div class="box shadow dark">shadow box dark</div>
<br>
<div class="box shadow dark hover">shadow box dark hover</div>
<!--
<app-note-form
	[parentId]="parentId$ | async"
	[nodes]="nodes$ | async"
	[tagSuggestions]="tagSuggestions$ | async"
	(create)="onCreate($event)"
	(tagInput)="onTagInput($event)"></app-note-form> -->
