@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	display						: grid;
	grid-template-columns		: 1fr;
	gap							: var(--gap-sm);

	@include bigScreen() {

		grid-template-columns	: repeat(auto-fill, minmax(35rem, 1fr));

	}

	& > w-toast {

		grid-column: span 2;

		& [total] {

			text-align	: end;

		}

	}

	& > fieldset {

		@include mx-card;
		@include mx-flex-column;
		margin-top			: 2rem;
		position			: relative;
		padding-top			: calc(var(--gap-xl) + var(--gap-xxl)); // vars instead of rem or px

		& > legend {

			position			: absolute;
			display				: flex;
			align-items			: center;

			gap					: var(--gap-xs);

			top					: -2rem;
			left				: 0rem;

			padding				: var(--gap);
			margin-left			: var(--gap);

			border				: none;
			background-color	: fn-hsl(bg-3);
			border-radius		: var(--border-radius);
			transition			: $bg-transition;

		}

		& > main {

			& > table {

				width			: 100%;

				& > tr > td {

					&:first-child {

						width		: 100%;

					}

					&:not(:first-child) {

						text-align	: end;

					}

				}

			}

		}

		& > footer {

			@include mx-flex-end-center;
			padding			: var(--gap-sm);

		}

	}

}
