<w-portal>

	<button
		class="ghost"
		(click)="onRefresh()"
		data-after="Refresh">
		<span class="material-symbols-outlined">refresh</span>
	</button>

</w-portal>

<w-toast [conf]="{ 'severity': 'info', glyph: 'monitoring' }">

	@if (total()) {

		<div total><strong>Total: {{ total() | formatBytes }}</strong></div>

	} @else {

		<div total>Calculating...</div>

	}

</w-toast>

<section modules>

	@for(report of reports(); track $index) {

		<app-module-report [report]="report" (clear)="onClear($event)" @opacity />

	}

</section>
