<w-portal>

	<button
		class="icon-only"
		(click)="onRefresh()">
		<span class="material-symbols-outlined">refresh</span> Refresh
	</button>

</w-portal>

@if (report$ | async; as report) {

	<w-toast [conf]="{ 'severity': 'info' }" icon="database">

		<div total>

			@if (total$ | async; as total) {

				<span> Total size: {{ total | formatBytes }}</span>

			}

		</div>

	</w-toast>

	<fieldset>

		<legend>

				<!-- Bookmarks -->
				<span class="material-symbols-outlined">bookmarks</span>
				<span> Bookmarks</span>

		</legend>

		<main>

			<table>

				<tr>
					<td><strong>Entities</strong></td>
					<td>{{ report.bookmarks.entities.count }}</td>
					<td>{{ report.bookmarks.entities.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Sync Data</strong></td>
					<td>{{ report.bookmarks.syncData.count }}</td>
					<td>{{ report.bookmarks.syncData.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Remote Data</strong></td>
					<td>{{ report.bookmarks.remoteData.count }}</td>
					<td>{{ report.bookmarks.remoteData.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Clicks</strong></td>
					<td>{{ report.bookmarks.clicks.count }}</td>
					<td>{{ report.bookmarks.clicks.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Trash</strong></td>
					<td>{{ report.bookmarks.trash.count }}</td>
					<td>{{ report.bookmarks.trash.size | formatBytes }}</td>
				</tr>

			</table>

		</main>

	</fieldset>

	<fieldset>

		<legend>

				<!-- Notes -->
				<span class="material-symbols-outlined">note_stack</span>
				<span> Notes</span>

		</legend>

		<main>

			<table>

				<tr>
					<td><strong>Entities</strong></td>
					<td>{{ report.notes.entities.count }}</td>
					<td>{{ report.notes.entities.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Sync Data</strong></td>
					<td>{{ report.notes.syncData.count }}</td>
					<td>{{ report.notes.syncData.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Remote Data</strong></td>
					<td>{{ report.notes.remoteData.count }}</td>
					<td>{{ report.notes.remoteData.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Trash</strong></td>
					<td>{{ report.notes.trash.count }}</td>
					<td>{{ report.notes.trash.size | formatBytes }}</td>
				</tr>

			</table>

		</main>

	</fieldset>

	<fieldset>

		<legend>

				<!-- Note Content -->
				<span class="material-symbols-outlined">note_stack</span>
				<span> Note Content</span>

		</legend>

		<main>

			<table>

				<tr>
					<td><strong>Entities</strong></td>
					<td>{{ report.notesContent.entities.count }}</td>
					<td>{{ report.notesContent.entities.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Sync Data</strong></td>
					<td>{{ report.notesContent.syncData.count }}</td>
					<td>{{ report.notesContent.syncData.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Remote Data</strong></td>
					<td>{{ report.notesContent.remoteData.count }}</td>
					<td>{{ report.notesContent.remoteData.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Trash</strong></td>
					<td>{{ report.notesContent.trash.count }}</td>
					<td>{{ report.notesContent.trash.size | formatBytes }}</td>
				</tr>

			</table>

		</main>

	</fieldset>

	<fieldset>

		<legend>

				<!-- Notes -->
				<span class="material-symbols-outlined">dictionary</span>
				<span> Words</span>

		</legend>

		<main>

			<table>

				<tr>
					<td><strong>Entities</strong></td>
					<td>{{ report.words.entities.count }}</td>
					<td>{{ report.words.entities.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Sync Data</strong></td>
					<td>{{ report.words.syncData.count }}</td>
					<td>{{ report.words.syncData.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Remote Data</strong></td>
					<td>{{ report.words.remoteData.count }}</td>
					<td>{{ report.words.remoteData.size | formatBytes }}</td>
				</tr>

				<tr>
					<td><strong>Trash</strong></td>
					<td>{{ report.words.trash.count }}</td>
					<td>{{ report.words.trash.size | formatBytes }}</td>
				</tr>

			</table>

		</main>

	</fieldset>

	<fieldset>

		<legend>

				<!-- Logs -->
				<span class="material-symbols-outlined">history</span>
				<span> Logs</span>

		</legend>

		<main>

			<table>

				<tr>
					<td><strong>Entries</strong></td>
					<td>{{ report.logs.count }}</td>
					<td>{{ report.logs.size | formatBytes }}</td>
				</tr>

			</table>

		</main>

	</fieldset>

}
