<p-breadcrumb [model]="parentMenuItems" [home]="home"></p-breadcrumb>
<p-card *ngIf="node" [header]="node.name">

	<ng-container *ngIf="node.children.length > 0">

		<p-panel header="Entries" [toggleable]="true" [collapsed]="!!content && node.children.length > 3">
			<p-menu [model]="childrenMenuItems"></p-menu>
		</p-panel>

	</ng-container>
	<br>
	content

	<ng-template pTemplate="footer" *ngIf="content">
		<span updated><i class="pi pi-clock"></i> {{ content.updated | date:'EEEE dd.MM.yyyy hh:mm' }}</span>
	</ng-template>

</p-card>