<w-portal>

	<button
		class="icon-only"
		[cdkMenuTriggerFor]="menu">
		<span class="material-symbols-outlined">menu_open</span>
	</button>

	<ng-template #menu>
		<div class="card darker" cdkMenu *ngIf="(note$ | async) as note">

			<button
				cdkMenuItem
				class="icon-only"
				[routerLink]="['/notes', note.id, 'new' ]">
				<span class="material-symbols-outlined">post_add</span> Child Note
			</button>

			<hr class="even">

			<button
				cdkMenuItem
				class="icon-only"
				[routerLink]="['/notes', note.id, 'edit' ]">
				<span class="material-symbols-outlined">edit</span> Edit Note
			</button>

			<button
				cdkMenuItem
				class="icon-only"
				[routerLink]="['/notes', note.id, 'content', 'edit' ]">
				<span class="material-symbols-outlined">edit_note</span> Edit Content
			</button>

			<hr class="even">

			<button
				cdkMenuItem
				class="icon-only"
				[routerLink]="['/logs', note.id]">
				<span class="material-symbols-outlined">history</span> View Logs
			</button>

			<button
				cdkMenuItem
				class="icon-only"
				(click)="onRemove(note.id)">
				<span class="material-symbols-outlined">delete</span> Remote Note
			</button>

		</div>
	</ng-template>

</w-portal>

<!-- <w-breadcrumb [items]="(parents$ | async) ?? []" [home]="['/notes']" (clicked)="navTo($event)" /> -->
<ng-container *ngIf="note$ | async as note; else noNote">

	<app-note
		[note]="note"
		[parents]="(parents$ | async) ?? []"
		[children]="(children$ | async) ?? []" />

</ng-container>
<ng-template #noNote>

	<div class="empty">
		<span class="empty-message"><span class="material-symbols-outlined">check_circle</span>&nbsp;No note available</span>
		<button routerLink="/notes" class="icon-only">
			<span class="material-symbols-outlined">note_stack</span> Notes
		</button>
	</div>

</ng-template>
<app-note-content [content]="content$ | async" />
