@if (note$ | async; as note) {

	<w-portal>

		<button
			class="link"
			[cdkMenuTriggerFor]="menu">
			<w-glyph name="menu_open" />
		</button>

		<ng-template #menu>

			<div class="menu" cdkMenu>

				<button
					cdkMenuItem
					class="link align-left"
					[routerLink]="['/notes', note.id, 'new' ]">
					<w-glyph name="post_add" /> Child Note
				</button>

				<hr>

				<button
					cdkMenuItem
					class="link align-left"
					[routerLink]="['/notes', note.id, 'edit' ]">
					<w-glyph name="edit" /> Edit Note
				</button>

				<button
					cdkMenuItem
					class="link align-left"
					[routerLink]="['/notes', note.id, 'content', 'edit' ]">
					<w-glyph name="edit_note" /> {{ (content$ | async) ? 'Edit' : 'Add '}} Content
				</button>

				<hr>

				<button
					cdkMenuItem
					class="link align-left"
					[routerLink]="['/logs', note.id]">
					<w-glyph name="history" /> View Logs
				</button>

				<button
					cdkMenuItem
					class="link align-left"
					(click)="onRemove(note.id)">
					<w-glyph name="delete" /> Remove Note
				</button>

			</div>

		</ng-template>

	</w-portal>

	<app-note
		[note]="note"
		[parents]="(parents$ | async) ?? []"
		[children]="(children$ | async) ?? []" />

	@if (content$ | async; as content) {

		<app-note-content [note]="note" [content]="content" />

	}

} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><w-glyph name="check_circle" />&nbsp;No note available</span>
			<button
				class="link"
				[routerLink]="['/notes', 'new' ]">
				<w-glyph name="post_add" /> Add Note
			</button>

		</div>

	</div>

}
