<w-portal>

	<button (click)="load()" class="btn btn-ghost">
		<svg wGlyph="refresh"></svg> Refresh
	</button>

</w-portal>

@let logs = sorted();

<header class="mb-8 comp-title">
	Logs
	<small class="block text-secondary text-sm">{{ logs.length }} Entries</small>
</header>

@if (logs.length > 0) {

	<section class="block">

		@for (log of logs; track $index) {

			<small class="block text-secondary text-xs">[{{ log.category }}]</small>
			<small class="block text-secondary text-xs">{{ log.date | timePast:true }}</small>
			<div [innerHTML]="log.message" class="mb-10"></div>

		}

	</section>

} @else {

	<!-- todo this could be a component -->
	<div class="empty">
		No logs available
		<br>
		<button (click)="load()" class="btn btn-ghost">
			<svg wGlyph="refresh"></svg> Refresh
		</button>
	</div>

}
