<div class="img-thumbnail">

	<span id="close"
		*ngIf="(imageLoaded$ | async) else placeholder"
		(click)="unbindCroppie()"></span>
	<ng-template #placeholder>

		<div *ngIf="(initialized$ | async); else notInitialized"
			id="croppie-placeholder"
			(click)="fileinput.click()">
				<i class="pi pi-image" style="font-size: 24px; color: grey; margin: 5px;"></i>
				<span>Pick Image</span>
		</div>
		<ng-template #notInitialized>
			<div id="croppie-placeholder">
				<span>Initializing...</span>
			</div>
		</ng-template>

	</ng-template>
	<div #croppieDiv
		[ngStyle]="{'visibility': (imageLoaded$ | async) ? 'visible': 'hidden'}"></div>

</div>
<input #fileinput
	type="file"
	(change)="onFileSelected($event)"
	accept="image/gif, image/jpeg, image/png"
	style="display: none;">

