@import 'core/helper';
@import 'core/variables';

:host{

	@extend %flex-column;

	ul {

		flex			: 1;

	}

	li {

		padding			: var(--gap);
		border-radius	: var(--border-radius-sm);
		border-left		: 4px solid transparent;
		transition		: $bg-transition;

		&:hover {

			border-left			: 4px solid hsl(var(--col-text-secondary-hue) var(--col-text-secondary-sat) var(--col-text-secondary-lig)/var(--col-text-secondary-alp));
			background-color	: hsl(var(--col-bg-panel-hue) var(--col-bg-panel-sat) calc(var(--col-bg-panel-lig) + 10%)/var(--col-bg-panel-alp));

			a {

				text-decoration	: underline;

			}

		}

		h4 {

			margin-bottom	: 0;

		}

		h6 {

			@extend %flex-start-center;
			& > .material-symbols-outlined {

				font-size		: 1.2rem;
				color			: hsl(var(--col-text-secondary-hue) var(--col-text-secondary-sat) var(--col-text-secondary-lig)/var(--col-text-secondary-alp));

			}

		}

	}

}
