<div bookmark-wrapper *ngIf="(bookmark$ | async) as bookmark">

	<app-bookmark [item]="bookmark"></app-bookmark>
	<div bookmark-overlay></div>

</div>

<form>

		<div form-element-image>
			<app-croppie
				[wControl]="form.image"
				wType="circle"
				wClass="primary"></app-croppie>
		</div>

		<div form-element-name>
			<span class="p-float-label p-fluid">
				<input
					type="text"
					pInputText
					[ngClass]="{ 'ng-invalid ng-dirty': form.name.invalid && form.name.dirty }"
					[formControl]="form.name">
				<label>Name</label>
			</span>
		</div>

		<div form-element-url>
			<span class="p-float-label p-fluid">
				<input
					type="text"
					pInputText
					[ngClass]="{ 'ng-invalid ng-dirty': form.url.invalid && form.url.dirty }"
					[formControl]="form.url">
				<label>Url</label>
			</span>
		</div>

		<div form-element-title>
			<span class="p-float-label p-fluid">
				<input
					type="text"
					pInputText
					[ngClass]="{ 'ng-invalid ng-dirty': form.title.invalid && form.title.dirty }"
					[formControl]="form.title">
				<label>Title</label>
			</span>
		</div>

		<div form-element-tags>
			<span class="p-float-label p-fluid">
				<p-autoComplete
					#autocomplete
					[formControl]="form.tags"
					[suggestions]="(tagSuggestions$ | async) || []"
					(completeMethod)="onTagInput($event)"
					[multiple]="true"
					[baseZIndex]="10000"
					appendTo="body">
				</p-autoComplete>
				<label>Tags</label>
			</span>
		</div>

		<div form-element-buttons>
			<button pButton type="button" label="Cancel" icon="pi pi-times" iconPos="left" class="p-button-secondary"></button>
			<button pButton type="button" label="Save" icon="pi pi-save" iconPos="left" (click)="onSave()"></button>
		</div>

</form>