@import 'core/helper';
@import 'core/variables';
@import 'mixins/responsive';

:host {

	@extend %flex-column;
	gap				: var(--gap-sm);

	& > div[bookmark-wrapper] {

		min-height	: 14rem;

		& > app-bookmark {

			height					: 100%;
			--bookmark-bg-color		: hsl(var(--col-bg-panel-hue) var(--col-bg-panel-sat) calc(var(--col-bg-panel-lig) - 10%) / var(--col-bg-panel-alp));

		}

	}

	& > div[bookmark-form] {

		display				: block;
		overflow-y			: auto;
		flex				: 1;
		padding-top			: 1rem;

		& > form {

			@extend %flex-column;
			gap						: var(--gap);

			& > div[bookmark-form-left] {

				@extend %flex-column;
				& > w-croppie {

					justify-content	: center;

				}

			}

			& > div[bookmark-form-right] {

				@extend %flex-column;
				padding			: var(--gap-xs);
				gap				: var(--gap-lg);

				& > div {

					@extend %flex-row;
					gap			: var(--gap-xs);
					& :first-child {

						flex	: 1;

					}

					& .material-symbols-outlined {

						font-size	: 1.4rem;

					}

				}

			}

			@include md() {

				flex-direction	: row;

				& > div[bookmark-form-left] {

					flex		: 1;

				}

				div[bookmark-form-right] {

					flex		: 4;

				}

			}

		}

	}

	& > div[form-element-buttons] {

		@extend %flex-space-between-center;
		padding				: var(--gap-xs);

		& button:last-child {

			margin-left		: auto;

		}

	}

}
