<header class="d-flex ai-c pl-xs">

	<w-selected-tags
		class="flex-1"
		[tags]="(popularTags$ | async) ?? []"
		[selectedTags]="(selectedTags$ | async) ?? []"
		(filterClick)="emptyFilter()"
		(tagClick)="onTagClicked($event)"/>

	<button
		type="button"
		class="link"
		(click)="toggleCloud()">
		<w-glyph name="chevron_left" />
	</button>

</header>
<aside
		class="d-flex-column gap scrollable"
		[@slideUpDown]="cloudVisible ? 'opened' : 'closed'">

	<div class="d-flex-center gap-xxs mt">
		<w-input
			label="Keyword"
			[formControl]="searchControl"
			[autofocus]="cloudVisible"
			[after]="500"/>
		<button
			type="button"
			class="square small"
			(click)="onSearchReset()">
			<w-glyph name="backspace" />
		</button>
	</div>

	<w-tag-cloud
		[tags]="(tags$ | async) ?? []"
		[selectedTags]="(selectedTags$ | async) ?? []"
		[relatedTags]="(relatedTags$ | async) ?? []"
		(tagClick)="onTagClicked($event)"></w-tag-cloud>

</aside>
