<header>

	<w-selected-tags
		[tags]="popularTags$ | async"
		[selectedTags]="selectedTags$ | async"
		(filterClick)="emptyFilter()"
		(tagClick)="onTagClicked($event)"></w-selected-tags>

	<button
		type="button"
		class="link"
		(click)="toggleCloud()">
		<span class="material-symbols-outlined">chevron_left</span>
	</button>

</header>
<aside [@slideUpDown]="cloudVisible ? 'opened' : 'closed'">

	<div>
		<w-input
			label="Keyword"
			[formControl]="searchControl"
			[autofocus]="cloudVisible"
			[after]="500"/>
		<button
			type="button"
			class="square small"
			(click)="onSearchReset()">
			<span class="material-symbols-outlined">backspace</span>
		</button>
	</div>

	<w-tag-cloud
		[tags]="tags$ | async"
		[selectedTags]="selectedTags$ | async"
		[relatedTags]="relatedTags$ | async"
		(tagClick)="onTagClicked($event)"></w-tag-cloud>

</aside>
