@import 'helper';
@import 'variables';
@import 'components';

:host {

	@include mx-component;

	& > [content] {

		& > [context] {

			@incldue mx-header;

		}

		& div[definition] {

			position	: relative;
			@include mx-box($param-dark: true);
			padding		: $gap-xl $gap-xxl;

			& > [language] {

				// @include mx-d-flex-center-y;
				gap		: var(--gap-sm);

			}

			& > [schedule] {

				@include mx-footer-buttons;

			}

		}

		& img.flag {

			width	: 12px;
			height	: 9px;

		}

	}

}
