@import 'helper';
@import 'variables';
@import 'components';

:host {

	@include mx-component;

	& > [content] {

		& div[definition] {

			position	: relative;
			@include mx-box($param-dark: true);
			padding		: $gap-xl $gap-xxl;

			& > [language] {

				// @include mx-d-flex-center-y;
				gap		: var(--gap-sm);

			}

			& > [schedule] {

				position	: absolute;
				top			: 0;
				right		: 0;
				padding		: var(--gap-xxl) var(--gap-xxl);
			}

		}

		& img.flag {

			width	: 12px;
			height	: 9px;

		}

	}

}
