@if (word(); as word) {

	<h1>

		<a [routerLink]="['/words', word.id]">{{ word.name }}</a>
		@if (word.pronunciation) {

			<small>{{ word.pronunciation }}</small>

		}

	</h1>

	@for (context of word.contexts; track $index) {

		<blockquote>
			@if (word.contexts.length > 1) {

				<small>Context #{{ $index + 1 }}</small>

			} @else {

				<small>Context</small>

			}
			{{ context }}
		</blockquote>

	}

	@if (word.dictionary) {

		<p><strong>Dictionary:</strong> {{ word.dictionary }}</p>

	}

	@for (definition of word.definitions; track $index) {

		<!-- <h6 definition>Definition #{{ $index + 1}}</h6> -->
		<div definition>

			<small><img class="flag" [src]="'assets/flags/' + definition.language + '.svg'"> {{ definition.type | defType }}</small>
			<h3>{{ definition.name }}</h3>

			@for (sample of definition.samples; track $index) {

				<blockquote>
					@if (definition.samples.length > 1) {

						<small>Sample #{{ $index + 1 }}</small>

					} @else {

						<small>Sample</small>

					}
					{{ sample }}
				</blockquote>

			}

			@if (schedulable()) {

				<div schedule>
					<w-switch
						[checked]="scheduledIds().includes(definition.id)"
						(checkedChange)="onSchedule(definition, $event)"/>
				</div>

			}

		</div>

	}

}
