<app-portal outletName="portal-outlet-right">

	<button
		pButton
		pRipple
		type="button"
		label="Start"
		icon="pi pi-play"
		class="p-button-text p-button-sm"
		(click)="onStart()">
	</button>

</app-portal>

<p-messages severity="warn" *ngIf="isFirestoreConfigMissing$ | async">
    <ng-template pTemplate>
		<span>Firestore configuration missing</span>
		<button
			pButton
			pRipple
			type="button"
			label="Configure"
			class="p-button-text p-button-sm"
			routerLink="/settings">
		</button>
    </ng-template>
</p-messages>

<p-card>

	<app-sync-summary-container></app-sync-summary-container>

</p-card>