<app-portal outletName="portal-outlet-right">

	<button
		pButton
		pRipple
		type="button"
		label="Start"
		icon="pi pi-play"
		class="p-button-text p-button-sm"
		(click)="onStart()">
	</button>

</app-portal>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<!-- Edit Dialog -->
<p-dialog
	*ngIf="isConflictDialogVisible$ | async"
	[header]="conflictDialogTitle$ | async | noData:'View Conflict'"
	[draggable]="false"
	[visible]="isConflictDialogVisible$ | async"
	(visibleChange)="closeConflictDialog()"
	[closeOnEscape]="true"
	[closable]="true"
	[modal]="true"
	[dismissableMask]="true"
	[maximizable]="(isBigScreen$ | async) || false"
	styleClass="syncConflictContainerComponent">

	<app-sync-conflict-container></app-sync-conflict-container>

</p-dialog>

<p-messages severity="warn" *ngIf="isFirestoreConfigMissing$ | async">
    <ng-template pTemplate>
		<span>Firestore configuration missing</span>
		<button
			pButton
			pRipple
			type="button"
			label="Configure"
			class="p-button-text p-button-sm"
			routerLink="/settings">
		</button>
    </ng-template>
</p-messages>

<p-card>
	<app-sync-summary-container></app-sync-summary-container>
</p-card>