<div nav_menu>

	@for (item of menuItems$ | async; track $index) {

		<a	#link
			[routerLink]="item.url"
			[queryParams]="item.queryParams"
			routerLinkActive="active"
			(isActiveChange)="onRouterLinkActive($event, link)"
			[routerLinkActiveOptions]="item.routerLinkActiveOptions ?? { exact: false }">

			<div nav_item_left>
				<w-glyph name="{{item.icon}}" />
			</div>
			<div nav_item_right class="nav-item-right">

				<span label>{{ item.label }}</span>
				<div badge><span>{{ item.badge }}</span></div>

			</div>

		</a>

	}

</div>
<div bottom-buttons>

	@for (item of bottomMenuItems$ | async; track $index) {

		<a	#link
			[routerLink]="item.url"
			[queryParams]="item.queryParams"
			routerLinkActive="active"
			(isActiveChange)="onRouterLinkActive($event, link)"
			[routerLinkActiveOptions]="item.routerLinkActiveOptions ?? { exact: false }">

			<div nav_item_left>
				<w-glyph name="{{item.icon}}" />
			</div>
			<div nav_item_right class="nav-item-right">

				<span label>{{ item.label }}</span>
				<div badge><span>{{ item.badge }}</span></div>

			</div>

		</a>

	}

	<!-- CLOUD TASKS BUTTON -->
	@if ((cloudTasks$ | async); as cloudTasks) {

		<a	#link
			routerLink="/cloud"
			routerLinkActive="active"
			(isActiveChange)="onRouterLinkActive($event, link)"
			[routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
			[title]="cloudTasks.length > 0 ? cloudTasks.length + ' syncable items available' : 'Cloud'">

			<div nav_item_left class="badge-container">
				<w-glyph name="cloud_sync" />
			</div>
			<div nav_item_right class="nav-item-right">

				<span label>Cloud Sync</span>
				<div badge><span>{{ cloudTasks.length }}</span></div>

			</div>

		</a>

	}

	<!-- SWITCH THEME BUTTON -->
	<button
		class="glyph"
		(click)="onSwitchTheme()"
		title="Switch Theme">
		<w-glyph name="colors" />
	</button>

</div>
