@import 'variables';
@import 'mixins/responsive';
@import 'variables';
@import 'helper';

:host {

	@extend %flex-column;
	height			: 100%;

	& > [bottom-buttons] {

		display			: flex;
		margin-top		: auto;
    	gap				: 0.5rem;

		button.active {

			background-color	: hsl(var(--col-accent-hue) var(--col-accent-sat) var(--col-accent-lig)/var(--col-accent-alp));

		}

		& > button:last-child {

			margin-left	: auto;

		}

	}

}
