<div nav-menu>

	@for (item of menuItems$ | async; track $index) {

		<a  [routerLink]="item.url" [queryParams]="item.queryParams" routerLinkActive="active" [routerLinkActiveOptions]="item.routerLinkActiveOptions ?? { exact: false }">

			<span icon class="material-symbols-outlined">{{item.icon}}</span>
			<span label>{{ item.label }}</span>
			<div badge><span>{{ item.badge }}</span></div>

		</a>

	}

</div>
<div bottom-buttons>

	<!-- SETTINGS BUTTON -->
	<button
		class="link rounded"
		routerLink="/settings"
		routerLinkActive="active"
		[routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
		styleClass="p-button-rounded p-button-text"
		title="Settings"><span class="material-symbols-outlined">settings</span></button>

	<!-- CLOUD TASKS BUTTON -->
	@if ((cloudTasks$ | async); as cloudTasks) {

		<button
			class="link rounded badge-container"
			routerLink="/cloud"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
			[title]="cloudTasks.length > 0 ? cloudTasks.length + ' syncable items available' : 'Cloud'">
			<span class="material-symbols-outlined">cloud_sync</span>
			@if (cloudTasks.length > 0) {
				<span class="badge">{{cloudTasks.length}}</span>
			}
		</button>

	}

	<!-- DATABASE BUTTON -->
	<button
		class="link rounded"
		routerLink="/database"
		routerLinkActive="active"
		[routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
		title="Database"><span class="material-symbols-outlined">database</span></button>

	<!-- LOGS BUTTON -->
	<button
		class="link rounded"
		routerLink="/logs"
		routerLinkActive="active"
		[routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
		title="View Logs"><span class="material-symbols-outlined">history</span></button>

	<!-- SWITCH THEME BUTTON -->
	<button
		class="link rounded"
		(click)="onSwitchTheme()"
		title="Switch Theme"><span class="material-symbols-outlined">colors</span></button>

</div>
