@import 'variables';
@import 'components';
@import 'variables';
@import 'helper';

$_nav-menu-gap				: $nav-gap;
$_nav-menu-row-height		: $nav-half-width - 2 * $_nav-menu-gap;
$_nav-menu-1st-col-width	: $nav-half-width - 2 * $_nav-menu-gap;

:host {

	@include mx-d-flex-column;

	padding		: $nav-gap;
	gap			: $nav-gap;

	div[nav_menu] {

		@include mx-d-grid;
		grid-auto-rows	: $_nav-menu-row-height;
		gap				: $_nav-menu-gap;

		& > a {

			--nav-label-underline-width	: 0;
			--nav-label-font-weight		: normal;

			position					: relative;
			@include mx-d-flex;

			height				: $nav-row-height;
			border-radius		: $border-radius-lg;
			text-decoration		: none;

			& > [nav_item_left] {

				@include mx-d-flex-center;
				min-width		: $nav-row-height;



			}

			& > [nav_item_right] {

				position		: absolute;
				@include mx-d-flex-ai-center;

				padding			: 0px;
				left			: $nav-row-height + $nav-gap;
				height			: $nav-row-height;
				width			: $nav-full-width - $nav-half-width - $nav-gap;

				& > [label] {

					font-weight		: var(--nav-label-font-weight);

					&::after {

						content: '';
						width		: 0px;
						height		: 2px;
						display		: block;
						background	: fn-var($col-accent);
						transition	: $transition-duration-short;
						width		: var(--nav-label-underline-width);

					}

				}

			}

			&:not(.active) {

				&:hover {

					--nav-label-underline-width : 100%;
					background-color			: fn-var($col-btn-glyph-color-hover);

				}

				&:active {

					--nav-label-underline-width : 100%;
					background-color			: fn-var($col-btn-glyph-color-active);

				}

			}

			&:focus-visible {

				--nav-label-underline-width : 100%;
				@include mx-outline;

			}

			&.active {

				--nav-label-font-weight	: bold;
				& :is(#{$glyph-selector}) {

					background-color	: fn-var($col-accent);
					border-radius		: $border-radius-round;
					padding				: $gap-lg;

				}

			}

		}

	}

}
