@import 'variables';
@import 'components';
@import 'variables';
@import 'helper';

$_nav-menu-gap				: $gap;
$_nav-menu-row-height		: 4rem;
$_nav-menu-1st-col-width	: $nav-half-width - 2 * $_nav-menu-gap;

:host {

	@include mx-d-flex-column;

	div[nav_menu] {

		@include mx-d-grid;
		grid-auto-rows	: $_nav-menu-row-height;
		padding			: $gap;
		gap				: $gap-xl;

		& > a {

			--nav-color					: #{fn-var($col-text-secondary)};
			--nav-label-font-weight		: normal;
			--nav-left-bg-color			: #{fn-var($col-transparent)};
			--nav-right-color			: #{fn-var($col-text-secondary)};

			position					: relative;
			@include mx-d-grid;
			grid-template-columns		: $_nav-menu-1st-col-width;

			color						: var(--nav-color);
			border-radius				: $border-radius-lg;
			text-decoration				: none;

			outline-offset				: 1px;

			& > [nav_item_left] {

				@include mx-d-flex-center;
				color			: var(--nav-right-color);
				border-radius	: $border-radius-lg;
				@include mx-transition-short(color background-color box-shadow);

				& > #{$glyph-selector} {

					background-color	: var(--nav-left-bg-color);
					border-radius		: $border-radius-round;
					padding				: $gap;

				}

			}

			& > [nav_item_right] {

				position		: absolute; // <-- todo not needed anymore
				@include mx-d-flex-ai-center;

				padding			: 0px;
				padding-top		: 0.4rem;
				left			: $nav-row-height - $_nav-menu-gap;
				height			: $_nav-menu-1st-col-width;
				width			: $nav-full-width - $nav-half-width - $_nav-menu-gap;

				& > [label],
				& > [badge],
				& > [badge] > span {

					color		: var(--nav-right-color);
					font-weight	: var(--nav-label-font-weight);
					@include mx-transition-short(color);

				}

			}

			&:not(.active):hover {

				--nav-color				: #{fn-var($col-text)};
				--nav-left-bg-color		: #{fn-var($col-hover)};
				--nav-right-color		: #{fn-var($col-text)};

			}

			&:focus-visible {

				--nav-right-color	: #{fn-var($col-text)};
				@include mx-outline;

			}

			&.active {

				--nav-color				: #{fn-var($col-text)};
				--nav-label-font-weight	: bold;
				--nav-left-bg-color		: #{fn-var($col-accent)};
				--nav-right-color		: #{fn-var($col-text)};

			}

		}

	}

	& > [bottom-buttons] {

		@include mx-d-flex-column;
		// grid-auto-rows	: $_nav-menu-row-height;
		padding			: $gap;
		gap				: $gap-xl;
		margin-top	: auto;

	}

}
