<div wrapper>
tab view here
	<!-- <p-tabView [scrollable]="true">

		<p-tabPanel header="SyncData">
			<code>
				SyncData:
				<pre>{{ syncData | json | noData }}</pre>

				RemoteMetadata:
				<pre>{{ remoteMetadata | json | noData }}</pre>
			</code>
		</p-tabPanel>

		<p-tabPanel header="Local Entity" [disabled]="!entity" #entityPanel>
			<code>
				<pre>{{ entity | json | noData:'No Entity'}}</pre>
			</code>
		</p-tabPanel>

		<p-tabPanel header="Remote Entity">
			<code>
				<pre>{{ remoteData | json | noData:'Not loaded' }}</pre>
				<button *ngIf="!remoteData" pButton type="button" label="Download" class="p-button" icon="pi pi-cloud-download" iconPos="left" (click)="onLoadRemote()"></button>
			</code>
		</p-tabPanel>

		<p-tabPanel header="Trash Item" [disabled]="!trashItem">
			<code>
				<pre>{{ trashItem | json | noData:'No entity found in trash' }}</pre>
			</code>
		</p-tabPanel>

	</p-tabView> -->

</div>

<div buttons>
	<!-- <button pButton type="button" label="Delete Local" class="p-button-danger" icon="pi pi-trash" iconPos="left" (click)="onDeleteLocal()"></button> -->
	<button pButton type="button" label="Override Local" class="p-button-warn" icon="pi pi-cloud-download" iconPos="left" (click)="onOverrideLocal()" [disabled]="!remoteData"></button>
	<!-- <button pButton type="button" label="Delete Remote" class="p-button-danger" icon="pi pi-trash" iconPos="left" (click)="onDeleteRemote()" [disabled]="!remoteData"></button> -->
	<button pButton type="button" label="Override Remote" class="p-button-warn" icon="pi pi-cloud-upload" iconPos="left" (click)="onOverrideRemote()" [disabled]="!entity"></button>
</div>