@layer base {

	[data-theme="theme-aqua"] {

		// --col-black				: hsl(0deg 0% 0%);
		// --col-white				: hsl(0deg 0% 100%);
		// --col-transparent		: hsl(0deg 0% 0% / 0);

 		--col-text				: hsl(210, 15%, 92%);
 		--col-text-secondary	: hsl(0, 0%, 50%);
 		--col-disabled-text		: hsl(210deg 14% 45%);
 		--col-disabled			: hsl(210deg 44% 18%);

 		--col-accent			: hsl(32deg 80% 40%);
 		--col-accent-text		: hsl(32deg 80% 48%);
 		--col-accent-hover		: hsl(from var(--col-accent) h s calc(l* 1.15));
 		--col-accent-active		: hsl(from var(--col-accent) h s calc(l* 1.2));

		--col-focus				: hsl(254deg 46% 50%);
		--col-outline			: hsl(254deg 46% 60%);

		--col-primary			: hsl(201deg 100% 28%);
		--col-primary-text		: var(--col-text);
		--col-primary-hover		: hsl(from var(--col-primary) h s calc(l* 1.15));
		--col-primary-active	: hsl(from var(--col-primary) h s calc(l* 1.2));
		--col-primary-border	: hsl(from var(--col-primary) h s calc(l* .9));

		--col-success			: hsl(132deg 52% 22%);
		--col-success-text		: var(--col-text);
		--col-success-hover		: hsl(from var(--col-success) h s calc(l* 1.1));
		--col-success-active	: hsl(from var(--col-success) h s calc(l* 1.15));
		--col-success-border	: hsl(from var(--col-success) h s calc(l* .9));

		--col-info				: hsl(274deg 45% 37%);
		--col-info-text			: var(--col-text);
		--col-info-hover		: hsl(from var(--col-info) h s calc(l* 1.1));
		--col-info-active		: hsl(from var(--col-info) h s calc(l* 1.15));
		--col-info-border		: hsl(from var(--col-info) h s calc(l* .9));

		--col-warn				: hsl(31deg 100% 35%);
		--col-warn-text			: var(--col-text);
		--col-warn-hover		: hsl(from var(--col-warn) h s calc(l* 1.1));
		--col-warn-active		: hsl(from var(--col-warn) h s calc(l* 1.15));
		--col-warn-border		: hsl(from var(--col-warn) h s calc(l* .9));

		--col-error				: hsl(0deg 66% 35%);
		--col-error-text		: var(--col-text);
		--col-error-hover		: hsl(from var(--col-error) h s calc(l* 1.1));
		--col-error-active		: hsl(from var(--col-error) h s calc(l* 1.15));
		--col-error-border		: hsl(from var(--col-error) h s calc(l* .9));

		--col-ghost				: var(--col-transparent);
		--col-ghost-text		: var(--col-text);
		--col-ghost-hover		: hsl(from var(--col-white) h s calc(l* 1.1) / .1);
		--col-ghost-active		: hsl(from var(--col-white) h s calc(l* 1.1) / .2);
		--col-ghost-border		: var(--col-transparent);

		--col-bg-header			: hsl(218deg 53% 22%);
		--col-bg-nav			: hsl(218deg 53% 24%);
		--col-bg-popup			: hsl(218deg 53% 32%);
		--col-bg-page			: hsl(218deg 53% 80%);

		--col-bg-component				: hsl(218deg 53% 30%);
		--col-bg-component-hover		: hsl(218deg 53% 29%);
		--col-bg-component-active		: hsl(218deg 53% 30%);

		--col-bg-component-dark			: hsl(218deg 53% 25%);
		--col-bg-component-dark-hover	: hsl(218deg 53% 25%);
		--col-bg-component-dark-active	: hsl(218deg 53% 26%);

		--col-form-element			: hsl(218deg 53% 26%);
		--col-form-element-text		: var(--col-text);
		--col-form-element-hover	: hsl(from var(--col-form-element) h s calc(l* 1.1));
		--col-form-element-active	: hsl(from var(--col-form-element) h s calc(l* 1.15));
		--col-form-element-border	: hsl(from var(--col-form-element) h s calc(l* .8));

		--col-progress				: var(--col-error);
		--col-progress-bg			: hsl(from var(--col-progress) h s l / .3);

		--col-bg-overlay			: hsl(from var(--col-black) h s l / .3);
		--col-shadow				: var(--col-bg-header);

		--col-scrollbar-thumb		: hsl(from var(--col-bg-component-dark) h s l / .7);
		--col-scrollbar-track		: var(--col-transparent);

		--col-scrollbar-thumb-dark	: var(--col-bg-component-dark);
		--col-scrollbar-track-dark	: var(--col-transparent);

		--col-scrollbar-thumb-blue	: var(--col-accent);
		--col-scrollbar-track-blue	: var(--col-transparent);

	}

}
