@import 'theme-mixins';
:root {

	--col-bg-header			: hsl(var(--gray-12-hsl));
	--col-bg-nav			: hsl(var(--gray-11-hsl));
	--col-bg-popup			: hsl(var(--gray-10-hsl));
	--col-bg-component		: hsl(var(--gray-9-hsl));
	--col-bg-component-dark	: #{fn-darken(var(--col-bg-component), 30%)};
	--col-bg-form-element	: hsl(var(--gray-7-hsl));
	--col-bg-page			: hsl(var(--gray-7-hsl));

	--col-bg-overlay		: hsl(var(--gray-12-hsl) / 75%);

	--col-text				: hsl(var(--gray-4-hsl));
	--col-text-secondary	: hsl(var(--gray-5-hsl));

	--col-primary			: hsl(var(--blue-11-hsl));
	--col-success			: hsl(var(--green-11-hsl));
	--col-info				: hsl(var(--blue-4-hsl));
	--col-warn				: hsl(var(--orange-6-hsl));
	--col-error				: hsl(var(--red-12-hsl));

	--col-accent			: hsl(var(--indigo-8-hsl));
	--col-focus				: hsl(var(--orange-6-hsl));

	--col-disabled			: hsl(var(--gray-7-hsl));

	--col-btn-default-text-color		: var(--col-text);
	--col-btn-default-bg-color			: var(--col-primary);
	--col-btn-default-bg-color-hover	: #{fn-darken(var(--col-btn-default-bg-color), 10%)};
	--col-btn-default-bg-color-active	: #{fn-darken(var(--col-btn-default-bg-color), 15%)};
	--col-btn-default-border-color		: #{fn-darken(var(--col-btn-default-bg-color), 15%)};

	--col-btn-disabled-bg-color			: var(--col-disabled);
	--col-btn-disabled-text-color		: #{fn-lighten(var(--col-btn-disabled-bg-color), 30%)};
	--col-btn-disabled-bg-color-hover	: #{fn-darken(var(--col-btn-disabled-bg-color), 10%)};
	--col-btn-disabled-bg-color-active	: #{fn-darken(var(--col-btn-disabled-bg-color), 15%)};
	--col-btn-disabled-border-color		: #{fn-darken(var(--col-btn-disabled-bg-color), 15%)};

	--col-btn-link-text-color			: var(--col-text);
	--col-btn-link-bg-color				: transparent;
	--col-btn-link-bg-color-hover		: #{fn-darken(var(--col-btn-link-text-color), 40%, 40%)};
	--col-btn-link-bg-color-active		: #{fn-darken(var(--col-btn-link-text-color), 40%)};
	--col-btn-link-border-color			: transparent;

	--col-btn-danger-text-color			: var(--col-text);
	--col-btn-danger-bg-color			: var(--col-error);
	--col-btn-danger-bg-color-hover		: #{fn-darken(var(--col-btn-danger-bg-color), 10%)};
	--col-btn-danger-bg-color-active	: #{fn-darken(var(--col-btn-danger-bg-color), 15%)};
	--col-btn-danger-border-color		: #{fn-darken(var(--col-btn-danger-bg-color), 15%)};

}
