:root {

	// --col-accent
	--col-accent-hue			: 200deg;
	--col-accent-sat			: 85%;
	--col-accent-lig			: 34%;
	--col-accent-alp			: 1;

	// --col-text
	--col-text-hue				: 210deg;
	--col-text-sat				: 26%;
	--col-text-lig				: 84%;
	--col-text-alp				: 1;

	// --col-text-secondary
	--col-text-secondary-hue	: 0deg;
	--col-text-secondary-sat	: 0%;
	--col-text-secondary-lig	: 64%;
	--col-text-secondary-alp	: 1;

	/*************
	* BACKGROUND *
	**************/

	// bg 0 (<body> bg)
	--col-bg-0-hue				: 210deg;
	--col-bg-0-sat				: 11%;
	--col-bg-0-lig				: 33%;
	--col-bg-0-alp				: 1;

	// bg 1 (<input>, <textarea> bg)
	--col-bg-1-hue				: 210deg;
	--col-bg-1-sat				: 11%;
	--col-bg-1-lig				: 42%;
	--col-bg-1-alp				: 1;

	// bg 2
	--col-bg-2-hue				: 210deg;
	--col-bg-2-sat				: 11%;
	--col-bg-2-lig				: 20%;
	--col-bg-2-alp				: 1;

	// bg 3 (<card>, bookmark, ..)
	--col-bg-3-hue				: 210deg;
	--col-bg-3-sat				: 11%;
	--col-bg-3-lig				: 13%;
	--col-bg-3-alp				: 1;

	// bg 4 (popup menu)
	--col-bg-4-hue				: 210deg;
	--col-bg-4-sat				: 11%;
	--col-bg-4-lig				: 11%;
	--col-bg-4-alp				: 1;

	// bg 5 (<nav> bg)
	--col-bg-5-hue				: 210deg;
	--col-bg-5-sat				: 11%;
	--col-bg-5-lig				: 9%;
	--col-bg-5-alp				: 1;

	// bg 6 (<head> bg)
	--col-bg-6-hue				: 210deg;
	--col-bg-6-sat				: 11%;
	--col-bg-6-lig				: 7%;
	--col-bg-6-alp				: 1;


	// default button
	--col-button-bg-hue			: 215deg;
	--col-button-bg-sat			: 65%;
	--col-button-bg-lig			: 30%;
	--col-button-bg-alp			: 1;

	// --col-primary
	--col-primary-hue			: 215deg;
	--col-primary-sat			: 65%;
	--col-primary-lig			: 45%;
	--col-primary-alp			: 1;

	// --col-success
	--col-success-hue			: 120deg;
	--col-success-sat			: 25%;
	--col-success-lig			: 40%;
	--col-success-alp			: 1;

	// --col-info
	--col-info-hue				: 262deg;
	--col-info-sat				: 89%;
	--col-info-lig				: 71%;
	--col-info-alp				: 1;

	// --col-warn
	--col-warn-hue				: 26deg;
	--col-warn-sat				: 65%;
	--col-warn-lig				: 38%;
	--col-warn-alp				: 1;

	// --col-error
	--col-error-hue				: 355deg;
	--col-error-sat				: 54%;
	--col-error-lig				: 32%;
	--col-error-alp				: 1;

	// overlay
	--col-bg-overlay			: hsl(0deg 0% 0% / 75%);

	// --focus
	--col-focus-hue				: 36;
	--col-focus-sat				: 70%;
	--col-focus-lig				: 40%;
	--col-focus-alp				: 1;

}
