body.light {

	// --col-accent
	--col-accent-hue			: 32deg;
	--col-accent-sat			: 52%;
	--col-accent-lig			: 50%;
	--col-accent-alp			: 1;

	// --col-bg-body
	--col-bg-body-hue			: 208deg;
	--col-bg-body-sat			: 25%;
	--col-bg-body-lig			: 80%;
	--col-bg-body-alp			: 1;

	// --col-bg-header
	--col-bg-header-hue			: 208deg;
	--col-bg-header-sat			: 25%;
	--col-bg-header-lig			: 50%;
	--col-bg-header-alp			: 1;

	//--col-bg-nav
	--col-bg-nav-hue			: 208deg;
	--col-bg-nav-sat			: 25%;
	--col-bg-nav-lig			: 60%;
	--col-bg-nav-alp			: 1;

	//--col-bg-panel
	--col-bg-panel-hue			: 208deg;
	--col-bg-panel-sat			: 20%;
	--col-bg-panel-lig			: 50%;
	--col-bg-panel-alp			: 1;

	// --col-bg-input
	--col-bg-input-hue			: 208deg;
	--col-bg-input-sat			: 25%;
	--col-bg-input-lig			: 70%;
	--col-bg-input-alp			: 1;

	// --col-text
	--col-text-hue				: 240deg;
	--col-text-sat				: 4%;
	--col-text-lig				: 91%;
	--col-text-alp				: 1;

	// --col-text-secondary
	--col-text-secondary-hue	: 208deg;
	--col-text-secondary-sat	: 20%;
	--col-text-secondary-lig	: 43%;
	--col-text-secondary-alp	: 1;

	// overlay
	--col-bg-overlay		: hsl(0deg 0% 15% / 60%);

	// --col-primary
	--col-primary-hue			: 207deg;
	--col-primary-sat			: 90%;
	--col-primary-lig			: 75%;
	--col-primary-alp			: 1;

	// --col-success
	--col-success-hue			: 120deg;
	--col-success-sat			: 25%;
	--col-success-lig			: 40%;
	--col-success-alp			: 1;

	// --col-info
	--col-info-hue				: 202deg;
	--col-info-sat				: 25%;
	--col-info-lig				: 40%;
	--col-info-alp				: 1;

	// --col-warn
	--col-warn-hue				: 27deg;
	--col-warn-sat				: 45%;
	--col-warn-lig				: 55%;
	--col-warn-alp				: 1;

	// --col-error
	--col-error-hue				: 0deg;
	--col-error-sat				: 25%;
	--col-error-lig				: 40%;
	--col-error-alp				: 1;

	// --focus
	--col-focus-hue				: 36;
	--col-focus-sat				: 95%;
	--col-focus-lig				: 40%;
	--col-focus-alp				: 1;

}
