// @import 'helper';
// @import 'variables';
// @import 'components';
// @import 'mixins';

// @keyframes fadein {

// 	from { opacity: 0; }
// 	to { opacity: 1; }

// }

// @keyframes fadeOut {

// 	from { opacity: 1; }
// 	to { opacity: 0; }

// }

// :host {

// 	&.outgoing {

// 		--col-text-alp : 0;
// 		animation	: fadeOut 1200ms;

// 	}

// 	&.incoming {

// 		animation	: fadein 1200ms;

// 	}

// 	& > figure {

// 		overflow	: hidden;
// 		color		: var(--col-text);
// 		@include mx-transition(color);

// 		& > blockquote {

// 			& > pre {

// 				font-family		: inherit;
// 				font-weight		: bold;
// 				font-style		: italic;
// 				font-size		: var(--font-size-h4);
// 				text-align		: center;
// 				background		: none;

// 			}

// 		}

// 		& > figcaption {

// 			& > [quote_author] {

// 				text-align	: end;
// 				font-size	: smaller;

// 				&:empty { padding: 0; }

// 			}

// 			& > [quote_context] {

// 				text-align	: end;
// 				font-size	: xx-small;

// 				&:empty { padding: 0; }

// 			}

// 		}

// 	}

// }
