@import 'variables';
@import 'helper';
@import 'components';

@keyframes fadein {

	from { opacity: 0; }
	to { opacity: 1; }

}

@keyframes fadeOut {

	from { opacity: 1; }
	to { opacity: 0; }

}

:host {

	&.outgoing {

		--col-text-alp : 0;
		animation	: fadeOut 1200ms;

	}

	&.incoming {

		animation	: fadein 1200ms;

	}

	& > figure {

		overflow	: hidden;
		color		: fn-var($col-text);
		@include mx-transition(color);

		& > blockquote {

			@include mx-d-flex-center;
			flex		: 1;
			border-left	: 0;
			margin		: 0;
			border		: 0;

			& > pre {

				margin-bottom	: 0;
				font-family		: inherit;
				font-weight		: bold;
				font-style		: italic;
				font-size		: $font-size-h4;
				text-align		: center;
				text-wrap		: wrap;
				background		: none;

			}

		}

		& > figcaption {

			& > [quote_author] {

				text-align	: end;
				font-size	: smaller;

				&:empty { padding: 0; }

			}

			& > [quote_context] {

				text-align	: end;
				font-size	: xx-small;

				&:empty { padding: 0; }

			}

		}

	}

}
