@import 'core/helper';
@import 'core/variables';

:host {

	@extend %flex-column;

	& h5 {

		color			: hsl(var(--col-text-secondary-hue) var(--col-text-secondary-sat) var(--col-text-secondary-lig) / var(--col-text-secondary-alp));
		font-weight		: bold;
		margin-bottom	: var(--gap-sm);

	}

	// div[note-header] {

	// 	@extend %flex-column;
	// 	gap			: var(--gap-sm);

	// 	h2 {

	// 		margin-left		: var(--gap-sm);
	// 		margin-right	: var(--gap-sm);

	// 	}

	// }

	// div[note-body] {

	// 	flex		: 1;
	// 	@extend %flex-column;
	// 	padding		: var(--gap-sm);
	// 	gap			: var(--gap);

	// 	div[note-children] {

	// 		margin-top		: var(--gap);

	// 	}

	// }

	div[note-tags] {

		@extend %flex-center-end;
		gap			: var(--gap-xxs);

	}

}
