<w-portal>

	<button
		class="ghost"
		routerLink="components"
		data-after="Components">
		<span class="material-symbols-outlined">grid_view</span>
	</button>

</w-portal>

@if (updateAvailable$ | async) {

	<w-toast class="warn" [conf]="{ severity: 'info' }">

		<div update_alert>

			<span>Update available</span>
			<button class="link" (click)="onUpdateApp()">
				<span class="material-symbols-outlined">update</span> Update
			</button>

		</div>

	</w-toast>

}
<!-- <app-quote-settings-container/> -->
<app-firestore-config-container/>
<app-title-lookup-config-container/>
<app-pinned-notes-form-container/>
<app-popular-bookmarks-form-container/>
<div version_info>

	<small>v{{ builtVersion }} (#{{ builtNumber }}) {{ builtTime | date:'dd.MM.yyyy HH:mm:ss' }}</small>

</div>
