<w-portal>

	<button
		class="ghost"
		routerLink="components"
		data-after="Components">
		<w-glyph name="grid_view" />
	</button>

</w-portal>

@if (updateAvailable$ | async) {

	<w-alert severity="warn">

		<span>Update available</span>
		<button class="ghost" (click)="onUpdateApp()" data-after="Update">
			<w-glyph name="update" />
		</button>

	</w-alert>

}
<!-- <app-quote-settings-container/> -->
<app-firestore-config-container/>
<app-title-lookup-config-container/>
<app-pinned-notes-form-container/>
<app-popular-bookmarks-form-container/>
<div version_info>

	<small>v{{ builtVersion }} (#{{ builtNumber }}) {{ builtTime | date:'dd.MM.yyyy HH:mm:ss' }}</small>

</div>
