@if (updateAvailable$ | async) {

	<w-toast class="warn" [conf]="{ severity: 'info' }">

		<div update-alert>

			<span>Update available</span>
			<button class="icon-only" (click)="onUpdateApp()">
				<span class="material-symbols-outlined">update</span> Update
			</button>

		</div>

	</w-toast>

}
<app-firestore-config-container></app-firestore-config-container>
<app-title-lookup-config-container></app-title-lookup-config-container>
<div version_info>

	<small>v{{ builtVersion }} (#{{ builtNumber }}) {{ builtTime | date:'dd.MM.yyyy HH:mm:ss' }}</small>

</div>
