@if (learning(); as learning) {

	<div learning_title_wrapper>

		<a	class="d-flex ai-c p-xs gap-xxs transition-bg"
			[routerLink]="['/learning']" tabindex="0">
			<w-glyph name="task_alt" />
			<span>Learning</span>
		</a>

		<!-- learning_title -->
		<div class="d-flex ai-sb jc-c h1">

			{{ learning.name }}

			<button
				class="link"
				(click)="onToggleInfo()"
				title="Toggle Info Panel">
				<w-glyph name="info" />
			</button>

		</div>

		<!-- learning_info -->
		<div
			class="d-flex-column gap-sm overflow-h"
			[@slideDown]="expanded()">

			<div row class="box dark p-lg mt">

				<small>ID</small>
				<div>{{ learning.id }}</div>

			</div>

			<div row>

				<small>Description</small>
				<div>{{ learning.description }}</div>

			</div>

			<div row>

				<small>Status</small>
				<div>{{ LearningStatusLabels[learning.status] }}</div>

			</div>

			<div row start_end_row class="d-flex gap-sm">

				<div class="w-50">

					<small>Start : {{ learning.start | timePast:false }}</small>
					<div>{{ learning.start | date:'EEEE dd.MM.yyyy' }}</div>

				</div>
				<div class="w-50">

					<small>End</small>
					<div>{{ learning.end | date:'EEEE dd.MM.yyyy' }}</div>

				</div>

			</div>

		</div>

	</div>



} @else {

	<div class="card darker">

		<div class="empty">

			<span class="empty-message"><w-glyph name="check_circle" />&nbsp;No learning available</span>
			<button
				class="link"
				[routerLink]="['/learning', 'new' ]">
				<w-glyph name="add_task" /> Add Learning
			</button>

		</div>

	</div>

}
