@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	@extend %flex-column;
	margin-top		: 2rem;

	& > fieldset {

		@include mx-card;
		@include mx-flex-column;
		position			: relative;
		padding-top			: calc(var(--gap-xl) + var(--gap-xxl));

		& > legend {

			position			: absolute;
			display				: flex;
			align-items			: center;

			gap					: var(--gap-xs);

			top					: -2rem;
			left				: 0rem;

			padding				: var(--gap);
			margin-left			: var(--gap);

			border				: none;
			background-color	: fn-hsl(bg-3);
			border-radius		: var(--border-radius);
			transition			: $bg-transition;

		}

		& > main {

			@include mx-scrollable;

			& > div {

				margin-bottom	: var(--gap-xl);

			}

		}

		& > footer {

			@include mx-flex-end-center;
			padding			: var(--gap-sm);

		}

	}

}
