<fieldset>

	<legend>

		<ng-container [ngSwitch]="task.entity.name">

			<!-- Bookmarks -->
			<ng-container *ngSwitchCase="WolfEntity.bookmark.name">
				<span class="material-symbols-outlined">bookmarks</span>
				<span> Bookmarks</span>
			</ng-container>

			<!-- Notes -->
			<ng-container *ngSwitchCase="WolfEntity.note.name">
				<span class="material-symbols-outlined">note_stack</span>
				<span> Notes</span>
			</ng-container>

			<!-- Notes Content -->
			<ng-container *ngSwitchCase="WolfEntity.note_content.name">
				<span class="material-symbols-outlined">note_stack</span>
				<span> Note Content</span>
			</ng-container>

			<!-- Words -->
			<ng-container *ngSwitchCase="WolfEntity.word.name">
				<span class="material-symbols-outlined">dictionary</span>
				<span> Words</span>
			</ng-container>

			<!-- Quotes -->
			<ng-container *ngSwitchCase="WolfEntity.quote.name">
				<span class="material-symbols-outlined">format_quote</span>
				<span> Quotes</span>
			</ng-container>

			<!-- UNKNOWN CASE -->
			<ng-container *ngSwitchDefault>
				<span class="material-symbols-outlined">help</span>
				<span> UNKNOWN</span>
			</ng-container>

		</ng-container>

	</legend>

	<header>

		<div card_title>

			@switch (task.type) {

				@case (CloudTaskType.local_new)			{ {{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} created }
				@case (CloudTaskType.local_updated) 	{ {{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} updated }
				@case (CloudTaskType.local_deleted) 	{ {{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} deleted }
				@case (CloudTaskType.clicked)			{ {{ task.items.length }} {{ task.items.length > 1 ? 'bookmarks' : 'bookmark' }} clicked }
				@case (CloudTaskType.remote_new)		{ {{ task.items.length }} new {{ task.items.length > 1 ? 'items' : 'item' }} on server }
				@case (CloudTaskType.remote_updated)	{ {{ task.items.length }} updated {{ task.items.length > 1 ? 'items' : 'item' }} on server }
				@case (CloudTaskType.remote_deleted)	{ {{ task.items.length }} deleted {{ task.items.length > 1 ? 'items' : 'item' }} on server }
				@case (CloudTaskType.updated_updated)	{ Conflict: {{ task.items.length }} updated {{ task.items.length > 1 ? 'items' : 'item' }} locally and on server }
				@case (CloudTaskType.deleted_deleted)	{ {{ task.items.length }} deleted {{ task.items.length > 1 ? 'items' : 'item' }} locally and on server  }
				@case (CloudTaskType.updated_deleted)	{ Conflict: {{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} updated locally, deleted on server }
				@case (CloudTaskType.deleted_updated)	{ Conflict: {{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} deleted locally, updated on server }

			}

		</div>

	</header>

	<!-- CONTENT -->
	<main>

		@for (item of task.items; track item.id) {

			<div>
				<small>{{ item.id }}</small>
				<span>{{ item.name }}</span>
			</div>

		}

	</main>

	<!-- FOOTER -->
	<footer>

		@switch (actionType) {

			@case ('upload') {

				<button type="button" (click)="onActionClicked()"><span class="material-symbols-outlined">cloud_upload</span> Upload</button>

			}

			@case ('download') {

				<button type="button" (click)="onActionClicked()"><span class="material-symbols-outlined">cloud_download</span> Download</button>

			}

			@case ('view') {

				<button type="button" class="error" (click)="onActionClicked()"><span class="material-symbols-outlined">troubleshoot</span> View</button>

			}

		}

	</footer>

</fieldset>
