<fieldset>

	<legend>

		<ng-container [ngSwitch]="task.entity.name">

			<!-- Bookmarks -->
			<ng-container *ngSwitchCase="WolfEntity.bookmark.name">
				<span class="material-symbols-outlined">bookmarks</span>
				<span> Bookmarks</span>
			</ng-container>

			<!-- Bookmarks -->
			<ng-container *ngSwitchCase="WolfEntity.note.name">
				<span class="material-symbols-outlined">note_stack</span>
				<span> Notes</span>
			</ng-container>

			<!-- Notes Content -->
			<ng-container *ngSwitchCase="WolfEntity.note_content.name">
				<span class="material-symbols-outlined">note_stack</span>
				<span> Note Content</span>
			</ng-container>

			<!-- UNKNOWN CASE -->
			<ng-container *ngSwitchDefault>
				<span class="material-symbols-outlined">help</span>
				<span> UNKNOWN</span>
			</ng-container>

		</ng-container>

	</legend>

	<!-- CONTENT -->
	<main>

		<h5 [ngSwitch]="task.type">

			<ng-container *ngSwitchCase="CloudTaskType.local_new">{{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} created</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.local_updated">{{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} updated</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.local_deleted">{{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} deleted</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.clicked">{{ task.items.length }} {{ task.items.length > 1 ? 'bookmarks' : 'bookmark' }} clicked</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.remote_new">{{ task.items.length }} new {{ task.items.length > 1 ? 'items' : 'item' }} on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.remote_updated">{{ task.items.length }} updated {{ task.items.length > 1 ? 'items' : 'item' }} on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.remote_deleted">{{ task.items.length }} deleted {{ task.items.length > 1 ? 'items' : 'item' }} on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.updated_updated">Conflict: {{ task.items.length }} updated {{ task.items.length > 1 ? 'items' : 'item' }} locally and on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.deleted_deleted">{{ task.items.length }} deleted {{ task.items.length > 1 ? 'items' : 'item' }} locally and on server </ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.updated_deleted">Conflict: {{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} updated locally, deleted on server</ng-container>
			<ng-container *ngSwitchCase="CloudTaskType.deleted_updated">Conflict: {{ task.items.length }} {{ task.items.length > 1 ? 'items' : 'item' }} deleted locally, updated on server</ng-container>

		</h5>

		<div task_details>

			<ng-container *ngFor="let item of task.items">

				<span>{{ item.id }}</span>
				<h4>{{ item.name }}</h4>

			</ng-container>

		</div>

	</main>

	<!-- FOOTER -->
	<footer>

		<ng-container [ngSwitch]="actionType">

			<button *ngSwitchCase="'upload'"   type="button" (click)="onActionClicked()"><span class="material-symbols-outlined">cloud_upload</span> Upload</button>
			<button *ngSwitchCase="'download'" type="button" (click)="onActionClicked()"><span class="material-symbols-outlined">cloud_download</span> Download</button>
			<button *ngSwitchCase="'view'"     type="button" (click)="onActionClicked()"><span class="material-symbols-outlined">eye</span> View</button>

		</ng-container>

	</footer>

</fieldset>
