@import 'variables';
@import 'helper';
@import 'components';
@import 'html';

:host {

	@include mx-component;

	form {

		& > div {

			display			: flex;
			flex-direction	: row;
			gap				: var(--gap-xs);
			& :first-child {

				flex	: 1;

			}

			& .material-symbols-outlined {

				font-size	: 1.4rem;

			}

		}

		& div[context] {

			@include mx-d-flex;
			gap: $gap;

			& *:first-child {

				flex	: 1;

			}

		}

		& > fieldset {

			@include mx-fieldset($param-dark: true);
			position	: relative;

			& > button {

				position		: absolute;
				top				: -3rem;
				right			: 0;

			}

			& div[definition] {

				@include mx-form;
				// grid-template-columns	: 1fr 1fr;
				// grid-gap				: var(--gap-sm);

				// & div:first-child,
				// & div[language]
				// & div[sample] {

				// 	grid-column: span 2;

				// }

				& div[language] {

					@include mx-d-flex;
					gap: $gap;

					& > :nth-child(2) {

						flex		: 1;

					}

				}

				& div[sample] {

					@include mx-d-flex;
					gap: $gap;

					& *:first-child {

						flex	: 1;

					}

				}

			}

		}

	}

	& [add_button] {

		margin-left	: auto;

	}

}
