@import 'variables';
@import 'helper';
@import 'components';
@import 'html/form';

:host {

	@include mx-component;

	form {

		& > div {

			@include mx-d-flex;
			gap	: $gap-xs;
			& :first-child {

				flex	: 1;

			}

		}

		& div[context] {

			@include mx-d-flex;
			gap: $gap;

			& *:first-child {

				flex	: 1;

			}

		}

		& > fieldset {

			@include mx-fieldset($param-dark: true);
			position	: relative;

			& > button {

				position		: absolute;
				top				: -3rem;
				right			: 0;

			}

			& div[definition] {

				@include mx-form;

				& div[language] {

					@include mx-d-flex;
					gap: $gap;

					& > :first-child {

						min-width	: 12rem;

					}
					& > :nth-child(2) {

						flex		: 1;

					}

				}

				& div[sample] {

					@include mx-d-flex;
					gap: $gap;

					& *:first-child {

						flex	: 1;

					}

				}

			}

		}

	}

	& [add_button] {

		margin-left	: auto;

	}

}
