<header>

	<div card_title>{{ word() ? 'Edit' : 'Add' }} Word</div>

</header>
<section content>

	<form>

		<!-- ID -->
		@if (word()?.id) {

			<w-input [formControl]="form.id" label="ID" [readonly]="true"/>

		}

		<!-- NAME -->
		<w-input [formControl]="form.name" label="Term"/>

		<!-- PRONUNCIATION -->
		<w-input [formControl]="form.pronunciation" label="Pronunciation"/>

		<button
			add_button
			type="button"
			class="success"
			(click)="form.addContext()">
			<w-glyph name="add_circle" /> Add Context
		</button>

		@for (context of form.contexts(); track context.objectId) {

			<!-- CONTEXTS -->
			<div context>

				<w-textarea [formControl]="context.fc" [label]="'Context #' + ($index + 1)" [rows]="3"/>
				<button
					type="button"
					class="glyph squared sm"
					[title]="'Remove Sample #' + ($index + 1)"
					(click)="form.removeContext(context.objectId)">
					<w-glyph name="do_not_disturb_on" class="focused" />
				</button>

			</div>

		}

		@for (definition of form.definitions(); track definition.objectId) {

			<fieldset>
				<legend>Definition #{{$index + 1}}</legend>

				@if($index > 0) {

					<legend>
						<button
							type="button"
							class="ghost sm"
							(click)="form.removeDefinition(definition.objectId)">
							<w-glyph name="do_not_disturb_on" class="focused" /> Remove Definition #{{ $index + 1 }}
						</button>
					</legend>

				}

				<div definition>

					<!-- TYPE -->
					<w-select [formControl]="definition.type" label="Type" [nodes]="DEFINITION_TYPES"/>

					@for (lang of definition.languages(); track lang.objectId) {

						<!-- LANGUAGES -->
						<div language>

							<!-- LANGUAGE -->
							<w-select [formControl]="lang.language" label="Language" [nodes]="DEFINITION_LANGUAGES"/>

							<!-- NAME -->
							<w-input [formControl]="lang.name" label="Meaning"/>

							@if($index < 1) {

								<button
									type="button"
									class="glyph squared sm"
									title="Add Language"
									(click)="definition.addLanguage()">
									<w-glyph name="add_circle" class="success" />
								</button>

							} @else {

								<button
									type="button"
									class="glyph squared sm"
									[title]="'Remove Language #' + ($index + 1)"
									(click)="definition.removeLanguage(lang.objectId)">
									<w-glyph name="do_not_disturb_on" class="focused" />
								</button>

							}

						</div>

					}

					@for (sample of definition.samples(); track sample.objectId) {

						<!-- SAMPLES -->
						<div sample>

							<w-textarea [formControl]="sample.fc" [label]="'Sample #' + ($index + 1)" [rows]="3"/>
							@if($index < 1) {

								<button
									type="button"
									class="glyph squared sm"
									title="Add Sample"
									(click)="definition.addSample()">
									<w-glyph name="add_circle" class="success" />
								</button>

							} @else {

								<button
									type="button"
									class="glyph squared sm"
									[title]="'Remove Sample #' + ($index + 1)"
									(click)="definition.removeSample(sample.objectId)">
									<w-glyph name="do_not_disturb_on" class="focused" />
								</button>

							}

						</div>

					}

				</div>
			</fieldset>

		}
		<button
			add_button
			type="button"
			class="success"
			(click)="form.addDefinition()">
			<w-glyph name="add_circle" /> Add Definition
		</button>

	</form>

</section>
<footer>

	<button type="button" (click)="onSave()"><w-glyph name="save" /> Save</button>

</footer>
