@import 'helper';
@import 'variables';
@import 'components';
@import 'mixins';

:host {

	@include mx-card;

	form {

		@include mx-flex-column;
		padding			: var(--gap-xs);
		gap				: var(--gap);

		& > div {

			display			: flex;
			flex-direction	: row;
			gap				: var(--gap-xs);
			& :first-child {

				flex	: 1;

			}

			& .material-symbols-outlined {

				font-size	: 1.4rem;

			}

		}

		& div[context] {

			display		: flex;

			& *:first-child {

				flex	: 1;

			}

		}

		& > fieldset {

			position	: relative;

			& > legend {

				padding-top		: 2rem;
				padding-bottom	: 1rem;

			}

			& > button {

				position		: absolute;
				top				: -3rem;
				right			: 0;

			}

			& div[definition] {

				@include mx-flex-column;
				// grid-template-columns	: 1fr 1fr;
				grid-gap				: var(--gap-sm);

				// & div:first-child,
				// & div[language]
				// & div[sample] {

				// 	grid-column: span 2;

				// }

				& div[language] {

					display		: flex;
					grid-gap	: var(--gap-sm);

					& > :nth-child(2) {

						flex		: 1;

					}

				}

				& div[sample] {

					display		: flex;
					grid-gap	: var(--gap-sm);

					& *:first-child {

						flex	: 1;

					}

				}

			}

		}

	}

	& > footer {

		@include mx-flex-end-center;

	}

	// div[form-element-buttons] {

	// 	flex				: 1;
	// 	@extend %flex-space-between-center;
	// 	padding				: var(--gap-xs);

	// 	& button:last-child {

	// 		margin-left		: auto;

	// 	}

	// }

}
