@import 'variables';
@import 'helper';
@import 'components';

:host {

	@include mx-box($param-dark: true);
	@include mx-d-grid;
	grid-template-columns	: $widget-height 1fr;
	min-height		: 2 * $widget-height;
	padding			: $gap-lg;
	gap				: $gap-sm;
	@include mx-shadow;

	& > div {

		place-self	: center;

	}

}
