<div class="p-inputgroup">
	<input
		type="text"
		pInputText
		placeholder="Keyword"
		[formControl]="searchControl"
		pAutoFocus
		[autofocus]="true">
	<button
		type="button"
		pButton
		pRipple
		icon="pi pi-search"
		styleClass="p-button-warn"
		(click)="onReset()">
	</button>
</div>

<div tags>
	<a *ngFor="let tag of uiTags"
		(click)="onTagClick(tag.tag.name)"
		[ngStyle]="{ 'font-size': tag.fontSize, 'color': selectedTags?.includes(tag.tag.name) ? 'orange': '' }">{{ tag.tag.name }}<sup *ngIf="(selectedTags?.length ?? 0) > 1 && tag.idx >= 0">{{ tag.idx + 1 }}</sup>
	</a>
</div>
