<div class="p-inputgroup">
	<input
		type="text"
		pInputText
		placeholder="Keyword"
		[formControl]="searchControl"
		pAutoFocus
		[autofocus]="true">
	<button
		type="button"
		pButton
		pRipple
		icon="pi pi-search"
		styleClass="p-button-warn"
		(click)="onReset()">
	</button>
</div>

<div selected-tags>
	<button
		*ngFor="let name of selectedTags"
		pButton
		type="button"
		[label]="name"
		(click)="onSelectedClick(name)"></button>
</div>

<div tags>
	<a *ngFor="let tag of uiTags"
		(click)="onTagClick(tag.name)"
		[ngStyle]="{ 'font-size': tag.fontSize }">{{ tag.name }}</a>
</div>
