@import 'variables';
@import 'mixins';

:host {

	position			: fixed;
	display				: block;
	top					: 0;
	left				: 0;
	right				: 0;
	height				: 100dvh;

	background-color	: var(--col-bg-overlay);
	z-index				: $z-index-nav-overlay;

	opacity				: 0;
	visibility			: hidden;
	transition			: height $transition, opacity 0.5s $transition-timing-fn, visibility 0.5s $transition-timing-fn;

	@include bigScreen() {

		display			: none;

	}

}

:host-context(.sidebar-full) {

	opacity				: 1;
	visibility			: visible;

	@include bigScreen() {

		opacity			: 0;
		visibility		: hidden;

	}

}
