@import 'variables';
@import 'helper';

:host {

	position			: fixed;
	display				: block;
	top					: 0;
	left				: 0;
	right				: 0;
	height				: 100dvh;

	background-color	: fn-var($col-bg-overlay);
	z-index				: $z-index-nav-overlay;

	@include mx-transition(height opacity visibility);

}
