@import 'variables';
@import 'helper';

:host {

	position			: fixed;
	display				: block;
	top					: 0;
	left				: 0;
	right				: 0;
	height				: 100dvh;

	background-color	: fn-var($col-bg-overlay);
	z-index				: $z-index-nav-overlay;

	opacity				: 0;
	visibility			: hidden;
	@include mx-transition(height opacity visibility);

	body[data-big-screen="true"] & {

		display			: none;

	}

	body[data-sidebar="#{$sidebar-full}"] &,
	body[data-sidebar="#{$sidebar-half}"] & {

		opacity				: 1;
		visibility			: visible;

	}

}

