.brad-xxl 		{ border-radius: $border-radius-xxl; }
.brad-xl 		{ border-radius: $border-radius-xl; }
.brad-lg 		{ border-radius: $border-radius-lg; }
.brad 			{ border-radius: $border-radius; }
.brad-sm 		{ border-radius: $border-radius-sm; }
.brad-xs 		{ border-radius: $border-radius-xs; }
.brad-xxs 		{ border-radius: $border-radius-xxs; }
.brad-round 	{ border-radius: $border-radius-round; }
