.gap-xxl	{ gap: $gap-xxl; }
.gap-xl		{ gap: $gap-xl; }
.gap-lg		{ gap: $gap-lg; }
.gap		{ gap: $gap; }
.gap-sm		{ gap: $gap-sm; }
.gap-xs		{ gap: $gap-xs; }
.gap-xxs	{ gap: $gap-xxs; }

.gap-page	{ gap: $page-padding; }
