.header-h1	{ font-size: $font-size-h1; & small { font-size: 0.7em; }}
.header-h2	{ font-size: $font-size-h2; & small { font-size: 0.7em; }}
.header-h3	{ font-size: $font-size-h3; & small { font-size: 0.7em; }}
.header-h4	{ font-size: $font-size-h4; & small { font-size: 0.7em; }}
.header-h5	{ font-size: $font-size-h5; & small { font-size: 0.7em; }}
.header-h6	{ font-size: $font-size-h6; & small { font-size: 0.7em; }}

.header-xxl	{ font-size: $font-size-xxl;	& small { font-size: 0.7em; }}
.header-xl 	{ font-size: $font-size-xl;		& small { font-size: 0.7em; }}
.header-lg 	{ font-size: $font-size-lg;		& small { font-size: 0.7em; }}
.header 	{ font-size: $font-size;		& small { font-size: 0.7em; }}
.header-sm 	{ font-size: $font-size-sm;		& small { font-size: 0.7em; }}
.header-xs 	{ font-size: $font-size-xs;		& small { font-size: 0.7em; }}
.header-xxs	{ font-size: $font-size-xxs;	& small { font-size: 0.7em; }}
