.min-height-1		{ min-height: 1rem; }
.min-height-2		{ min-height: 2rem; }
.min-height-3		{ min-height: 3rem; }
.min-height-4		{ min-height: 4rem; }
.min-height-5		{ min-height: 5rem; }
.min-height-header	{ min-height: $header-height; }
