.padding-inline		{ padding-inline: $component-padding-inline; }
.padding-inline-sm	{ padding-inline: $component-padding-inline-sm; }
.padding-inline-xs	{ padding-inline: $component-padding-inline-xs; }

.padding-block		{ padding-inline: $component-padding-block; }
.padding-block-sm	{ padding-inline: $component-padding-block-sm; }
.padding-block-xs	{ padding-inline: $component-padding-block-xs; }

.padding			{ padding: $component-padding-block $component-padding-inline; }
.padding-sm			{ padding: $component-padding-block-sm $component-padding-inline-sm; }
.padding-xs			{ padding: $component-padding-block-xs $component-padding-inline-xs; }
