@layer components {

	.page {

		@apply p-1 md:p-2 flex flex-col h-full gap-1 md:gap-2;

	}

	.comp {

		@apply rounded-lg bg-component shadow-xl;

	}

	.comp-dark {

		@apply comp;
		@apply bg-component-dark;

	}

	.comp-hover {

		@apply transition-colors duration-700 hover:bg-component-hover ease-in-out;

	}

	.comp-dark-hover {

		@apply comp-hover;
		@apply hover:bg-component-dark-hover;

	}

	.btn-tag {

		@apply flex min-h-5 rounded-full bg-accent px-2 py-0 text-xs text-white transition-colors duration-300 hover:bg-accent-hover active:bg-accent-active;

	}

	.scrollbar {

		scrollbar-width		: thin;
		scrollbar-color		: var(--col-scrollbar-thumb) var(--col-scrollbar-track);
		scrollbar-gutter	: stable;

	}

}
