@layer components {

	.page {

		@apply p-1 md:p-2 flex flex-col gap-1 md:gap-2;

	}

	.comp {

		@apply rounded-lg bg-component shadow-component;

	}

	.comp-dark {

		@apply comp;
		@apply bg-component-dark;

	}

	.comp-hover {

		@apply hover:bg-component-hover ease-in-out;

	}

	.comp-dark-hover {

		@apply comp-hover;
		@apply hover:bg-component-dark-hover;

	}

	.comp-active {

		@apply active:bg-component-active ease-in-out;

	}

	.comp-dark-active {

		@apply comp-active;
		@apply active:bg-component-dark-active;

	}

	.tag {

		@apply flex min-h-5 rounded-full bg-accent px-2 py-0 text-xs text-content hover:bg-accent-hover active:bg-accent-active focus-visible:ring-4 focus-visible:ring-outline focus-visible:outline-none;

	}

	.scrollbar {

		scrollbar-width		: thin;
		scrollbar-color		: var(--col-scrollbar-thumb) var(--col-scrollbar-track);

		&-dark {

			scrollbar-color	: var(--col-scrollbar-thumb-dark) var(--col-scrollbar-track);

		}

		&-gutter-stable {

			scrollbar-gutter	: stable;

		}

	}

}
