%flex-center-center {
	display			: flex;
	justify-content	: center;
	align-items		: center;
}

%flex-center-x {
	display			: flex;
	justify-content	: center;
}

%flex-center-y {
	display		: flex;
	align-items	: center;
}

%flex-center-start {
	display			: flex;
	justify-content	: center;
	align-items		: flex-start;
}

%flex-column {
	display			: flex;
	flex-direction	: column;
}

%flex-row {
	display			: flex;
	flex-direction	: row;
}

%flex-space-between-center {
	display			: flex;
	justify-content	: space-between;
	align-items		: center;
}

%flex-end-center {
	display			: flex;
	justify-content	: flex-end;
	align-items		: center;
}

%flex-start-center {
	display			: flex;
	justify-content	: flex-start;
	align-items		: center;
}

%flex-space-around-center {
	display			: flex;
	justify-content	: space-around;
	align-items		: center;
}

%flex-space-evenly-center {
	display			: flex;
	justify-content	: space-evenly;
	align-items		: center;
}

%flex-end-center {
	display			: flex;
	justify-content	: flex-end;
	align-items		: center;
}

%w359-scrollbar {

	overflow-y						: scroll;

	&::-webkit-scrollbar {
		width						: var(--w359-scrollbar-width);
		border-radius				: var(--w359-scrollbar-border-radius);
	}

	&::-webkit-scrollbar-thumb {
		background-color			: var(--w359-scrollbar-background-color);
		border-radius				: var(--w359-scrollbar-border-radius);
	}

}

.w359-scrollbar {
	@extend %w359-scrollbar;
}