@layer base {

	svg {

		font-size	: 1.2em;
		width		: 1em;
  		height		: 1em;
		fill		: currentColor;

	}

	.nav-item-active {

		@apply text-base #{!important};

		& [svgWrapper],
		&:hover [svgWrapper] {

			@apply bg-accent #{!important};

		}

	}

}
