$_left-offset	: 0;

@keyframes to_hidden {

	from {

		left				: $_left-offset;
		//width				: $nav-full-width;

	}

	to {

		left				: -$nav-full-width + $_left-offset;
		//width				: $nav-half-width;

	}

}

@keyframes to_full {

	from {

		left				: -$nav-full-width + $_left-offset;
		width				: $nav-full-width;

	}

	to {

		left				: $_left-offset;
		width				: $nav-full-width;

	}

}

@keyframes to_big_screen_hidden {

	0% {

		left				: $_left-offset;
		width				: $nav-full-width;
		--w-right-display	: flex;

	}

	99% {

		left				: -$nav-full-width + $_left-offset;
		width				: $nav-full-width;

	}

	100% {

		left				: -$nav-half-width + $_left-offset;
		width				: $nav-hidden-width;

	}

}

@keyframes to_big_screen_half {

	from {

		left				: -$nav-half-width + $_left-offset;
		width				: $nav-hidden-width;
	}

	to {

		left				: $_left-offset;
		width				: $nav-half-width;

	}

}

@keyframes to_big_screen_full {

	from {

		left				: $_left-offset;
		width				: $nav-half-width;
	}

	to {

		left				: $_left-offset;
		width 				: $nav-full-width;

	}

}
