@layer base {

	:root {

		--font-family-nunito: 'Nunito Sans', serif;
		--font-family-mono	: 'Source Code Pro', monospace;

		--header-height		: 3.75rem;
		--main-height		: calc(100dvh - var(--header-height));
		--nav-full			: 15rem;

		--shadow-component	: hsl(from var(--col-shadow) h s l / .5) 5px 6px 6px -2px, hsl(from var(--col-shadow) h s l / .5) 8px 8px 18px -2px;
		--shadow-invisible	: var(--col-transparent) 5px -2px 6px -2px, var(--col-transparent) 8px -2px 18px -2px;

	}

}
