$z-index-splash-screen		: 6000;
$z-index-overlay-container	: 5000;
$z-index-header				: 4000;
$z-index-nav				: 3000;
$z-index-nav-overlay		: 2000;
$z-index-main				: 1000;

$z-index-bookmark-overlay	: 100;
$z-index-croppie-close-btn	: 100;
