// these values should be the same : responsive.constant.ts
$breakpoint-sm	: 576px; // rem(576);
$breakpoint-md	: 768px; // rem(768);
$breakpoint-lg	: 992px; // rem(992);
$breakpoint-xl	: 1200px; // rem(1200);
$breakpoint-xxl	: 1400px; // rem(1400);

@mixin mx-sm() {

	@media screen and (min-width: $breakpoint-sm) {
		@content;
	}

}

@mixin mx-container-sm() {

	@container (min-width: #{$breakpoint-sm}) {
		@content;
	}

}

@mixin mx-md() {

	@media screen and (min-width: $breakpoint-md) {
		@content;
	}

}

@mixin mx-container-md() {

	@container (min-width: #{$breakpoint-md}) {
		@content;
	}

}

@mixin mx-lg() {

	@media screen and (min-width: $breakpoint-lg) {
		@content;
	}

}

@mixin mx-container-lg() {

	@container (min-width: #{$breakpoint-lg}) {
		@content;
	}

}

@mixin mx-xl() {

	@media screen and (min-width: $breakpoint-xl) {
		@content;
	}

}

@mixin mx-container-xl() {

	@container (min-width: #{$breakpoint-xl}) {
		@content;
	}

}

@mixin mx-xxl() {

	@media screen and (min-width: $breakpoint-xxl) {
		@content;
	}

}

@mixin mx-container-xxl() {

	@container (min-width: #{$breakpoint-xxl}) {
		@content;
	}

}
