// these values should be the same : responsive.constant.ts
$breakpoint-sm: 576px; // 576px
$breakpoint-md: 768px; // 768px
$breakpoint-lg: 992px; // 992px
$breakpoint-xl: 1200px; // 1200px

@mixin bigScreen() {

	@media screen and (min-width: $breakpoint-md) {
		@content;
	}

}

@mixin mx-sm() {

	@media screen and (min-width: $breakpoint-sm) {
		@content;
	}

}

@mixin mx-md() {

	@media screen and (min-width: $breakpoint-md) {
		@content;
	}

}

@mixin mx-lg() {

	@media screen and (min-width: $breakpoint-lg) {
		@content;
	}

}

@mixin mx-xl() {

	@media screen and (min-width: $breakpoint-xl) {
		@content;
	}

}

@mixin mx-bigScreen() {

	@include mx-md {
		@content;
	}

}
