// CONSTANTS
$big-screen				: 'big-screen';

$glyph-selector			: '.material-symbols-outlined';

$widget-height-xl		: 7.5rem;
$widget-height-lg		: 5.8rem;
$widget-height			: 3.5rem;
$widget-height-sm		: 2.6rem;
$widget-height-xs		: 1.8rem;

$font-size				: 1.6rem;	// 16px on mobile
$font-size-xxl			: 2.3rem;	// 23px
$font-size-xl			: 2.0rem;	// 20px
$font-size-lg			: 1.8rem;	// 18px
$font-size-sm			: 1.3rem;	// 13px
$font-size-xs			: 0.8rem;	//  8px
$font-size-xxs			: 0.6rem;	//  6px

$gap-xxl				: 1.8rem;
$gap-xl					: 1.5rem;
$gap-lg					: 1.2rem;
$gap					: 1.0rem;
$gap-sm					: 0.7rem;
$gap-xs					: 0.5rem;
$gap-xxs				: 0.3rem;

$border-radius-xxl 		: 0.9rem;
$border-radius-xl 		: 0.8rem;
$border-radius-lg 		: 0.7rem;
$border-radius 			: 0.6rem;
$border-radius-sm 		: 0.5rem;
$border-radius-xs 		: 0.4rem;
$border-radius-xxs 		: 0.3rem;
$border-radius-round	: 100px;

$transition-fn			: ease-in-out;
$transition-duration	: 600ms;
$transition				: $transition-duration $transition-fn;

$transition-duration-short	: 250ms;
$transition-short			: $transition-duration-short $transition-fn;

// ELEMENT SPECIFIC CONSTANTS
$tab-size				: 4;

$font-family			: 'Nunito Sans', serif;
$font-family-mono		: 'Source Code Pro', monospace;

$font-size-h1			: 2.8rem;	// 28px
$font-size-h2			: 2.5rem;	// 25px
$font-size-h3			: 2.2rem;	// 22px
$font-size-h4			: 1.9rem;	// 19px
$font-size-h5			: 1.8rem;	// 18px
$font-size-h6			: 1.7rem;	// 17px

$toast-min-width		: 18.75rem;

$z-index-splash-screen		: 9000;
$z-index-ng-progress		: 8000;
$overlay-container-z-index	: 7000;
$overlay-z-index			: 7000;
$overlay-backdrop-z-index	: 7000;
$z-index-header				: 6000;
$z-index-nav				: 5000;
$z-index-nav-overlay		: 4000;
$z-index-main				: 3000;
$z-index-bookmark-overlay	: 2000;
$z-index-croppie-close-btn	: 1000;

// HEADER
$header-height				: 6rem;

// NAV BAR
$nav-anim-to-full				: to_full;
$nav-anim-to-hidden				: to_hidden;
$nav-anim-bigscreen-to-full		: to_big_screen_full;
$nav-anim-bigscreen-to-half		: to_big_screen_half;
$nav-anim-bigscreen-to-hidden	: to_big_screen_hidden;

$nav-row-height					: $header-height;
$nav-full-width					: 25rem;
$nav-half-width					: $nav-row-height;
$nav-hidden-width				: $nav-half-width;
$nav-animation-duration			: $transition-duration;

//
// CSS VARIABLES:
//

$font-size-ratio			: --font-size-ratio;

// COLOR CSS VARIABLES
$col-black							: --col-black;
$col-white							: --col-white;
$col-transparent					: --col-transparent;
$col-bg-header						: --col-bg-header;
$col-bg-nav							: --col-bg-nav;
$col-bg-popup						: --col-bg-popup;
$col-bg-component					: --col-bg-component;
$col-bg-component-hover				: --col-bg-component-hover;
$col-bg-component-active			: --col-bg-component-active;
$col-bg-component-dark				: --col-bg-component-dark;
$col-bg-component-dark-hover		: --col-bg-component-dark-hover;
$col-bg-component-dark-active		: --col-bg-component-dark-active;
$col-bg-form-element				: --col-bg-form-element;
$col-bg-page						: --col-bg-page;
$col-bg-overlay						: --col-bg-overlay;
$col-shadow							: --col-shadow;
$col-text							: --col-text;
$col-text-secondary					: --col-text-secondary;
$col-primary						: --col-primary;
$col-success						: --col-success;
$col-info							: --col-info;
$col-warn							: --col-warn;
$col-error							: --col-error;
$col-accent							: --col-accent;
$col-focus							: --col-focus;
$col-outline						: --col-outline;
$col-disabled						: --col-disabled;

// SCROLLBAR COLORS
$col-scrollbar-thumb				: --col-scrollbar-thumb;
$col-scrollbar-track				: --col-scrollbar-track;

// BUTTON COLORS
$col-btn-tag-text					: --col-btn-tag-text;
$col-btn-tag-color					: --col-btn-tag-color;
$col-btn-tag-color-hover			: --col-btn-tag-color-hover;
$col-btn-tag-color-active			: --col-btn-tag-color-active;

$col-btn-default-text				: --col-btn-default-text;
$col-btn-default-color				: --col-btn-default-color;
$col-btn-default-color-hover		: --col-btn-default-color-hover;
$col-btn-default-color-active		: --col-btn-default-color-active;
$col-btn-default-border				: --col-btn-default-border;

$col-btn-disabled-text				: --col-btn-disabled-text;
$col-btn-disabled-color				: --col-btn-disabled-color;
$col-btn-disabled-color-hover		: --col-btn-disabled-color-hover;
$col-btn-disabled-color-active		: --col-btn-disabled-color-active;
$col-btn-disabled-border			: --col-btn-disabled-border;

$col-btn-link-text					: --col-btn-link-text;
$col-btn-link-color					: --col-btn-link-color;
$col-btn-link-color-hover			: --col-btn-link-color-hover;
$col-btn-link-color-active			: --col-btn-link-color-active;
$col-btn-link-border				: --col-btn-link-border;

$col-btn-glyph-text					: --col-btn-glyph-text;
$col-btn-glyph-color				: --col-btn-glyph-color;
$col-btn-glyph-color-hover			: --col-btn-glyph-color-hover;
$col-btn-glyph-color-active			: --col-btn-glyph-color-active;
$col-btn-glyph-border				: --col-btn-glyph-border;

$col-btn-warn-text					: --col-btn-warn-text;
$col-btn-warn-color					: --col-btn-warn-color;
$col-btn-warn-color-hover			: --col-btn-warn-color-hover;
$col-btn-warn-color-active			: --col-btn-warn-color-active;
$col-btn-warn-border				: --col-btn-warn-border;

$col-btn-ghost-text					: --col-btn-ghost-text;
$col-btn-ghost-color				: --col-btn-ghost-color;
$col-btn-ghost-color-hover			: --col-btn-ghost-color-hover;
$col-btn-ghost-color-active			: --col-btn-ghost-color-active;
$col-btn-ghost-border				: --col-btn-ghost-border;

$col-btn-danger-text				: --col-btn-danger-text;
$col-btn-danger-color				: --col-btn-danger-color;
$col-btn-danger-color-hover			: --col-btn-danger-color-hover;
$col-btn-danger-color-active		: --col-btn-danger-color-active;
$col-btn-danger-border				: --col-btn-danger-border;

// SHADOWS
$shadow								: --shadow;
$shadow-header						: --shadow-header;
$shadow-nav							: --shadow-nav;
$shadow-invisible					: --shadow-invisible;
