// note: var name and value name must be the same (except the $ and --)
// css variables
$font-size							: --font-size;
$font-size-xxl						: --font-size-xxl;
$font-size-xl						: --font-size-xl;
$font-size-lg						: --font-size-lg;
$font-size-sm						: --font-size-sm;
$font-size-xs						: --font-size-xs;
$font-size-xxs						: --font-size-xxs;
$font-size-h1						: --font-size-h1;
$font-size-h2						: --font-size-h2;
$font-size-h3						: --font-size-h3;
$font-size-h4						: --font-size-h4;
$font-size-h5						: --font-size-h5;
$font-size-h6						: --font-size-h6;
$line-height						: --line-height;
$letter-spacing						: --letter-spacing;
$font-family						: --font-family;
$font-family-mono					: --font-family-mono;
$gap								: --gap;
$gap-xxl							: --gap-xxl;
$gap-xl								: --gap-xl;
$gap-lg								: --gap-lg;
$gap-sm								: --gap-sm;
$gap-xs								: --gap-xs;
$gap-xxs							: --gap-xxs;
$radius								: --radius;
$border-radius-xl					: --border-radius-xl;
$border-radius-lg					: --border-radius-lg;
$border-radius						: --border-radius;
$border-radius-sm					: --border-radius-sm;
$border-radius-xs					: --border-radius-xs;
$border-radius-round				: --border-radius-round;
$component-height					: --component-height;
$z-index-splash-screen				: --z-index-splash-screen;
$z-index-ng-progress				: --z-index-ng-progress;
$z-index-header						: --z-index-header;
$z-index-nav						: --z-index-nav;
$z-index-nav						: --z-index-nav;
$z-index-nav-overlay				: --z-index-nav-overlay;
$z-index-main						: --z-index-main;
$z-index-bookmark-overlay			: --z-index-bookmark-overlay;
$z-index-croppie-close-btn			: --z-index-croppie-close-btn;
$nav-full-width						: --nav-full-width;
$nav-half-width						: --nav-half-width;
$header-height						: --header-height;
$transition							: --transition;

// colors
$col-black							: --col-black;
$col-white							: --col-white;
$col-bg-header						: --col-bg-header;
$col-bg-nav							: --col-bg-nav;
$col-bg-popup						: --col-bg-popup;
$col-bg-component					: --col-bg-component;
$col-bg-component-dark				: --col-bg-component-dark;
$col-bg-form-element				: --col-bg-form-element;
$col-bg-page						: --col-bg-page;
$col-bg-overlay						: --col-bg-overlay;
$col-shadow							: --col-shadow;
$col-text							: --col-text;
$col-text-secondary					: --col-text-secondary;
$col-primary						: --col-primary;
$col-success						: --col-success;
$col-info							: --col-info;
$col-warn							: --col-warn;
$col-error							: --col-error;
$col-accent							: --col-accent;
$col-focus							: --col-focus;
$col-outline						: --col-outline;
$col-disabled						: --col-disabled;
$col-btn-tag-text-color				: --col-btn-tag-text-color;
$col-btn-tag-bg-color				: --col-btn-tag-bg-color;
$col-btn-tag-bg-color-hover			: --col-btn-tag-bg-color-hover;
$col-btn-tag-bg-color-active		: --col-btn-tag-bg-color-active;
$col-btn-default-text-color			: --col-btn-default-text-color;
$col-btn-default-bg-color			: --col-btn-default-bg-color;
$col-btn-default-bg-color-hover		: --col-btn-default-bg-color-hover;
$col-btn-default-bg-color-active	: --col-btn-default-bg-color-active;
$col-btn-default-border-color		: --col-btn-default-border-color;
$col-btn-disabled-bg-color			: --col-btn-disabled-bg-color;
$col-btn-disabled-text-color		: --col-btn-disabled-text-color;
$col-btn-disabled-bg-color-hover	: --col-btn-disabled-bg-color-hover;
$col-btn-disabled-bg-color-active	: --col-btn-disabled-bg-color-active;
$col-btn-disabled-border-color		: --col-btn-disabled-border-color;
$col-btn-link-text-color			: --col-btn-link-text-color;
$col-btn-link-bg-color				: --col-btn-link-bg-color;
$col-btn-link-bg-color-hover		: --col-btn-link-bg-color-hover;
$col-btn-link-bg-color-active		: --col-btn-link-bg-color-active;
$col-btn-link-border-color			: --col-btn-link-border-color;
$col-btn-warn-text-color			: --col-btn-warn-text-color;
$col-btn-warn-bg-color				: --col-btn-warn-bg-color;
$col-btn-warn-bg-color-hover		: --col-btn-warn-bg-color-hover;
$col-btn-warn-bg-color-active		: --col-btn-warn-bg-color-active;
$col-btn-warn-border-color			: --col-btn-warn-border-color;
$col-btn-danger-text-color			: --col-btn-danger-text-color;
$col-btn-danger-bg-color			: --col-btn-danger-bg-color;
$col-btn-danger-bg-color-hover		: --col-btn-danger-bg-color-hover;
$col-btn-danger-bg-color-active		: --col-btn-danger-bg-color-active;
$col-btn-danger-border-color		: --col-btn-danger-border-color;
