<header class="d-flex ai-c pl-xs">

	<w-selected-tags
		[tags]="(pinned$ | async) ?? []"
		[selectedTags]="(selectedTags$ | async) ?? []"
		(filterClick)="emptyFilter()"
		(tagClick)="onTagClicked($event)"></w-selected-tags>

	<button
		type="button"
		class="link ml-auto"
		(click)="toggleCloud()">
		<span class="material-symbols-outlined">chevron_left</span>
	</button>

</header>
<!-- todo this renders and 'autofocus' makes search input label animate. wrap it in @if(...) -->
<aside
		class="d-flex-column gap scrollable"
		[@slideUpDown]="cloudVisible ? 'opened' : 'closed'">

	<div class="d-flex-center gap-xxs mt">
		<w-input
			label="Keyword"
			[formControl]="searchControl"
			[autofocus]="cloudVisible"
			[after]="500"/>
		<button
			type="button"
			class="square small"
			(click)="onSearchReset()">
			<span class="material-symbols-outlined">backspace</span>
		</button>
	</div>

	<w-tag-cloud
		[tags]="(tags$ | async) ?? []"
		[selectedTags]="(selectedTags$ | async) ?? []"
		[relatedTags]="(relatedTags$ | async) ?? []"
		(tagClick)="onTagClicked($event)"></w-tag-cloud>

</aside>
