<header>

	<div card_title>{{ note() ? 'Edit' : 'Add' }} Note</div>

</header>
<section content>

	<form>

		<!-- ID -->
		<div *ngIf="note()?.id">
			<w-input [formControl]="form.id" label="ID" [readonly]="true"/>
		</div>

		<!-- PARENT ID -->
		<div>
			<w-select-tree [control]="form.parentId" [nodes]="nodes()" name="Parent"/>
		</div>

		<!-- NAME -->
		<div>
			<w-input [formControl]="form.name" label="Name"/>
		</div>

		<!-- TAGS -->
		<div>
			<w-input-tag
				[formControl]="form.tags"
				label="Tags"
				class="input-element"
				(tagInput)="onTagInput($event)"
				[suggestions]="tagSuggestions()"/>
			<button type="button" class="link" [title]="'Toggle \''+TAG_PINNED+'\''" (click)="onTogglePinned()">
				<span class="material-symbols-outlined" [class.filled]="((form.tags.valueChanges | async) ?? []).includes(TAG_PINNED)">push_pin</span>
			</button>
			<button type="button" class="link" title="Copy all from Parent" (click)="onCopyTags()">
				<span class="material-symbols-outlined">content_copy</span>
			</button>
		</div>

	</form>

</section>
<footer>

	<!-- <button type="button" (click)="onSave()"><span class="material-symbols-outlined">save</span> Save</button> -->


</footer>
<div style="display: grid; gap: 1rem; justify-content: center; margin-top: 5rem;">
	<div style="display: block;">
		<button class="xs"></button>&nbsp;
		<button class="sm"></button>&nbsp;
		<button class=""></button>&nbsp;
		<button class="lg"></button>
	</div>
	<div style="display: block;">
		<button class="xs"><span class="material-symbols-outlined">save</span> primary</button>&nbsp;
		<button class="sm"><span class="material-symbols-outlined">save</span> disabled</button>&nbsp;
		<button class=""><span class="material-symbols-outlined">save</span> disabled</button>&nbsp;
		<button class="lg"><span class="material-symbols-outlined">save</span> error</button>
	</div>
	<div style="display: flex; gap: 1rem;">
		<button class="sm"><span class="material-symbols-outlined">save</span> primary</button>
		<button class="sm" disabled><span class="material-symbols-outlined">save</span> disabled</button>
		<button class="sm warn"><span class="material-symbols-outlined">save</span> warn</button>
		<button class="sm danger"><span class="material-symbols-outlined">save</span> error</button>
	</div>
	<div style="display: flex; gap: 1rem;">
		<button><span class="material-symbols-outlined">save</span> primary</button>
		<button disabled><span class="material-symbols-outlined">save</span> disabled</button>
		<button class="warn"><span class="material-symbols-outlined">save</span> warn</button>
		<button class="danger"><span class="material-symbols-outlined">save</span> error</button>
		<button class="link"><span class="material-symbols-outlined">save</span>error</button>
	</div>
	<div style="display: flex; gap: 1rem;">
		<button class="lg"><span class="material-symbols-outlined">save</span> primary</button>
		<button class="lg" disabled><span class="material-symbols-outlined">save</span>disabled</button>
		<button class="lg warn">warn</button>
		<button class="lg danger">error</button>
		<button class="lg link">error</button>
		<button class="lg link"><span class="material-symbols-outlined">save</span>error</button>
	</div>
	<div style="display: block;">
		<button class="tag xs">tag xs</button>&nbsp;
		<button class="tag sm">tag sm</button>&nbsp;
		<button class="tag ">tag st</button>&nbsp;
		<button class="tag lg">tag lg</button>
	</div>
	<div style="display: block;">
		<button class="tag xs"><span class="material-symbols-outlined">save</span> tag xs</button>&nbsp;
		<button class="tag sm"><span class="material-symbols-outlined">save</span> tag sm</button>&nbsp;
		<button class="tag "><span class="material-symbols-outlined">save</span> tag st</button>&nbsp;
		<button class="tag lg"><span class="material-symbols-outlined">save</span> tag lg</button>
	</div>
</div>

