<header>

	<div card_title>{{ note() ? 'Edit' : 'Add' }} Note</div>

</header>
<main>

	<form>

		<!-- ID -->
		<div *ngIf="note()?.id">
			<w-input [formControl]="form.id" label="ID" [readonly]="true"/>
		</div>

		<!-- PARENT ID -->
		<div>
			<w-select-tree [control]="form.parentId" [nodes]="nodes()" name="Parent"/>
		</div>

		<!-- NAME -->
		<div>
			<w-input [formControl]="form.name" label="Name"/>
		</div>

		<!-- TAGS -->
		<div>
			<w-input-tag
				[formControl]="form.tags"
				label="Tags"
				class="input-element"
				(tagInput)="onTagInput($event)"
				[suggestions]="tagSuggestions()"/>
			<button type="button" class="icon-only" [title]="'Toggle \''+TAG_PINNED+'\''" (click)="onTogglePinned()">
				<span class="material-symbols-outlined" [class.filled]="((form.tags.valueChanges | async) ?? []).includes(TAG_PINNED)">push_pin</span>
			</button>
			<button type="button" class="icon-only" title="Copy all from Parent" (click)="onCopyTags()">
				<span class="material-symbols-outlined">content_copy</span>
			</button>
		</div>

	</form>

</main>
<footer>

	<button type="button" (click)="onSave()"><span class="material-symbols-outlined">save</span> Save</button>

</footer>
