@import 'helper';
@import 'variables';
@import 'mixins/responsive';

:host {

	form {

		flex			: 1;
		@extend %flex-column;
		padding			: var(--gap-xs);
		gap				: var(--gap);

		& > div {

			@extend %flex-row;
			gap			: var(--gap-xs);
			& :first-child {

				flex	: 1;

			}

			& .material-symbols-outlined {

				font-size	: 1.4rem;

			}

		}

	}

	div[form-element-buttons] {

		flex				: 1;
		@extend %flex-space-between-center;
		padding				: var(--gap-xs);

		& button:last-child {

			margin-left		: auto;

		}

	}

}
