<header>

	<div card_title>{{ note() ? 'Edit' : 'Add' }} Note</div>

</header>
<section content>

	<form>

		<!-- ID -->
		<div *ngIf="note()?.id">
			<w-input [formControl]="form.id" label="ID" [readonly]="true"/>
		</div>

		<!-- PARENT ID -->
		<div>
			<w-select-tree [control]="form.parentId" [nodes]="nodes()" name="Parent"/>
		</div>

		<!-- NAME -->
		<div>
			<w-input [formControl]="form.name" label="Name"/>
		</div>

		<!-- TAGS -->
		<div>
			<w-input-tag
				[formControl]="form.tags"
				label="Tags"
				class="input-element"
				(tagInput)="onTagInput($event)"
				[suggestions]="tagSuggestions()"/>
			<button type="button" class="link" [title]="'Toggle \''+TAG_PINNED+'\''" (click)="onTogglePinned()">
				<span class="material-symbols-outlined" [class.filled]="((form.tags.valueChanges | async) ?? []).includes(TAG_PINNED)">push_pin</span>
			</button>
			<button type="button" class="link" title="Copy all from Parent" (click)="onCopyTags()">
				<w-glyph name="content_copy" />
			</button>
		</div>

	</form>

</section>
<footer class="footer-buttons">

	<!-- <button type="button" (click)="onSave()"><w-glyph name="save" /> Save</button> -->


</footer>
<div style="display: grid; gap: 1rem; justify-content: center; margin-top: 5rem;">
	<div style="display: block;">
		<button class="xs"></button>&nbsp;
		<button class="sm"></button>&nbsp;
		<button class=""></button>&nbsp;
		<button class="lg"></button>
	</div>
	<div style="display: block;">
		<button class="xs"><w-glyph name="save" /> primary</button>&nbsp;
		<button class="sm"><w-glyph name="save" /> disabled</button>&nbsp;
		<button class=""><w-glyph name="save" /> disabled</button>&nbsp;
		<button class="lg"><w-glyph name="save" /> error</button>
	</div>
	<div style="display: flex; gap: 1rem;">
		<button class="sm"><w-glyph name="save" /> primary</button>
		<button class="sm" disabled><w-glyph name="save" /> disabled</button>
		<button class="sm warn"><w-glyph name="save" /> warn</button>
		<button class="sm danger"><w-glyph name="save" /> error</button>
	</div>
	<div style="display: flex; gap: 1rem;">
		<button><w-glyph name="save" /> primary</button>
		<button disabled><w-glyph name="save" /> disabled</button>
		<button class="warn"><w-glyph name="save" /> warn</button>
		<button class="danger"><w-glyph name="save" /> error</button>
		<button class="link"><w-glyph name="save" />error</button>
	</div>
	<div style="display: flex; gap: 1rem;">
		<button class="lg"><w-glyph name="save" /> primary</button>
		<button class="lg" disabled><w-glyph name="save" />disabled</button>
		<button class="lg warn">warn</button>
		<button class="lg danger">error</button>
		<button class="lg link">error</button>
		<button class="lg link"><w-glyph name="save" />error</button>
	</div>
	<div style="display: block;">
		<button class="tag xs">tag xs</button>&nbsp;
		<button class="tag sm">tag sm</button>&nbsp;
		<button class="tag ">tag st</button>&nbsp;
		<button class="tag lg">tag lg</button>
	</div>
	<div style="display: block;">
		<button class="tag xs"><w-glyph name="save" /> tag xs</button>&nbsp;
		<button class="tag sm"><w-glyph name="save" /> tag sm</button>&nbsp;
		<button class="tag "><w-glyph name="save" /> tag st</button>&nbsp;
		<button class="tag lg"><w-glyph name="save" /> tag lg</button>
	</div>
	<div style="display: block;">
		<button class="link xs"><w-glyph name="save" /></button>&nbsp;
		<button class="link sm"><w-glyph name="save" /></button>&nbsp;
		<button class="link "><w-glyph name="save" /></button>&nbsp;
		<button class="link lg"><w-glyph name="save" /></button>
	</div>
	<div style="display: block;">
		<button class="glyph xs"><w-glyph name="save" /></button>&nbsp;
		<button class="glyph sm"><w-glyph name="save" /></button>&nbsp;
		<button class="glyph "><w-glyph name="save" /></button>&nbsp;
		<button class="glyph lg"><w-glyph name="save" /></button>
	</div>
	<div style="display: block;">
		<button class="rounded xs"><w-glyph name="save" /></button>&nbsp;
		<button class="rounded sm"><w-glyph name="save" /></button>&nbsp;
		<button class="rounded "><w-glyph name="save" /></button>&nbsp;
		<button class="rounded lg"><w-glyph name="save" /></button>
	</div>
	<div style="display: block;">
		<button class="glyph xs badge-container">
			<w-glyph name="save" />
			<span class="badge">9</span>
		</button>&nbsp;
		<button class="glyph sm badge-container">
			<w-glyph name="save" />
			<span class="badge">9</span>
		</button>&nbsp;
		<button class="glyph badge-container">
			<w-glyph name="save" />
			<span class="badge">9</span>
		</button>&nbsp;
		<button class="glyph lg badge-container">
			<w-glyph name="save" />
			<span class="badge">9</span>
		</button>
	</div>
	<div style="display: block;">
		<button class="glyph xs badge-container">
			<w-glyph name="save" />
			<span class="badge">97</span>
		</button>&nbsp;
		<button class="glyph sm badge-container">
			<w-glyph name="save" />
			<span class="badge">97</span>
		</button>&nbsp;
		<button class="glyph badge-container">
			<w-glyph name="save" />
			<span class="badge">97</span>
		</button>&nbsp;
		<button class="glyph lg badge-container">
			<w-glyph name="save" />
			<span class="badge">97</span>
		</button>
	</div>
	<div style="display: block;">
		<button class="glyph xs badge-container">
			<w-glyph name="save" />
			<span class="badge">879</span>
		</button>&nbsp;
		<button class="glyph sm badge-container">
			<w-glyph name="save" />
			<span class="badge">987</span>
		</button>&nbsp;
		<button class="glyph badge-container">
			<w-glyph name="save" />
			<span class="badge">879</span>
		</button>&nbsp;
		<button class="glyph lg badge-container">
			<w-glyph name="save" />
			<span class="badge">987</span>
		</button>
	</div>
	<div style="display: block;">
		<button class="rounded xs">
			<w-glyph name="save" />
			<span class="badge">9</span>
		</button>&nbsp;
		<button class="rounded sm">
			<w-glyph name="save" />
			<span class="badge">9</span>
		</button>&nbsp;
		<button class="rounded ">
			<w-glyph name="save" />
			<span class="badge">9</span>
		</button>&nbsp;
		<button class="rounded lg">
			<w-glyph name="save" />
			<span class="badge">9</span>
		</button>
	</div>
</div>

