@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

@import './scss/hard-reset';
@import './scss/cdk-overlay';
@import './scss/responsive';
@import './scss/overrides';
@import './scss/index';
@import './scss/extensions';
@import './scss/helper';
@import './scss/splashscreen';

@import '../../wolf-lib/src/lib/lib';

// core
@import './modules/core/core.style.scss';

:root {
	--blue-800: blue;
	--green-700: green;
}


body{
	background-color: chocolate;
}
