<div *ngIf="bookmark"
		class="p-fluid formgrid">

	<div class="field w-full md-6">

		<label>id</label>
		<div class="p-2">{{ bookmark.id }}</div>

	</div>
	<div class="field w-full md-6">

		<label>name</label>
		<div class="p-2">{{ bookmark.name }}</div>

	</div>
	<div class="field w-full md-6">

		<label>title</label>
		<div class="p-2">{{ bookmark.title }}</div>

	</div>
	<div class="field w-full md-6">

		<label>tags</label>
		<div class="p-2">{{ bookmark.tags }}</div>

	</div>
	<div class="field w-full md-6">

		<label>image</label>
		<div class="p-2">{{ bookmark.image }}</div>

	</div>
	<div class="field w-full md-6">

		<label>url</label>
		<div class="p-2">{{ bookmark.url }}</div>

	</div>
	<div class="field w-full md-6">

		<label>clicks</label>
		<div class="p-2">{{ bookmark.clicks }}</div>

	</div>
</div>