<div bookmark-wrapper>

	@if (bookmark$ | async; as bm) {

		<app-bookmark
			class="dark"
			[bookmark]="bm"
			[showDetails]="true"
			[disabled]="true"
			[popularButton]="false"
			[editable]="false"/>

	}

</div>

<div bookmark-form class="d-block flex-1 p-xs pt-xxl scrollable">

	<form class="d-flex-column gap">

		<div class="d-flex-column">

			<w-croppie
				class="jc-center"
				wType="circle"
				wClass="primary"/>

		</div>

		<div bookmark-form-right class="d-flex-column gap-lg p-xs">

			<!-- ID -->
			@if (bookmark?.id) {

				<w-input [formControl]="form.id" label="ID" [readonly]="true"/>

			}

			<!-- URLs -->
			@for (fcUrl of form.urls.controls; track $index) {

				<div>
					<w-input
						[formControl]="fcUrl"
						[label]="'URL' + (form.urls.controls.length > 1 && $index === 0 ? ' (Primary)' : '')"/>
						<!-- (inputChanged)="checkUrl($event, fcUrl)"/> -->
					@if($index === 0) {
						<button type="button" class="link" title="Add URL" (click)="addURL()">
							<svg wGlyph="add"></svg>
						</button>
					}
					@if($index > 0) {
						<button type="button" class="link" title="Remove URL" (click)="removeURL($index)">
							<svg wGlyph="remove"></svg>
						</button>
					}
				</div>

			}

			<!-- NAME -->
			<div>
				<w-input [formControl]="form.name" label="Name"/>
				<button type="button" class="link" title="Parse URL" (click)="nameFromURL()">
					<svg wGlyph="move_down"></svg>
				</button>
			</div>

			<!-- TITLE -->
			<div>
				<w-input [formControl]="form.title" label="Title"/>
				<button type="button" class="link" title="Lookup title" (click)="lookupTitle()">
					<svg wGlyph="search"></svg>
				</button>
			</div>

			<!-- TAGS -->
			<div>
				<w-input-tag
					[formControl]="form.tags"
					label="Tags"
					class="input-element"
					(tagInput)="onTagInput($event)"
					[suggestions]="(tagSuggestions$ | async) ?? []"/>
				<button type="button" class="link" [title]="'Toggle \''+TAG_POPULAR+'\''" (click)="onTogglePopular()">
					<!-- <span class="material-symbols-outlined" [class.filled]="[].includes(TAG_POPULAR)">favorite</span> -->
					<svg wGlyph="search"></svg>
				</button>
			</div>

		</div>

	</form>

</div>

<div form-element-buttons>

	@if (bookmark?.id) {

		<button type="button" (click)="onDelete()" class="error">
			<svg wGlyph="delete"></svg> Delete
		</button>

	}
	<button type="button" (click)="onSave()">
		<svg wGlyph="save"></svg> Save
	</button>

</div>
