<!--  bookmark-wrapper -->
<w-portal outletName="dialog-header-outlet">
	<div class="flex place-content-center my-4 min-h-24 pointer-events-none">

		@if (bookmark$ | async; as bm) {

			<app-compact-bookmark class="comp-dark min-w-[90%] md:min-w-[80%] lg:min-w-[70%]" [bookmark]="bm" tabindex="-1"/>

		}

	</div>
</w-portal>

<div bookmark-form class="block flex-1">

	<form [formGroup]="form.fg" class="flex md:flex-row flex-col gap-4">

		<div class="flex place-content-center">

			<w-croppie formControlName="image"/>

		</div>

		<!-- bookmark-form-right -->
		<div class="flex flex-col flex-1 gap-3 pb-3">

			<!-- ID -->
			@if (bookmark()?.id) {

				<w-input formControlName="id" label="ID" [readonly]="true"/>

			}

			<ng-container formArrayName="urls">

				<!-- URLs -->
				@for (fcUrl of form.urls.controls; track $index) {

					<div class="flex gap-1">

						<w-input
							[formControl]="fcUrl"
							[label]="'URL' + (form.urls.controls.length > 1 && $index === 0 ? ' (Primary)' : '')"/>
							<!-- (inputChanged)="checkUrl($event, fcUrl)"/> -->
						@if($index === 0) {

							<button type="button" class="btn btn-ghost" title="Add URL" (click)="addURL()">
								<svg wGlyph="add"></svg>
							</button>

						}
						@if($index > 0) {

							<button type="button" class="btn btn-ghost" title="Remove URL" (click)="removeURL($index)">
								<svg wGlyph="remove"></svg>
							</button>

						}

					</div>

				}

			</ng-container>

			<!-- NAME -->
			<div class="flex gap-1">
				<w-input formControlName="name" label="Name"/>
				<button type="button" class="btn btn-ghost" title="Parse URL" (click)="nameFromURL()">
					<svg wGlyph="move_down"></svg>
				</button>
			</div>

			<!-- TITLE -->
			<div class="flex gap-1">
				<w-input formControlName="title" label="Title"/>
				<button type="button" class="btn btn-ghost" title="Lookup title" (click)="lookupTitle()">
					<svg wGlyph="search"></svg>
				</button>
			</div>

			<!-- TAGS -->
			<div class="flex gap-1">
				<w-input-tag
					formControlName="tags"
					label="Tags"
					class="input-element"
					(tagInput)="onTagInput($event)"
					[suggestions]="(tagSuggestions$ | async) ?? []"/>
				<button type="button" class="btn btn-ghost" [title]="'Toggle \''+TAG_POPULAR+'\''" (click)="onTogglePopular()">
					@if(form.tags.value.includes(TAG_POPULAR)){

						<svg wGlyph="heart_filled"></svg>

					} @else {


						<svg wGlyph="heart"></svg>
					}
				</button>
			</div>

		</div>

	</form>

</div>

<!-- form-element-buttons -->
<w-portal outletName="dialog-footer-outlet">

	<div class="flex">

		@if (bookmark()?.id) {

			<button type="button" (click)="onDelete()" class="btn btn-error">
				<svg wGlyph="delete"></svg> Delete
			</button>

		}
		<button type="button" [disabled]="this.form.fg.pristine || this.form.fg.invalid" (click)="onSave()" class="ml-auto btn">
			<svg wGlyph="save"></svg> Save
		</button>

	</div>

</w-portal>
