<w-portal>

	<button
		class="link"
		(click)="fromClipboard()"
		[class.shake]="isShaking$ | async"
		title="Create from copied URL">
		<span class="material-symbols-outlined">content_paste</span> Clipboard
	</button>

	<button
		class="link"
		(click)="openAddDialog()">
		<span class="material-symbols-outlined">bookmark_add</span> Bookmark
	</button>

	<button (click)="open()">Open</button>

</w-portal>

@if (showNew()) {

	<w-modal (close)="close()">
		<app-bookmark-edit-container/>
	</w-modal>

}

<!-- Search and Tag-cloud -->
<app-bookmarks-search-and-tag-cloud-container/>

<!-- Bookmarks list -->
<app-bookmarks-container></app-bookmarks-container>
