<!-- top-right corner buttons -->
<app-portal outletName="portal-outlet-right">
	<button
		pButton
		pRipple
		type="button"
		label="Search"
		icon="pi pi-search"
		class="p-button-text p-button-sm"
		(click)="toggleTagCloud()">
	</button>
	<button
		pButton
		pRipple
		type="button"
		label="Add"
		icon="pi pi-plus"
		class="p-button-text p-button-sm"
		(click)="openAddDialog()">
	</button>
</app-portal>

<!-- Search and Tag-cloud -->
<app-bookmarks-search-and-tag-cloud-container tagCloud *ngIf="tagsVisible$ | async" @slideUpDown (search)="onSearch($event)"/>

<!-- Edit Dialog -->
<p-dialog
	*ngIf="editDialogVisible$ | async"
	header="Add Bookmark"
	[draggable]="false"
	[visible]="editDialogVisible$ | async"
	(visibleChange)="closeAddDialog()"
	[closeOnEscape]="true"
	[closable]="true"
	[modal]="true"
	[dismissableMask]="true"
	[maximizable]="(isBigScreen$ | async) || false"
	styleClass="bookmarkEditContainerComponent">

	<app-bookmark-edit-container></app-bookmark-edit-container>

</p-dialog>

<!-- Bookmarks list -->
<app-bookmarks-container></app-bookmarks-container>
