app-bookmarks-page {

	display                     : grid;
	grid-template-columns		: 1fr;
	grid-template-rows			: auto 1fr;
	grid-template-areas			: "t"
	 							  "b";

	@include md() {

		grid-template-columns	: repeat(12, 1fr);
		grid-template-areas		: ". . t t t t t t t t . ."
								  "b b b b b b b b b b b b";

	}

	app-bookmarks-search-and-tag-cloud-container {

		grid-area				: t;
		padding					: 0.5rem;
		margin					: 0 auto;

	}

	app-bookmarks-container {

		grid-area						: b;
		position						: relative;

		// &>section[bookmarks] {
		// 	position					: absolute;
		// 	display						: grid;
		// 	grid-template-columns		: 1fr;
		// 	grid-auto-rows				: 12rem;
		// 	grid-gap					: 0.5rem;
		// 	width						: 100%;
		// 	padding						: 0 0.5rem 0.5rem;

		// 	@include md() {
		// 		grid-template-columns	: repeat(auto-fill, minmax(35rem, 1fr));
		// 		grid-gap				: 1rem;
		// 	}

		// }

	}

}