<header>

	<div card_title>{{ project() ? 'Edit' : 'Add' }} Project</div>

</header>
<main>

	<form>

		<!-- ID -->
		<div *ngIf="project()?.id">
			<w-input [formControl]="form.id" label="ID" [readonly]="true"/>
		</div>

		<!-- NAME -->
		<div>
			<w-input [formControl]="form.name" label="Name"/>
		</div>

		<!-- DESCRIPTION -->
		<div>
			<w-input [formControl]="form.description" label="Description"/>
		</div>

		<!-- STATUS -->
		<div>
			<w-select [control]="form.status" name="Status" [nodes]="PROJECT_STATUS"/>
		</div>

		<!-- START -->
		<div>
			<w-input [formControl]="form.start" label="Start" type="date"/>
		</div>

		<!-- END -->
		<div>
			<w-input [formControl]="form.end" label="End" type="date"/>
		</div>

	</form>

</main>
<footer>

	<button type="button" (click)="onSave()"><span class="material-symbols-outlined">save</span> Save</button>

</footer>
