<header>

	<div card_title>{{ project() ? 'Edit' : 'Add' }} Project</div>

</header>
<section content>

	<form>

		<!-- STATUS -->
		<!-- <div>
			<w-select [formControl]="form.status" label="Status" [nodes]="PROJECT_STATUS"/>
		</div>

		<div>[[{{ form.status.valueChanges | async | json }}]]</div>
		<div><button type="button" (click)="form.status.setValue(ProjectStatus.completed)">change</button></div> -->

		<!-- ID -->
		<div *ngIf="project()?.id">
			<w-input [formControl]="form.id" label="ID" [readonly]="true"/>
		</div>

		<!-- NAME -->
		<div>
			<w-input [formControl]="form.name" label="Name"/>
		</div>

		<!-- DESCRIPTION -->
		<div>
			<w-input [formControl]="form.description" label="Description"/>
		</div>

		<!-- STATUS -->
		<div>
			<w-select [formControl]="form.status" label="Status" [nodes]="PROJECT_STATUS"/>
		</div>

		<!-- START -->
		<div>
			<w-input [formControl]="form.start" label="Start" type="date" [labelUp]="true"/>
		</div>

		<!-- END -->
		<div>
			<w-input [formControl]="form.end" label="End" type="date" [labelUp]="true"/>
		</div>

	</form>

</section>
<footer>

	<button type="button" (click)="onSave()"><span class="material-symbols-outlined">save</span> Save</button>

</footer>
