<header>

	<div card_title>{{ project() ? 'Edit' : 'Add' }} Project</div>

</header>
<main>

	<form>

		<!-- ID -->
		<div *ngIf="project()?.id">
			<w-input [control]="form.id" name="ID" [readonly]="true"/>
		</div>

		<!-- NAME -->
		<div>
			<w-input [control]="form.name" name="Term"/>
		</div>

		<!-- DESCRIPTION -->
		<div>
			<w-input [control]="form.description" name="Description"/>
		</div>

		<!-- STATUS -->
		<div>
			<w-select [control]="form.status" name="Status" [nodes]="PROJECT_STATUS"/>
		</div>

		<!-- START -->
		<div>
			<w-input [control]="form.start" name="Start" type="date"/>
		</div>

		<!-- END -->
		<div>
			<w-input [control]="form.end" name="End" type="date"/>
		</div>

		@for (taskGroup of form.taskGroups(); track taskGroup.objectId) {

			<fieldset>
				<legend>Task Group #{{$index + 1}}</legend>

				@if($index > 0) {

					<button
						type="button"
						class="icon-only small"
						(click)="form.removeTaskGroup(taskGroup.objectId)">
						<span class="material-symbols-outlined warn">do_not_disturb_on</span> Remove Task Group #{{ $index + 1 }}
					</button>

				}

				<div task_group>

					<!-- NAME -->
					<div>
						<w-input [control]="taskGroup.name" name="Name"/>
					</div>

				</div>
			</fieldset>

		}
		<div>
			<button type="button" (click)="form.addTaskGroup()">Add Task Group</button>
		</div>

	</form>

</main>
<footer>

	<button type="button" (click)="onSave()"><span class="material-symbols-outlined">save</span> Save</button>

</footer>
