blockquote {

	font-style		: italic;
	line-height		: 1.5;
	padding			: $gap-lg $gap-xxl;
	margin			: $gap 0;
	border-left		: 2px solid fn-var($col-success);

	& > p {

		margin-bottom	: 0;

	}

	& > small {

		display		: block;

	}

	&.small {

		padding		: $gap-sm $gap-xl;
    	margin		: $gap-xxs 0;

	}

	&.primary {

		color			: inherit !important;
		border-left		: 2px solid fn-var($col-primary);

	}

}
