body {

	@include mx-d-block;

	font-family			: $font-family;
	font-size			: $font-size;
	color				: fn-var($col-text);

	&[data-animation="to_hidden"] {

		@include mx-set-var($nav-animation-name, $nav-animation-to-hidden);

	}

	&[data-animation="to_half"] {

		@include mx-set-var($nav-animation-name, $nav-animation-to-half);

	}

	&[data-animation="to_full"] {

		@include mx-set-var($nav-animation-name, $nav-animation-to-full);

	}

	// &[data-big-screen="true"] {

	// 	&[data-sidebar="#{$sidebar-full}"] {

	// 		// set <nav>
	// 		@include mx-set-var($nav-current-width, $nav-full-width);
	// 		@include mx-set-var($nav-current-margin-left, 0);

	// 		// set <main>
	// 		@include mx-set-var($main-current-left, $nav-full-width);

	// 	}

	// 	&[data-sidebar="#{$sidebar-half}"] {

	// 		// set <nav>
	// 		@include mx-set-var($nav-current-width, $nav-half-width);
	// 		@include mx-set-var($nav-current-margin-left, 0);

	// 		// set <main>
	// 		@include mx-set-var($main-current-left, $nav-half-width);


	// 	}

	// 	&[data-sidebar="#{$sidebar-hidden}"] {

	// 		// set <nav>: full width on mobile
	// 		@include mx-set-var($nav-current-width, $nav-full-width);
	// 		@include mx-set-var($nav-current-margin-left, -$nav-full-width);

	// 		// set <main>: on mobile and bigscreen when sidebar hidden -> left: 0
	// 		@include mx-set-var($main-current-left, 0);

	// 	}

	// }

	// &[data-big-screen="false"] {

	// 	&[data-sidebar="#{$sidebar-full}"],
	// 	&[data-sidebar="#{$sidebar-half}"] {

	// 		// set <nav>
	// 		@include mx-set-var($nav-current-width, $nav-full-width);
	// 		@include mx-set-var($nav-current-margin-left, 0);

	// 		// set <main>
	// 		@include mx-set-var($main-current-left, 0);

	// 	}

	// 	&[data-sidebar="#{$sidebar-hidden}"] {

	// 		// set <nav>: full width on mobile
	// 		@include mx-set-var($nav-current-width, $nav-full-width);
	// 		@include mx-set-var($nav-current-margin-left, -$nav-full-width);

	// 		// set <main>: on mobile and bigscreen when sidebar hidden -> left: 0
	// 		@include mx-set-var($main-current-left, 0);

	// 	}

	// }

}
