body {

	display				: block;
	height				: 100vh;

	font-family			: var(--font-family);
	font-size			: var(--font-size);
	color				: hsl(var(--col-text-hue) var(--col-text-sat) var(--col-text-lig) / var(--col-text-alp));

	padding				: 0;
	margin				: 0;

}
