@mixin mx-button {

	@include mx-outline;
	@include mx-d-flex-center($display: inline-flex);

	--btn-height		: calc(#{fn-var($widget-height)} * 0.8);

	--btn-font-size			: #{fn-var($font-size)};
	--btn-padding-inline	: #{fn-var($gap-lg)};
	--btn-border-radius		: #{fn-var($border-radius-sm)};

	--btn-text-color		: #{fn-var($col-btn-default-text)};
	--btn-bg-color			: #{fn-var($col-btn-default-color)};
	--btn-border-color		: #{fn-var($col-btn-default-border)};

	font-size				: var(--btn-font-size);
	text-align				: center;

	color					: var(--btn-text-color);
	background-color		: var(--btn-bg-color);

	height					: var(--btn-height);

	border-color			: var(--btn-border-color);
	border-radius			: var(--btn-border-radius);
	border-width			: 1px;
	border-style			: solid;

	padding-inline			: var(--btn-padding-inline);

	background-image		: none;
	text-decoration			: none;
	white-space				: pre;
	cursor					: pointer;

	@include mx-transition(color background-color border-color);

	&:hover {

		--btn-bg-color		: #{fn-var($col-btn-default-color-hover)};

	}

	&:active {

		--btn-bg-color		: #{fn-var($col-btn-default-color-active)};
		@include mx-outline;

	}

	&.xl {

		--btn-font-size		: fn-var($font-size-xl);
		--btn-height	: calc(#{fn-var($widget-height-xl)} * 0.9);

	}

	&.lg {

		--btn-font-size		: fn-var($font-size-lg);
		--btn-height	: calc(#{fn-var($widget-height-lg)} * 0.9);

	}

	&.sm {

		--btn-font-size		: fn-var($font-size-sm);
		--btn-height	: calc(#{fn-var($widget-height-sm)} * 0.9);

	}

	&.xs {

		--btn-font-size		: fn-var($font-size-xxs);
		--btn-height	: calc(#{fn-var($widget-height-xs)} * 0.9);

	}

	&[disabled] {

		--btn-text-color		: #{fn-var($col-btn-disabled-text)};
		--btn-bg-color			: #{fn-var($col-btn-disabled-color)};
		--btn-bg-color-hover	: #{fn-var($col-btn-disabled-color-hover)};
		--btn-bg-color-active	: #{fn-var($col-btn-disabled-color-active)};
		--btn-border-color		: #{fn-var($col-btn-disabled-border)};
		cursor					: not-allowed;

		&:active {

			outline		: none;
			box-shadow	: none;

		}

	}

	&.warn {

		--btn-text-color		: #{fn-var($col-btn-warn-text)};
		--btn-bg-color			: #{fn-var($col-btn-warn-color)};
		--btn-border-color		: #{fn-var($col-btn-warn-border)};

		&:hover {

			--btn-bg-color		: #{fn-var($col-btn-warn-color-hover)};

		}

		&:active {

			--btn-bg-color		: #{fn-var($col-btn-warn-color-active)};

		}

	}

	&.danger {

		--btn-text-color		: #{fn-var($col-btn-danger-text)};
		--btn-bg-color			: #{fn-var($col-btn-danger-color)};
		--btn-border-color		: #{fn-var($col-btn-danger-border)};

		&:hover {

			--btn-bg-color		: #{fn-var($col-btn-danger-color-hover)};

		}

		&:active {

			--btn-bg-color		: #{fn-var($col-btn-danger-color-active)};

		}

	}

	&.link {

		--btn-text-color		: #{fn-var($col-btn-link-text)};
		--btn-bg-color			: #{fn-var($col-btn-link-color)};
		--btn-border-color		: #{fn-var($col-btn-link-border)};

		&:hover {

			&:not(:has(#{$glyph-selector})),
			&[data-before]::before,
			&[data-after]::after {

				text-decoration: underline;

			}

		}

	}

	&.rounded {

		--btn-border-radius		: fn-var($border-radius-round);
		--btn-padding			: fn-var($gap-sm);

		&.xs {

			--btn-padding		: fn-var($gap-xxs);

		}

		&.sm {

			--btn-padding		: fn-var($gap-xs);

		}

		&.lg {

			--btn-padding		: fn-var($gap);

		}

	}

	&.tag {

		border				: $zero;
		min-width			: 1rem;
		--btn-text-color	: #{fn-var($col-btn-tag-text)};
		--btn-bg-color		: #{fn-var($col-btn-tag-color)};
		--btn-border-radius : fn-var($border-radius-xl);

		&:hover {

			--btn-bg-color	: #{fn-var($col-btn-tag-color-hover)};

		}

		&:active {

			--btn-bg-color	: #{fn-var($col-btn-tag-color-active)};

		}

	}

	&[data-before]::before,
	&[data-after]::after {

		@include mx-d-inline-block;
		@include mx-font-size_inherit;
		@include mx-mx-xs;

	}

	&[data-before]::before { content: attr(data-before); }
	&[data-after]::after { content: attr(data-after); }

}

button,
.button {

	@include mx-button;

}
