@import 'helper';

code,
kbd,
pre,
samp,
tt {

	font-family			: var(--font-family-mono);

}

code,
kbd {

	font-size			: 90%;
	white-space			: pre-wrap;
	border-radius		: var(--border-radius-sm);
	padding				: var(--gap-xs) var(--gap-sm);
	background-color	: fn-hsl(bg-5);

}

pre {

	background-color	: fn-hsl(bg-5);
	font-size			: 90%;
	padding				: var(--gap);
	border-radius		: var(--border-radius-sm);
	overflow			: auto;
	margin-bottom		: var(--gap);

	@include mx-webkit-scrollbar;
	transition	: $bg-transition;

	& > code {

		background-color	: unset;
		padding				: 0;
		white-space			: pre;

	}

}
