h1, h2, h3, h4, h5, h6 {

	color		: hsl(var(--col-text-hue) var(--col-text-sat) var(--col-text-lig) / var(--col-text-alp));
	transition	: color $transition;

}

h1 {

	font-size		: var(--font-size-h1);
	font-weight		: bold;
	color			: hsl(var(--col-primary-hue) var(--col-primary-sat) var(--col-primary-lig) / var(--col-primary-alp));
	margin-bottom	: var(--gap);

}

h2 {

	font-size		: var(--font-size-h2);
	font-weight		: bold;
	padding-bottom	: var(--gap-sm);
	margin-bottom	: var(--gap);

	border-bottom	: 1px solid hsl(var(--col-text-secondary-hue) var(--col-text-secondary-sat) var(--col-text-secondary-lig) / var(--col-text-secondary-alp));
	transition		: border $transition;

}

h3 {

	font-size		: var(--font-size-h3);
	font-weight		: bold;
	margin-bottom	: var(--gap-sm);

}

h4 {

	font-size		: var(--font-size-h4);
	font-weight		: bold;
	color			: hsl(var(--col-primary-hue) var(--col-primary-sat) calc(var(--col-primary-lig) + 3%) / var(--col-primary-alp));
	margin-bottom	: var(--gap-sm);

}

h5 {

	font-size		: var(--font-size-h5);
	font-weight		: bold;
	font-style		: italic;
	color			: hsl(var(--col-primary-hue) var(--col-primary-sat) calc(var(--col-primary-lig) + 3%) / var(--col-primary-alp));
	margin-bottom	: var(--gap-xs);

}

h6 {

	font-size		: var(--font-size-h6);
	font-weight		: bold;
	font-style		: italic;
	color			: hsl(var(--col-text-secondary-hue) var(--col-text-secondary-sat) var(--col-text-secondary-lig) / var(--col-text-secondary-alp));
	margin-bottom	: var(--gap-xs);

}
