h1, h2, h3, h4, h5, h6 {

	color		: fn-hsl(text);
	transition	: color $transition;

}

h1 {

	@include mx-h1;
	margin-bottom	: var(--gap-xxl);

}

h2 {

	@include mx-h2;
	margin-bottom	: var(--gap-xxl);
	border-bottom	: 2px solid fn-hsl(text-secondary);
	transition		: border $transition;

}

h3 {

	@include mx-h3;
	margin-bottom	: var(--gap-xl);

}

h4 {

	@include mx-h4;
	margin-bottom	: var(--gap-xl);

}

h5 {

	@include mx-h5;
	margin-bottom	: var(--gap);

}

h6 {

	@include mx-h6;
	margin-bottom	: var(--gap);

}
