h1, h2, h3, h4, h5, h6 {

	color		: fn-hsl(text);
	transition	: color $transition;

}

h1 {

	font-size		: var(--font-size-h1);
	font-weight		: bold;
	color			: fn-hsl(primary);
	margin-bottom	: var(--gap-xxl);

}

h2 {

	font-size		: var(--font-size-h2);
	font-weight		: bold;
	padding-bottom	: var(--gap-sm);
	margin-bottom	: var(--gap-xxl);

	border-bottom	: 2px solid fn-hsl(text-secondary);
	transition		: border $transition;

}

h3 {

	font-size		: var(--font-size-h3);
	font-weight		: bold;
	margin-bottom	: var(--gap-xl);

}

h4 {

	font-size		: var(--font-size-h4);
	font-weight		: bold;
	color			: fn-hsl(primary, (lig: "+ 3%"));
	margin-bottom	: var(--gap-xl);

}

h5 {

	font-size		: var(--font-size-h5);
	font-weight		: bold;
	font-style		: italic;
	color			: fn-hsl(primary, (lig: "+ 3%"));
	margin-bottom	: var(--gap);

}

h6 {

	font-size		: var(--font-size-h6);
	font-weight		: bold;
	font-style		: italic;
	color			: fn-hsl(text-secondary);
	margin-bottom	: var(--gap);

}
