hr {

	margin-top		: 0;
	margin-bottom	: var(--gap-sm);
	border			: 0;
	border-top		: 1px solid fn-hsl(accent);

	transition		: border $transition;

	&.even {

		margin-top		: var(--gap-sm);
		margin-bottom	: var(--gap-sm);

	}

}
