hr {

	margin-top		: var(--gap-xs);
	height			: var(--gap);
	border			: 0;
	border-top		: 1px solid hsl(var(--col-primary-hue) var(--col-primary-sat) var(--col-primary-lig)/var(--col-primary-alp));

}
