mark {

	font-style			: italic;
	font-weight			: bold;
	padding-inline		: var(--gap-xs);
	color				: var(--col-text);
	background-color	: var(--col-accent);
	border-radius		: var(--border-radius-xs);

}
