table {

	width				: 100%;
	text-align			: left;
	white-space			: nowrap;
	margin-bottom		: var(--gap);

	display				: block;
    overflow-x			: auto;

	border				: none;
	border-collapse		: collapse;
	border-spacing		: 0;

	@include mx-transition(background-color);
	@include mx-webkit-scrollbar;

	& > thead {

		border-width		: 2px;
		border-style		: solid;
		border-color		: transparent;
		border-bottom-color	: hsl(var(--col-primary) / 70%);

		background-color	: color-mix(in hsl, var(--col-bg-nav), black 98%);
		@include mx-transition(border background-color);

		& > tr:first-child {

			& > th:first-child {

				border-top-left-radius	: var(--border-radius-sm);

			}

			& > th:last-child {

				border-top-right-radius	: var(--border-radius-sm);

			}

		}

	}

	& > tbody {

		// background-color	: fn-hsl(bg-2, (lig: "- 1%"));
		@include mx-transition(background-color);

		& > tr {

			// border-bottom	: 1px solid fn-hsl(bg-3, (lig: "- 1%"));
			@include mx-transition(border);

			&:last-child {

				border-bottom	: 0;

				& > td:first-child {

					border-bottom-left-radius	: var(--border-radius-sm);

				}

				& > td:last-child {

					border-bottom-right-radius	: var(--border-radius-sm);

				}

			}

		}

	}

	td,
	th {

		vertical-align		: middle;
		padding				: var(--gap) var(--gap-lg);
		white-space			: nowrap;

	}

	&.striped > tbody > tr:nth-of-type(2n) {

		// background-color	: fn-hsl(bg-3);

	}

	& > tfoot {

		//border-top			: 2px solid fn-hsl(text-secondary);

	}

}
