table {

	width				: 100%;
	text-align			: left;
	white-space			: nowrap;
	margin-bottom		: var(--gap);

	display				: block;
    overflow-x			: auto;

	border				: none;
	border-collapse		: collapse;
	border-spacing		: 0;

	& > thead {

		background-color	: fn-hsl(bg-4, (lig: "- 2%"));
		border-width		: 2px;
		border-style		: solid;
		border-color		: transparent;
		border-bottom-color	: fn-hsl(primary, (alp: "- 0.3"));

		& > tr:first-child {

			& > th:first-child {

				border-top-left-radius	: var(--border-radius-sm);

			}

			& > th:last-child {

				border-top-right-radius	: var(--border-radius-sm);

			}

		}

	}

	& > tbody {

		background-color	: fn-hsl(bg-4, (lig: "+ 1%"));

		& > tr {

			border-bottom	: 1px solid fn-hsl(bg-4, (lig: "- 1%"));

			&:last-child {

				border-bottom	: 0;

				& > td:first-child {

					border-bottom-left-radius	: var(--border-radius-sm);

				}

				& > td:last-child {

					border-bottom-right-radius	: var(--border-radius-sm);

				}

			}

		}

	}

	td,
	th {

		vertical-align		: middle;
		padding				: var(--gap) var(--gap-lg);
		white-space			: nowrap;

	}

	&.striped > tbody > tr:nth-of-type(2n) {

		background-color	: fn-hsl(bg-4);

	}

	& > tfoot {

		border-top			: 2px solid fn-hsl(text-secondary);

	}

}
