ul {

	margin		: var(--gap-sm);
	list-style	: disc;

	& > li {

		margin-left		: var(--gap-xl);
		margin-bottom	: var(--gap);
		line-height		: 1.2;
		text-align		: justify;
		&::marker {

			font-size		: var(--font-size-sm);
			color			: var(--col-text-secondary);
			@include mx-transition(color);

		}

		&:last-child {

			margin-bottom	: 0;

		}

	}

	& ul {

		list-style-type		: circle;
		& ul {

			list-style-type	: square;

		}

	}

	&.clear {

		list-style	: none;
		margin		: 0;

		& > li {

			margin-left		: 0;

		}

	}

}
