ul {

	margin		: var(--gap-sm);
	list-style	: disc;

	& > li {

		margin-left		: var(--gap-xl);
		margin-bottom	: var(--gap);
		line-height		: 1.2;
		text-align		: justify;
		&::marker {

			font-size		: var(--font-size-sm);
			color			: fn-hsl(text-secondary);
			transition		: color 1s cubic-bezier(0.25, 1, 0.25, 1);

		}

	}

}
