<!-- DIALOG HEADER -->
<header class="flex items-center">
	<div class="font-bold text-2xl text-content">Exam Details</div>
	<div class="ml-auto">

		<button
			class="btn btn-glyph"
			(click)="onClose()">
			<svg wGlyph="close"></svg>
		</button>

	</div>
</header>

@let entity = exam();
@if (entity) {

	<div class="mt-2 md:mt-4">

		<div class="bg-component-dark p-2 rounded-lg">
			<small class="flex items-center gap-1 text-secondary text-xs">{{entity.testSuite.id}}</small>
			<div>{{ entity.testSuite.name | hideEnum }}</div>
		</div>
		<div class="flex gap-1 mt-1 md:mt-2 ml-2">
			<div class="flex justify-center items-start">
				<svg wGlyph="down_right"></svg>
			</div>
			<div class="flex-1 bg-component-dark p-2 rounded-lg">
				<small class="flex items-center gap-1 text-secondary text-xs">{{entity.id}}</small>
				<div>{{ entity.name | hideEnum }}</div>
			</div>
		</div>

	</div>

}

<!-- DIALOG CONTENT WRAPPER - SCROLLBAR -->
<section class="flex-1 overflow-y-auto scrollbar scrollbar-dark scrollbar-gutter-stable">

	<!-- DIALOG CONTENT -->
	<div class="flex flex-col p-1 md:p-2 h-full">

		@if (exam(); as entity) {

			<app-exam-details [exam]="entity" [sessions]="sessions()" />

		}

	</div>

</section>

<footer id="dialog-footer-outlet" class="mt-2 md:mt-4"></footer>
