<ng-container *ngIf="!selectedTags || selectedTags.length < 1; else selected">

	<button
		*ngFor="let tag of tags"
		pButton
		type="button"
		[value]="tag"
		(click)="onTagClick(tag)"
		class="p-button p-button-sm"></button>

</ng-container>
<ng-template #selected>

	<button
		pButton
		type="button"
		icon="pi pi-filter-slash"
		(click)="emptyFilter()"
		class="p-button p-button-sm"></button>
	<button
		*ngFor="let tag of selectedTags"
		pButton
		type="button"
		[value]="tag"
		(click)="onTagClick(tag)"
		class="p-button p-button-sm"></button>

</ng-template>